<fieldset>
  <legend>
    <i class="fa fa-link" aria-hidden="true"></i>
    <%= t 'admin.resellers.edit.analysis_urls' %>
  </legend>

  <%= f.text_field :audience_url do %>
    <p class="help-block"><%= t 'admin.resellers.form.audience_url_help' %></p>
  <% end %>
  <%= f.text_field :behavior_url do %>
    <p class="help-block"><%= t 'admin.resellers.form.behavior_url_help' %></p>
  <% end %>

  <%= f.text_field :customer_audience_url do %>
    <p class="help-block"><%= t 'admin.resellers.form.customer_audience_url_help' %></p>
  <% end %>

  <%= f.text_field :customer_behavior_url do %>
    <p class="help-block"><%= t 'admin.resellers.form.customer_behavior_url_help' %></p>
  <% end %>
</fieldset>
