<%= twitter_bootstrap_form_for [:admin, @reseller], layout: :horizontal do |f| %>
  <%= render 'shared/error_messages', model: @reseller %>
  <%= f.text_field :host, required: true do %>
    <p class="help-block"><%= t '.host_help' %></p>
  <% end %>

  <div class="form-group">
    <label class="col-md-2 control-label" for="reseller_url_protocol_http">
      <%= t('activerecord.attributes.reseller.url_protocol') %>
    </label>

    <div class="col-md-6 input-append form-inline">
      <label>
        <input type="radio" name="reseller[url_protocol]" id="reseller_url_protocol_http" value="http" <%= @reseller.url_protocol == 'http' ? 'checked' : '' %>/>
        <%= t('admin.resellers.form.protocol_url_http') %>
      </label>

      <label>
        <input type="radio" name="reseller[url_protocol]" id="reseller_url_protocol_https" value="https" <%= @reseller.url_protocol == 'https' ? 'checked' : '' %>/>
        <%= t('admin.resellers.form.protocol_url_https') %>
      </label>
    </div>
  </div>

  <%= f.text_field :name, required: true do %>
    <p class="help-block"><%= t '.name_help' %></p>
  <% end %>

  <%= f.text_field :application_name do %>
    <p class="help-block"><%= t '.application_name_help' %></p>
  <% end %>

  <%= render 'help_urls', f: f %>

  <%= render 'analysis_urls', f: f %>

  <%= render 'social_urls', f: f %>

  <%= render 'logo', f: f %>

  <%= f.actions do %>
    <%= f.submit %>
  <% end %>
<% end %>
