<%= twitter_bootstrap_form_for [:admin, @reseller], layout: :horizontal do |f| %>
  <%= render 'shared/error_messages', model: @reseller %>
  <%= f.text_field :host, required: true do %>
    <p class="help-block"><%= t '.host_help' %></p>
  <% end %>
  <%= f.text_field :name, required: true do %>
    <p class="help-block"><%= t '.name_help' %></p>
  <% end %>
  <%= f.text_field :welcome_url do %>
    <p class="help-block"><%= t '.welcome_url_help' %></p>
  <% end %>
  <%= f.text_field :help_url do %>
    <p class="help-block"><%= t '.help_url_help' %></p>
  <% end %>
  <%= f.text_field :contact_url do %>
    <p class="help-block"><%= t '.contact_url_help' %></p>
  <% end %>
  <%= f.text_field :website_url do %>
    <p class="help-block"><%= t '.website_url_help' %></p>
  <% end %>
  <%= f.file_field :logo_large do %>
    <p class="help-block"><%= t '.logo_large_help' %></p>
  <% end %>
  <% if @reseller.logo_large.url %>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-6">
        <%= image_tag @reseller.logo_large.url, width: '100%' %>
      </div>
    </div>
  <% end %>
  <%= f.file_field :logo_small do %>
    <p class="help-block"><%= t '.logo_small_help' %></p>
  <% end %>
  <% if @reseller.logo_small.url %>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-6">
        <%= image_tag @reseller.logo_small.url, width: 150, height: 40 %>
      </div>
    </div>
  <% end %>
  <%= f.file_field :favicon do %>
    <p class="help-block"><%= t '.favicon_help' %></p>
  <% end %>
  <% if @reseller.favicon.url %>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-6">
        <%= image_tag @reseller.favicon.url, width: 16, height: 16 %>
      </div>
    </div>
  <% end %>
  <%= f.actions do %>
    <%= f.submit %>
  <% end %>
<% end %>
