<div id="edit-position">
<%= twitter_bootstrap_form_for(@destination, url: api_web_v01_update_position_destination_path(@destination), default_label_class: 'col-md-4 control-label', layout: :horizontal, html: {class: "form-horizontal", "data-destination_id" => (@destination.id or 0)}) do |f| %>
  <%= render 'shared/error_messages', model: @destination %>
  <%= f.number_field :lat, { step: 'any'} %>
  <%= f.number_field :lng, { step: 'any'} %>
  <%= f.actions do %>
    <%= f.submit t('helpers.submit.update', model: nil) %>
  <% end %>
<% end %>
</div>
<div id="map"></div>
<%
layers = (current_user.customer.profile.layers + [current_user.layer]).sort_by(&:id).uniq.collect{ |layer|
  {
    name: layer.name,
    url: request.ssl? ? layer.urlssl : layer.url,
    attribution: layer.map_attribution,
    default: layer == current_user.layer,
    overlay: layer.overlay
  }
}
controller.js(
  destination_id: @destination.id || 0,
  map_layers: Hash[layers.map{ |l| l[:name] }.zip(layers)],
  map_lat: @destination.lat || @destination.customer.default_position[:lat],
  map_lng: @destination.lng || @destination.customer.default_position[:lng],
  map_attribution: current_user.layer.map_attribution
)
%>
