<div id="map"></div>
<%= twitter_bootstrap_form_for(@destination, url: api_web_v01_update_positiion_destination_path(@destination), layout: :horizontal, html: {class: "form-horizontal", "data-destination_id" => (@destination.id or 0)}) do |f| %>
  <%= render 'shared/error_messages', model: @destination %>
  <%= f.text_field :lat %>
  <%= f.text_field :lng %>
  <%= f.actions do %>
    <%= f.submit %>
  <% end %>
<% end %>
<%
controller.js(
  destination_id: @destination.id || 0,
  map_layer_url: request.ssl? ? current_user.layer.urlssl : current_user.layer.url,
  map_lat: @destination.customer.stores[0].lat,
  map_lng: @destination.customer.stores[0].lng,
  map_attribution: current_user.layer.map_attribution
)
%>
