<div class='movableContent'>
  <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container">
    <tr height="5">
      <td width="200">&nbsp;</td>
      <td width="200">&nbsp;</td>
      <td width="200">&nbsp;</td>
    </tr>
    <tr>
      <td width="200" valign="top">&nbsp;</td>
      <td width="200" valign="top" align="center">
        <div class="vertigo">
          <div>
            <a href="<%= @home_link %>">
              <%= email_image_tag(@logo_link, alt: "Logo #{@name}", width: '100%', height: '100%') %>
            </a>
          </div>
        </div>
      </td>
      <td width="200" valign="top">&nbsp;</td>
    </tr>
  </table>
</div>
<div class='movableContent'>
  <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container">
    <tr>
      <td width="100%" colspan="3" align="center" style="padding-bottom:10px;padding-top:5px;">
      </td>
    </tr>
    <tr>
      <td width="50">&nbsp;</td>
      <td width="1000" align="center">
        <div class="contentEditableContainer contentTextEditable">
          <div class="contentEditable" align='justify'>
            <div id="StyleForText">
              <p>
                <%= I18n.t('user_mailer.layout.welcome', name: @name) %>
              </p>

              <p>
                <%= I18n.t('user_mailer.documentation.help').html_safe %>

                <% if @contact_link %>
                  <%= I18n.t('user_mailer.documentation.help_contact').html_safe %>
                  <br/>

                  <div style="text-align:center;">
                    <a class="btn-green" target="blank" href="<%= @contact_link %>"><%= I18n.t('user_mailer.documentation.help_link').html_safe %></a>
                  </div>
                  <br/>
                <% end %>
              </p>

              <p>
                <%= I18n.t('user_mailer.layout.staff.content', name: @name).html_safe %>
                <br />
              </p>

              <% if @contact_link %>
                <p class="block-blue"><%= I18n.t('user_mailer.documentation.title').html_safe %></p>
                <p>
                  <b><%= I18n.t('user_mailer.documentation.subtitle') %>
                    <a target='_blank' href="<%= @help_link %>">documentation</a> </b>:
                  <br/>
                  <br/>
                </p>

                <div class="vertigo">
                  <div style="text-align:center;">
                    <a class="btn-green childvertigo" target="_blank" href="<%= "#{@help_link}/manual/00-before_start.html" %>"><%= I18n.t('user_mailer.documentation.before').html_safe %></a>
                  </div>
                  <div style="text-align:center;">
                    <a class="btn-green childvertigo" target="_blank" href="<%= "#{@help_link}/manual/01-start.html" %>"><%= I18n.t('user_mailer.documentation.start', name: @name).html_safe %></a>
                  </div>
                  <div style="text-align:center;">
                    <a class="btn-green childvertigo" target="_blank" href="<%= "#{@help_link}/manual/02-global_settings_users.html" %>"><%= I18n.t('user_mailer.documentation.parameters').html_safe %></a>
                  </div>
                </div>
                <br/>
                <p>
                  <%= I18n.t('user_mailer.documentation.objectives', name: @name).html_safe %>
                </p>
              <% end %>

              <p>
                <%= I18n.t('user_mailer.layout.staff.greetings', name: @name).html_safe %>
              </p>
              <p class="signature">
                <%= I18n.t('user_mailer.layout.staff.signature', name: @name).html_safe %>
              </p>
            </div>
          </div>
        </div>
      </td>
      <td width="50">&nbsp;</td>
    </tr>
  </table>
</div>
<div class='movableContent'>
  <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container">
    <tr>
      <td width="100%" colspan="2" style="padding-top:65px;">
        <hr style="height:1px;border:none;color:#333;background-color:#ddd;"/>
      </td>
    </tr>
    <tr>
      <td width="60%" height="70" valign="middle" style="padding-bottom:20px;">
        <div class="contentEditableContainer contentTextEditable">
          <div class="contentEditable" align='left'>
          </div>
        </div>
      </td>
      <td width="40%" height="70" align="right" valign="top" style="padding-bottom:20px;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" align='right'>
          <tr>
            <td width='57%'></td>
            <% if @facebook_link %>
              <td valign="top" width='34'>
                <div class="contentEditableContainer contentFacebookEditable" style='display:inline;'>
                  <div class="contentEditable">
                    <a target='_blank' href="<%= @facebook_link %>" data-default="placeholder" style="text-decoration:none;">
                      <div>
                        <%= email_image_tag('icon_facebook.png', alt: I18n.t('user_mailer.layout.links.facebook'), width: '30', height: '30', style: 'margin-right:30px;') %>
                      </div>
                    </a>
                  </div>
                </div>
              </td>
            <% end %>

            <% if @twitter_link %>
              <td valign="top" width='34'>
                <div class="contentEditableContainer contentTwitterEditable" style='display:inline;'>
                  <div class="contentEditable">
                    <a target='_blank' href="<%= @twitter_link %>" data-default="placeholder" style="text-decoration:none;">
                      <div>
                        <%= email_image_tag('icon_twitter.png', alt: I18n.t('user_mailer.layout.links.twitter'), width: '30', height: '30', style: 'margin-right:30px;') %>
                      </div>
                    </a>
                  </div>
                </div>
              </td>
            <% end %>

            <% if @linkedin_link %>
              <td valign="top" width='34'>
                <div class="contentEditableContainer contentImageEditable" style='display:inline;'>
                  <div class="contentEditable">
                    <a target='_blank' href="<%= @linkedin_link %>" data-default="placeholder" style="text-decoration:none;">
                      <div>
                        <%= email_image_tag('icon_linkedin.png', alt: I18n.t('user_mailer.layout.links.linkedin'), width: '30', height: '30', style: 'margin-right:30px;') %>
                      </div>
                    </a>
                  </div>
                </div>
              </td>
            <% end %>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
