<table cellspacing="0" cellpadding="0" width="600" class="w320">
  <tr>
    <td class="header-lg">
      <p><%= I18n.t('user_mailer.subscribe.title') %></p>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        <%= raw I18n.t('user_mailer.subscribe.try_period_over', name: @application_name) %>
      </p>
      <p>
        <%= raw I18n.t('user_mailer.subscribe.content') %>
      </p>
    </td>
  </tr>
  <tr>
    <td class="button">
      <div>
        <a target="_blank" class="button-mobile" href="https://www.mapotempo.com/<%= I18n.locale.to_s %>/mapotempo-web-subscription-request <%= @parameters[:link] %>" style="margin-bottom: 15px;padding:5px;font-weight:800; color:#ffffff; border: 1px solid #FF7534; border-radius: 2px; box-shadow: 1px 1px 1px #FFBD9E;display:inline-block;font-family:'Cabin', Helvetica, Arial, sans-serif;font-size:14px;line-height:45px;text-align:center;text-decoration:none;width:350px;-webkit-text-size-adjust:none;background-color: #FF7534">
          <%= I18n.t('user_mailer.subscribe.link', name: @application_name) %>
        </a>

        <p>
          <%= I18n.t('user_mailer.layout.staff.greetings').html_safe %>
        </p>
        <p class="signature">
          <%= I18n.t('user_mailer.layout.staff.signature', name: @user.customer.reseller.name).html_safe %>
        </p>
      </div>
    </td>
  </tr>
</table>

<% content_for :footer do %>
  <%= render 'user_mailer/user_mail_layouts/full_links_footer' %>
<% end %>
