<%= twitter_bootstrap_form_for @vehicle_usage, layout: :horizontal, html: { class: 'number-to-percentage form-horizontal'} do |f| %>
  <%= render 'shared/error_messages', model: @vehicle_usage %>
  <fieldset>
    <legend class="scheduler-border">
      <a data-toggle="collapse" data-parent="" href="#collapseVehicle"<% if @vehicle_usage_sets.count > 1 %> class="collapsed"<% end %>><%= t 'vehicle_usages.form.vehicle.legend' %></a>
    </legend>
    <div id="collapseVehicle" class="collapse<% if @vehicle_usage_sets.count < 2 %> in<% end %>">
      <% if @vehicle_usage_sets[0].customer.enable_multi_vehicle_usage_sets %>
      <p class="help-block"><%= t 'vehicle_usages.form.vehicle.help' %></p>
      <% end %>
      <%= twitter_bootstrap_fields_for 'vehicle_usage[vehicle]', @vehicle_usage.vehicle, layout: :horizontal do |f| %>
        <%= f.hidden_field :id %>
        <% if @vehicle_usage.vehicle.customer.enable_references %>
          <%= f.text_field :ref do %>
            <p class="help-block"><%= t 'vehicles.form.ref.help' %></p>
          <% end %>
        <% end %>
        <%= f.text_field :name, required: true %>
        <%= f.text_field :contact_email, {input_group: '@'} do %>
          <p class="help-block"><%= t 'vehicles.form.contact_email.help' %></p>
        <% end %>
        <div id="vehicle_usage_vehicle_consumption_input" class="form-group">
          <label class="sr-only" for="vehicle_usage_vehicle_emission"><%= t 'activerecord.attributes.vehicle.emission' %></label>
          <label class="sr-only" for="vehicle_usage_vehicle_consumption"><%= t 'activerecord.attributes.vehicle.consumption' %></label>
          <label class="col-md-2 control-label"><%= t 'activerecord.attributes.vehicle.emission' %> / <%= t 'activerecord.attributes.vehicle.consumption' %></label>
          <div class="col-md-6">
            <div class="input-group">
              <%= select 'vehicle_usage[vehicle]', :emission, Vehicle.emissions_table, { include_blank: t('web.form.empty_entry'), selected: @vehicle_usage.vehicle.emission }, class: 'form-control' %>
              <span class="input-group-addon"><%= t 'all.unit.kgco2e_l_html' %></span>
              <%= text_field 'vehicle_usage[vehicle]', :consumption, value: @vehicle_usage.vehicle.consumption, class: 'form-control' %>
              <span class="input-group-addon"><%= t 'all.unit.l_100km' %></span>
            </div>
            <p class="help-block"><%= t 'vehicles.form.emissions.help' %> - <%= t 'vehicles.form.consumption.help' %></p>
          </div>
        </div>
        <div id="vehicle_usage_vehicle_capacity_input" class="form-group">
          <label class="sr-only" for="vehicle_usage_vehicle_capacity"><%= t 'activerecord.attributes.vehicle.capacity1_1' %></label>
          <label class="sr-only" for="vehicle_usage_vehicle_capacity1_1_unit"><%= t 'activerecord.attributes.vehicle.consumption' %></label>
          <label class="sr-only" for="vehicle_usage_vehicle_capacity"><%= t 'activerecord.attributes.vehicle.capacity1_2' %></label>
          <label class="sr-only" for="vehicle_usage_vehicle_capacity1_2_unit"><%= t 'activerecord.attributes.vehicle.consumption' %></label>
          <label class="col-md-2 control-label"><%= t 'vehicles.form.capacity.label' %></label>
          <div class="col-md-6">
            <div class="input-group">
              <%= number_field 'vehicle_usage[vehicle]', :capacity1_1, min: 1, value: @vehicle_usage.vehicle.capacity1_1, class: 'form-control width_1_2' %>
              <%= text_field 'vehicle_usage[vehicle]', :capacity1_1_unit, value: @vehicle_usage.vehicle.capacity1_1_unit, class: 'form-control width_1_2', placeholder: t('vehicles.form.capacity_unit.placeholder') %>
              <span class="input-group-addon"><%= content_tag('i', '', class: 'fa fa-archive fa-fw') %></span>
            </div>
            <div class="input-group"<% if !@vehicle_usage.vehicle.capacity1_2 && !@vehicle_usage.vehicle.capacity1_2_unit %> style="display: none;"<% end %>>
              <%= number_field 'vehicle_usage[vehicle]', :capacity1_2, min: 1, value: @vehicle_usage.vehicle.capacity1_2, class: 'form-control width_1_2' %>
              <%= text_field 'vehicle_usage[vehicle]', :capacity1_2_unit, value: @vehicle_usage.vehicle.capacity1_2_unit, class: 'form-control width_1_2', placeholder: t('vehicles.form.capacity_unit.placeholder') %>
              <span class="input-group-addon"><%= content_tag('i', '', class: 'fa fa-archive fa-fw') %></span>
            </div>
            <p class="help-block"><%= t 'vehicles.form.capacity.help' %> - <%= t 'vehicles.form.capacity_unit.help' %><% if !@vehicle_usage.vehicle.capacity1_2 && !@vehicle_usage.vehicle.capacity1_2_unit %> - <a href="#" id="capacity-unit-add"><%= t 'vehicles.form.capacity_unit.add' %></a><% end %></p>
          </div>
        </div>
        <div id="vehicle_router_input" class="form-group">
          <label class="col-md-2 control-label" for="vehicle_router"><%= t 'activerecord.attributes.vehicle.router' %></label>
          <div class="col-md-6">
            <div class="input-group">
              <% routers = @vehicle_usage.vehicle.customer.profile.routers %>
              <%= select_tag 'vehicle_usage[vehicle][router]', grouped_options_for_select([[t('activerecord.attributes.router.router_dimensions.time'), routers.select(&:time?).collect{ |router|
                  [router.name + ' - ' + t('activerecord.attributes.router.router_dimensions.time'), router.id.to_s + '_time']
                  }]] + [[t('activerecord.attributes.router.router_dimensions.distance'), routers.select(&:distance?).collect{ |router|
                  [router.name + ' - ' + t('activerecord.attributes.router.router_dimensions.distance'), router.id.to_s + '_distance']
                  }]],
                @vehicle_usage.vehicle.router_id || @vehicle_usage.vehicle.router_dimension ? (@vehicle_usage.vehicle.router_id || @vehicle_usage.vehicle.customer.router_id).to_s + '_' + (@vehicle_usage.vehicle.router_dimension || @vehicle_usage.vehicle.customer.router_dimension) : nil),
                include_blank: t('vehicles.form.router.default') + ' (' + @vehicle_usage.vehicle.customer.router.name + ' - ' + t('activerecord.attributes.router.router_dimensions.' + @vehicle_usage.vehicle.customer.router_dimension) + ')', class: 'form-control' %>
              <span class="input-group-addon"><i class="fa fa-gear fa-fw"></i></span>
            </div>
            <p class="help-block"><%= t 'vehicles.form.router.help' %></p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="speed_multiplicator">
            <%= t("activerecord.attributes.vehicle.speed_multiplicator") %>
          </label>
          <div class="col-md-6 input-append">
            <div class="input-group">
              <%= number_field_tag :speed_multiplicator, (@vehicle_usage.vehicle.speed_multiplicator ? (@vehicle_usage.vehicle.speed_multiplicator * 100).to_i : nil), { min: 50, max: 150, placeholder: t("vehicles.form.speed_multiplicator.default", n: (@vehicle_usage.vehicle.customer.speed_multiplicator ? (@vehicle_usage.vehicle.customer.speed_multiplicator * 100).to_i : 75)), class: "form-control number-to-percentage" } %>
              <span class="input-group-addon">%</span>
            </div>
            <p class="help-block">
              <%= t("vehicles.form.speed_multiplicator.help") %>
            </p>
          </div>
        </div>

        <% if f.object.customer.tomtom? %>
          <%= f.select :tomtom_id, t('vehicles.form.tomtom_id'), [] %>
        <% end %>
        <% if f.object.customer.teksat? %>
          <%= f.select :teksat_id, t('vehicles.form.teksat_id'), [] %>
        <% end %>
        <% if f.object.customer.orange? %>
          <%= f.select :orange_id, t('vehicles.form.orange_id'), [] %>
        <% end %>
        <% if @vehicle_usage.vehicle.customer.enable_masternaut && !@vehicle_usage.vehicle.customer.masternaut_user.blank? && !@vehicle_usage.vehicle.customer.masternaut_password.blank? %>
          <%= f.text_field :masternaut_ref %>
        <% end %>
        <%= f.select :color, [], (Vehicle.colors_table + [@vehicle_usage[:color]]).compact.uniq %>
      <% end %>
    </div>
  </fieldset>

  <fieldset>
    <legend class="scheduler-border"><%= t('vehicle_usages.form.vehicle_usage.legend', s: @vehicle_usage.vehicle_usage_set.name) %></legend>
    <% if @vehicle_usage_sets[0].customer.enable_multi_vehicle_usage_sets %>
    <p class="help-block"><%= t 'vehicle_usages.form.vehicle_usage.help' %></p>
    <% end %>
    <div id="vehicle_usage_open_close_input" class="form-group">
      <label class="sr-only" for="vehicle_usage_open"><%= t 'activerecord.attributes.vehicle_usage.open' %></label>
      <label class="sr-only" for="vehicle_usage_close"><%= t 'activerecord.attributes.vehicle_usage.close' %></label>
      <label class="col-md-2 control-label"><%= t '.open_close' %></label>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon"><%= t 'web.form.from_time' %></span>
          <%= text_field :vehicle_usage, :open,
            class: 'form-control',
            placeholder: t('vehicle_usages.form.open.default', n: l(@vehicle_usage.vehicle_usage_set.open.utc, format: :hour_minute)),
            value: @vehicle_usage.open && l(@vehicle_usage.open.utc, format: :hour_minute) %>
          <span class="input-group-addon"><%= t 'web.form.to_time' %></span>
          <%= text_field :vehicle_usage, :close,
            class: 'form-control',
            placeholder: t('vehicle_usages.form.close.default', n: l(@vehicle_usage.vehicle_usage_set.close.utc, format: :hour_minute)),
            value: @vehicle_usage.close && l(@vehicle_usage.close.utc, format: :hour_minute) %>
          <span class="input-group-addon"><i class="fa fa-arrows-h fa-fw"></i></span>
        </div>
        <p class="help-block"><%= t '.open_close_help' %></p>
      </div>
    </div>
    <div id="vehicle_usage_store_input" class="form-group">
      <label class="sr-only" for="vehicle_usage_store_start"><%= t 'activerecord.attributes.vehicle_usage.store_start' %></label>
      <label class="sr-only" for="vehicle_usage_store_stop"><%= t 'activerecord.attributes.vehicle_usage.store_stop' %></label>
      <label class="col-md-2 control-label"><%= t '.stores' %></label>
      <div class="col-md-6">
        <div class="input-group">
          <%= collection_select :vehicle_usage, :store_start_id, @vehicle_usage.vehicle.customer.stores, :id, :name, {
            include_blank: t('vehicle_usages.form.store.default') + ' (' + (@vehicle_usage.vehicle_usage_set.store_start ? @vehicle_usage.vehicle_usage_set.store_start.name : t('vehicle_usages.form.store.none')) + ')'}, {
            class: 'form-control width_1_2' } %>
          <%= collection_select :vehicle_usage, :store_stop_id, @vehicle_usage.vehicle.customer.stores, :id, :name, {
            include_blank: t('vehicle_usages.form.store.default') + ' (' + (@vehicle_usage.vehicle_usage_set.store_stop ? @vehicle_usage.vehicle_usage_set.store_stop.name : t('vehicle_usages.form.store.none')) + ')'}, {
            class: 'form-control width_1_2' } %>
          <span class="input-group-addon"><%= content_tag('i', '', class: 'fa fa-home fa-fw') %></span>
        </div>
        <p class="help-block"><%= t '.stores_help' %></p>
      </div>
    </div>
    <div id="vehicle_usage_service_time_input" class="form-group">
      <label class="sr-only" for="vehicle_usage_service_time_start"><%= t 'activerecord.attributes.vehicle_usage.service_time_start' %></label>
      <label class="sr-only" for="vehicle_usage_service_time_end"><%= t 'activerecord.attributes.vehicle_usage.service_time_end' %></label>
      <label class="col-md-2 control-label"><%= t '.service_times' %></label>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon"><%= t '.service_time_start_addon' %></span>
          <%= text_field :vehicle_usage, :service_time_start,
            class: 'form-control',
            placeholder: f.object.vehicle_usage_set.service_time_start ? t("vehicle_usages.form.service_time.default", n: l(f.object.vehicle_usage_set.service_time_start.utc, format: :hour_minute)) : t('all.unit.hour_minute'),
            value: @vehicle_usage.service_time_start && l(@vehicle_usage.service_time_start.utc, format: :hour_minute) %>
          <span class="input-group-addon"><%= t '.service_time_end_addon' %></span>
          <%= text_field :vehicle_usage, :service_time_end,
            class: 'form-control',
            placeholder: f.object.vehicle_usage_set.service_time_end ? t("vehicle_usages.form.service_time.default", n: l(f.object.vehicle_usage_set.service_time_end.utc, format: :hour_minute)) : t('all.unit.hour_minute'),
            value: @vehicle_usage.service_time_end && l(@vehicle_usage.service_time_end.utc, format: :hour_minute) %>
          <span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
        </div>
        <p class="help-block"><%= t '.service_times_help' %></p>
      </div>
    </div>
    <div id="vehicle_usage_rest_input" class="form-group">
      <label class="sr-only" for="vehicle_usage_rest_duration"><%= t 'activerecord.attributes.vehicle_usage.rest_duration' %></label>
      <label class="sr-only" for="vehicle_usage_store_rest"><%= t 'activerecord.attributes.vehicle_usage.store_rest' %></label>
      <label class="col-md-2 control-label"><%= t '.rest_duration_store' %></label>
      <div class="col-md-6">
        <div class="input-group">
          <%= text_field :vehicle_usage, :rest_duration,
            value: @vehicle_usage.rest_duration && l(@vehicle_usage.rest_duration.utc, format: :hour_minute),
            placeholder: !@vehicle_usage.vehicle_usage_set.rest_duration.nil? ? t('vehicle_usages.form.rest_duration.default', n: l(@vehicle_usage.vehicle_usage_set.rest_duration.utc, format: :hour_minute)) : t('all.unit.hour_minute'),
            class: 'form-control width_1_2' %>
          <%= collection_select :vehicle_usage, :store_rest_id, @vehicle_usage.vehicle.customer.stores, :id, :name, {
            include_blank: t('vehicle_usages.form.store.default') + ' (' + (@vehicle_usage.vehicle_usage_set.store_rest ? @vehicle_usage.vehicle_usage_set.store_rest.name : t('vehicle_usages.form.store.none')) + ')'}, {
            class: 'form-control width_1_2' } %>
          <span class="input-group-addon"><%= content_tag('i', '', class: 'fa fa-coffee fa-fw') %></span>
        </div>
        <p class="help-block"><%= t '.rest_duration.help' %></p>
      </div>
    </div>
    <div id="vehicle_usage_rest_start_stop_input" class="form-group">
      <label class="sr-only" for="vehicle_usage_rest_start"><%= t 'activerecord.attributes.vehicle_usage.rest_start' %></label>
      <label class="sr-only" for="vehicle_usage_rest_stop"><%= t 'activerecord.attributes.vehicle_usage.rest_stop' %></label>
      <label class="col-md-2 control-label"><%= t '.rest_start_stop' %></label>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon"><%= t 'web.form.from_time' %></span>
          <%= text_field :vehicle_usage, :rest_start,
            class: 'form-control',
            placeholder: !@vehicle_usage.vehicle_usage_set.rest_start.nil? ? t('vehicle_usages.form.rest_start.default', n: l(@vehicle_usage.vehicle_usage_set.rest_start.utc, format: :hour_minute)) : t('all.unit.hour_minute'),
            value: @vehicle_usage.rest_start && l(@vehicle_usage.rest_start.utc, format: :hour_minute) %>
          <span class="input-group-addon"><%= t 'web.form.to_time' %></span>
          <%= text_field :vehicle_usage, :rest_stop,
            class: 'form-control',
            placeholder: !@vehicle_usage.vehicle_usage_set.rest_stop.nil? ? t('vehicle_usages.form.rest_stop.default', n: l(@vehicle_usage.vehicle_usage_set.rest_stop.utc, format: :hour_minute)) : t('all.unit.hour_minute'),
            value: @vehicle_usage.rest_stop && l(@vehicle_usage.rest_stop.utc, format: :hour_minute) %>
          <span class="input-group-addon"><i class="fa fa-arrows-h fa-fw"></i></span>
        </div>
        <p class="help-block"><%= t '.rest_start_stop_help' %></p>
      </div>
    </div>
  </fieldset>

  <%= f.actions do %>
    <%= f.submit t('.save') %>
  <% end %>
<% end %>
