<%= twitter_bootstrap_form_for @vehicle_usage, layout: :horizontal do |f| %>
  <%= render 'shared/error_messages', model: @vehicle_usage %>
  <fieldset>
    <legend class="scheduler-border">
      <a data-toggle="collapse" data-parent="" href="#collapseVehicle"<% if @vehicle_usage_sets.count > 1 %> class="collapsed"<% end %>><%= t 'vehicle_usages.form.vehicle.legend' %></a>
    </legend>
    <div id="collapseVehicle" class="collapse<% if @vehicle_usage_sets.count < 2 %> in<% end %>">
      <% if @vehicle_usage_sets[0].customer.enable_multi_vehicle_usage_sets %>
      <p class="help-block"><%= t 'vehicle_usages.form.vehicle.help' %></p>
      <% end %>
      <%= twitter_bootstrap_fields_for 'vehicle_usage[vehicle]', @vehicle_usage.vehicle, layout: :horizontal do |f| %>
        <%= f.hidden_field :id %>
        <% if @vehicle_usage.vehicle.customer.enable_references %>
          <%= f.text_field :ref do %>
            <p class="help-block"><%= t 'vehicles.form.ref.help' %></p>
          <% end %>
        <% end %>
        <%= f.text_field :name %>
        <%= f.text_field :contact_email, {input_group: content_tag('i', '', class: 'fa fa-envelope fa-fw')} do %>
          <p class="help-block"><%= t 'vehicles.form.contact_email.help' %></p>
        <% end %>
        <%= f.select :emission, [], Vehicle.emissions_table, { include_blank: t('web.form.empty_entry') }, {input_group: t('all.unit.kgco2e_l_html')} do %>
          <p class="help-block"><%= t 'vehicles.form.emissions.help' %></p>
        <% end %>
        <%= f.number_field :consumption, { input_group: t('all.unit.l_100km'), step: 0.1 } do %>
          <p class="help-block"><%= t 'vehicles.form.consumption.help' %></p>
        <% end %>
        <%= f.number_field :capacity, {min:1, input_group: content_tag('i', '', class: 'fa fa-check-square fa-fw')} do %>
          <p class="help-block"><%= t 'vehicles.form.capacity.help' %></p>
        <% end %>
        <%= f.text_field :capacity_unit do %>
          <p class="help-block"><%= t 'vehicles.form.capacity_unit.help' %></p>
        <% end %>
        <%= f.collection_select :router_id, [], @vehicle_usage.vehicle.customer.profile.routers, :id, :name, {include_blank: t('vehicles.form.router.default') + ' (' + @vehicle_usage.vehicle.customer.router.name + ')' }, {input_group: content_tag('i', '', class: 'fa fa-gear fa-fw')} do %>
          <p class="help-block"><%= t 'vehicles.form.router.help' %></p>
        <% end %>
        <%= f.number_field :speed_multiplicator, {min:50, max: 150, placeholder: t('vehicles.form.speed_multiplicator.default', n: (@vehicle_usage.vehicle.customer.speed_multiplicator ? (@vehicle_usage.vehicle.customer.speed_multiplicator * 100).to_i : 100)), input_group: '%'} do %>
          <p class="help-block"><%= t 'vehicles.form.speed_multiplicator.help' %></p>
        <% end %>
        <% if f.object.customer.tomtom? %>
          <%= f.select :tomtom_id, t('vehicles.form.tomtom_id'), [] %>
        <% end %>
        <% if @vehicle_usage.vehicle.customer.enable_masternaut && !@vehicle_usage.vehicle.customer.masternaut_user.blank? && !@vehicle_usage.vehicle.customer.masternaut_password.blank? %>
          <%= f.text_field :masternaut_ref %>
        <% end %>
        <%= f.select :color, [], (Vehicle.colors_table + [@vehicle_usage[:color]]).compact.uniq %>
      <% end %>
    </div>
  </fieldset>

  <fieldset>
    <legend class="scheduler-border"><%= t('vehicle_usages.form.vehicle_usage.legend', s: @vehicle_usage.vehicle_usage_set.name) %></legend>
    <% if @vehicle_usage_sets[0].customer.enable_multi_vehicle_usage_sets %>
    <p class="help-block"><%= t 'vehicle_usages.form.vehicle_usage.help' %></p>
    <% end %>
    <%= f.text_field :open, {
      value: @vehicle_usage.open && l(@vehicle_usage.open, format: :hour_minute),
      placeholder: t('vehicle_usages.form.open.default', n: l(@vehicle_usage.vehicle_usage_set.open, format: :hour_minute)),
      input_group: t('all.unit.hour_minute')} do %>
      <p class="help-block"><%= t '.open.help' %></p>
    <% end %>
    <%= f.text_field :close, {
      value: @vehicle_usage.close && l(@vehicle_usage.close, format: :hour_minute),
      placeholder: t('vehicle_usages.form.close.default', n: l(@vehicle_usage.vehicle_usage_set.close, format: :hour_minute)),
      input_group: t('all.unit.hour_minute')} do %>
      <p class="help-block"><%= t '.close.help' %></p>
    <% end %>
    <%= f.collection_select :store_start_id, [], @vehicle_usage.vehicle.customer.stores, :id, :name, {
      include_blank: t('vehicle_usages.form.store.default') + ' (' + (@vehicle_usage.vehicle_usage_set.store_start ? @vehicle_usage.vehicle_usage_set.store_start.name : t('vehicle_usages.form.store.none')) + ')' }, {
      input_group: content_tag('i', '', class: 'fa fa-home fa-fw')} %>
    <%= f.collection_select :store_stop_id, [], @vehicle_usage.vehicle.customer.stores, :id, :name, {
      include_blank: t('vehicle_usages.form.store.default') + ' (' + (@vehicle_usage.vehicle_usage_set.store_stop ? @vehicle_usage.vehicle_usage_set.store_stop.name : t('vehicle_usages.form.store.none')) + ')' }, {
      input_group: content_tag('i', '', class: 'fa fa-home fa-fw')} %>
    <%= f.text_field :rest_duration, {
      value: @vehicle_usage.rest_duration && l(@vehicle_usage.rest_duration, format: :hour_minute),
      placeholder: !@vehicle_usage.vehicle_usage_set.rest_duration.nil? ? t('vehicle_usages.form.rest_duration.default', n: l(@vehicle_usage.vehicle_usage_set.rest_duration, format: :hour_minute)) : nil,
      input_group: t('all.unit.hour_minute')} do %>
      <p class="help-block"><%= t 'vehicle_usages.form.rest_duration.help' %></p>
    <% end %>
    <%= f.text_field :rest_start, {
      value: @vehicle_usage.rest_start && l(@vehicle_usage.rest_start, format: :hour_minute),
      placeholder: !@vehicle_usage.vehicle_usage_set.rest_start.nil? ? t('vehicle_usages.form.rest_start.default', n: l(@vehicle_usage.vehicle_usage_set.rest_start, format: :hour_minute)) : nil,
      input_group: t('all.unit.hour_minute')} %>
    <%= f.text_field :rest_stop, {
      value: @vehicle_usage.rest_stop && l(@vehicle_usage.rest_stop, format: :hour_minute),
      placeholder: !@vehicle_usage.vehicle_usage_set.rest_stop.nil? ? t('vehicle_usages.form.rest_stop.default', n: l(@vehicle_usage.vehicle_usage_set.rest_stop, format: :hour_minute)) : nil,
      input_group: t('all.unit.hour_minute')} do %>
      <p class="help-block"><%= t 'vehicle_usages.form.rest_stop.help' %></p>
    <% end %>
    <%= f.collection_select :store_rest_id, [], @vehicle_usage.vehicle.customer.stores, :id, :name, {
      include_blank: t('vehicle_usages.form.store_rest.default') + ' (' + (@vehicle_usage.vehicle_usage_set.store_rest ? @vehicle_usage.vehicle_usage_set.store_rest.name : t('vehicle_usages.form.store_rest.none')) + ')' }, {
      input_group: content_tag('i', '', class: 'fa fa-coffee fa-fw')} %>
    <%= f.text_field :service_time_start, {
      value: f.object.service_time_start && l(f.object.service_time_start, format: :hour_minute),
      input_group: t('all.unit.hour_minute'),
      placeholder: f.object.vehicle_usage_set.service_time_start ? t("vehicle_usages.form.service_time.default", n: l(f.object.vehicle_usage_set.service_time_start, format: :hour_minute)) : nil } do %>
      <p class="help-block"><%= t 'vehicle_usages.form.service_time.help_start' %></p>
    <% end %>
    <%= f.text_field :service_time_end, {
      value: f.object.service_time_end && l(f.object.service_time_end, format: :hour_minute),
      input_group: t('all.unit.hour_minute'),
      placeholder: f.object.vehicle_usage_set.service_time_end ? t("vehicle_usages.form.service_time.default", n: l(f.object.vehicle_usage_set.service_time_end, format: :hour_minute)) : nil } do %>
      <p class="help-block"><%= t 'vehicle_usages.form.service_time.help_end' %></p>
    <% end %>
  </fieldset>

  <%= f.actions do %>
    <%= f.submit %>
  <% end %>
<% end %>
