<%= twitter_bootstrap_form_for @vehicle_usage, layout: :horizontal, html: { class: 'number-to-percentage form-horizontal'} do |f| %>
  <%= render 'shared/error_messages', model: @vehicle_usage %>
  <fieldset>
    <legend class="scheduler-border">
      <a data-toggle="collapse" data-parent="" href="#collapseVehicle"<% if @vehicle_usage_sets.count > 1 %> class="collapsed"<% end %>><%= t 'vehicle_usages.form.vehicle.legend' %></a>
    </legend>
    <div id="collapseVehicle" class="collapse<% if @vehicle_usage_sets.count < 2 %> in<% end %>">
      <% if @vehicle_usage_sets[0].customer.enable_multi_vehicle_usage_sets %>
      <p class="help-block"><%= t 'vehicle_usages.form.vehicle.help' %></p>
      <% end %>
      <%= twitter_bootstrap_fields_for 'vehicle_usage[vehicle]', @vehicle_usage.vehicle, layout: :horizontal do |f| %>
        <%= f.hidden_field :id %>
        <% if @vehicle_usage.vehicle.customer.enable_references %>
          <%= f.text_field :ref do %>
            <p class="help-block"><%= t 'vehicles.form.ref.help' %></p>
          <% end %>
        <% end %>
        <%= f.text_field :name, required: true %>
        <%= f.text_field :contact_email, {input_group: '@'} do %>
          <p class="help-block"><%= t 'vehicles.form.contact_email.help' %></p>
        <% end %>
        <div id="vehicle_usage_vehicle_consumption_input" class="form-group">
          <label class="sr-only" for="vehicle_usage_vehicle_emission"><%= t 'activerecord.attributes.vehicle.emission' %></label>
          <label class="sr-only" for="vehicle_usage_vehicle_consumption"><%= t 'activerecord.attributes.vehicle.consumption' %></label>
          <label class="col-md-2 control-label"><%= t 'activerecord.attributes.vehicle.emission' %> / <%= t 'activerecord.attributes.vehicle.consumption' %></label>
          <div class="col-md-6">
            <div class="input-group">
              <%= select 'vehicle_usage[vehicle]', :emission, Vehicle.emissions_table, { include_blank: t('web.form.empty_entry'), selected: @vehicle_usage.vehicle.emission }, class: 'form-control' %>
              <span class="input-group-addon"><%= t 'all.unit.kgco2e_l_html' %></span>
              <%= text_field 'vehicle_usage[vehicle]', :consumption, value: @vehicle_usage.vehicle.localized_consumption, class: 'form-control' %>
              <span class="input-group-addon"><%= current_user.prefered_unit == 'mi' ? t('all.unit.l_62Miles') : t('all.unit.l_100km') %></span>
            </div>
            <p class="help-block"><%= t 'vehicles.form.emissions.help' %> - <%= current_user.prefered_unit == 'mi' ? t('vehicles.form.consumption.help_miles') : t('vehicles.form.consumption.help') %></p>
          </div>
        </div>
        <%= twitter_bootstrap_fields_for 'vehicle_usage[vehicle][capacities]', @vehicle_usage.vehicle.capacities, layout: :horizontal do |capacity| %>
          <div id="vehicle_usage_vehicle_capacity_input" class="form-group <%= 'has-error' if @vehicle_usage.vehicle.errors.messages[:capacities].present? %>">
            <label class="col-md-2 control-label"><%= t 'vehicles.form.capacities.label' %></label>
            <div class="col-md-6">
              <% @vehicle_usage.vehicle.customer.deliverable_units.each do |du| %>
              <div class="input-group">
                <%= number_field 'vehicle_usage[vehicle][capacities]', du.id, value: @vehicle_usage.vehicle.capacities && @vehicle_usage.vehicle.capacities[du.id], placeholder: du.default_capacity && t('vehicles.form.capacities.default', n: du.localized_default_capacity), class: 'form-control width_1_2', step: 'any', min: 0 %>
                <%= text_field 'vehicle_usage[vehicle][capacities_unit]', du.id, value: du.label ? du.label + (du.default_optimization_overload_multiplier == 0 ? t('vehicles.form.capacities.no_overload') : du.default_optimization_overload_multiplier == -1 ? t('vehicles.form.capacities.ignore_overload') : '') : du.label, class: 'form-control width_1_2', placeholder: t('deliverable_units.form.label_placeholder') + (du.default_optimization_overload_multiplier == 0 ? t('vehicles.form.capacities.no_overload') : du.default_optimization_overload_multiplier == -1 ? t('vehicles.form.capacities.ignore_overload') : ''), disabled: true %>
                <span class="input-group-addon"><%= content_tag('i', '', class: 'fa ' + du.default_icon + ' fa-fw') %></span>
              </div>
              <% end %>
              <p class="help-block"><%= t 'vehicles.form.capacities.help' %></p>
            </div>
          </div>
        <% end %>
        <div id="vehicle_router_input" class="form-group">
          <label class="col-md-2 control-label" for="vehicle_router"><%= t 'activerecord.attributes.vehicle.router' %></label>
          <div class="col-md-6">
            <div class="input-group">
              <% routers = @vehicle_usage.vehicle.customer.profile.routers %>
              <%= select_tag 'vehicle_usage[vehicle][router]', grouped_options_for_select([[t('activerecord.attributes.router.router_dimensions.time'), routers.select(&:time?).collect{ |router|
                  [router.translated_name + ' - ' + t('activerecord.attributes.router.router_dimensions.time'), router.id.to_s + '_time']
                  }]] + [[t('activerecord.attributes.router.router_dimensions.distance'), routers.select(&:distance?).collect{ |router|
                  [router.translated_name + ' - ' + t('activerecord.attributes.router.router_dimensions.distance'), router.id.to_s + '_distance']
                  }]],
                @vehicle_usage.vehicle.router_id || @vehicle_usage.vehicle.router_dimension ? (@vehicle_usage.vehicle.router_id || @vehicle_usage.vehicle.customer.router_id).to_s + '_' + (@vehicle_usage.vehicle.router_dimension || @vehicle_usage.vehicle.customer.router_dimension) : nil),
                include_blank: t('vehicles.form.router.default') + ' (' + @vehicle_usage.vehicle.customer.router.translated_name + ' - ' + t("activerecord.attributes.router.router_dimensions.#{@vehicle_usage.vehicle.customer.router_dimension}") + ')', class: 'form-control' %>
              <span class="input-group-addon"><i class="fa fa-gear fa-fw"></i></span>
            </div>
            <p class="help-block"><%= t 'vehicles.form.router.help' %></p>
          </div>
        </div>

        <div id="router_options_track_input" class="form-group <%= @vehicle_usage.vehicle.default_router.track? ? '' : 'router-option-disabled' %>">
          <label class="col-md-2 control-label" for="vehicle_usage_vehicle_router_options_track">
            <%= t('activerecord.attributes.customer.router_options_track') %>
          </label>

          <div class="col-md-6 input-append form-inline">
            <label>
              <input type="radio" name="vehicle_usage[vehicle][router_options][track]" id="vehicle_usage_vehicle_router_options_track_yes" value="true" <%= @vehicle_usage.vehicle.router_options['track'] == 'true' ? 'checked' : '' %>/>
              <%= t('customers.form.router_options_track_yes') %>
            </label>

            <label>
              <input type="radio" name="vehicle_usage[vehicle][router_options][track]" id="vehicle_usage_vehicle_router_options_track_no" value="false" <%= @vehicle_usage.vehicle.router_options['track'] == 'false' ? 'checked' : '' %>/>
              <%= t('customers.form.router_options_track_no') %>
            </label>

            <label class="pull-right">
              <input type="radio" name="vehicle_usage[vehicle][router_options][track]" id="vehicle_usage_vehicle_router_options_track_default" value="" <%= @vehicle_usage.vehicle.router_options['track'].nil? && 'checked' %>/>
              <%= t('customers.form.router_options_track_default', value: @vehicle_usage.vehicle.customer.router_options['track'] == 'false' ? t('customers.form.router_options_track_no') : t('customers.form.router_options_track_yes')) %>
            </label>
          </div>
        </div>

        <div id="router_options_motorway_input" class="form-group <%= @vehicle_usage.vehicle.default_router.motorway? ? '' : 'router-option-disabled' %>">
          <label class="col-md-2 control-label" for="vehicle_usage_vehicle_router_options_motorway">
            <%= t('activerecord.attributes.customer.router_options_motorway') %>
          </label>

          <div class="col-md-6 input-append form-inline">
            <label>
              <input type="radio" name="vehicle_usage[vehicle][router_options][motorway]" id="vehicle_usage_vehicle_router_options_motorway_yes" value="true" <%= @vehicle_usage.vehicle.router_options['motorway'] == 'true' ? 'checked' : '' %>/>
              <%= t('customers.form.router_options_motorway_yes') %>
            </label>

            <label>
              <input type="radio" name="vehicle_usage[vehicle][router_options][motorway]" id="vehicle_usage_vehicle_router_options_motorway_no" value="false" <%= @vehicle_usage.vehicle.router_options['motorway'] == 'false' ? 'checked' : '' %>/>
              <%= t('customers.form.router_options_motorway_no') %>
            </label>

            <label class="pull-right">
              <input type="radio" name="vehicle_usage[vehicle][router_options][motorway]" id="vehicle_usage_vehicle_router_options_motorway_default" value="" <%= @vehicle_usage.vehicle.router_options['motorway'].nil? && 'checked' %>/>
              <%= t('customers.form.router_options_motorway_default', value: @vehicle_usage.vehicle.customer.router_options['motorway'] == 'false' ? t('customers.form.router_options_motorway_no') : t('customers.form.router_options_motorway_yes')) %>
            </label>
          </div>
        </div>

        <div id="router_options_toll_input" class="form-group <%= @vehicle_usage.vehicle.default_router.toll? ? '' : 'router-option-disabled' %>">
          <label class="col-md-2 control-label" for="vehicle_usage_vehicle_router_options_toll">
            <%= t('activerecord.attributes.customer.router_options_toll') %>
          </label>

          <div class="col-md-6 input-append form-inline">
            <label>
              <input type="radio" name="vehicle_usage[vehicle][router_options][toll]" id="vehicle_usage_vehicle_router_options_toll_yes" value="true" <%= @vehicle_usage.vehicle.router_options['toll'] == 'true' ? 'checked' : '' %>/>
              <%= t('customers.form.router_options_toll_yes') %>
            </label>

            <label>
              <input type="radio" name="vehicle_usage[vehicle][router_options][toll]" id="vehicle_usage_vehicle_router_options_toll_no" value="false" <%= @vehicle_usage.vehicle.router_options['toll'] == 'false' ? 'checked' : '' %>/>
              <%= t('customers.form.router_options_toll_no') %>
            </label>

            <label class="pull-right">
              <input type="radio" name="vehicle_usage[vehicle][router_options][toll]" id="vehicle_usage_vehicle_router_options_toll_default" value="" <%= @vehicle_usage.vehicle.router_options['toll'].nil? && 'checked' %>/>
              <%= t('customers.form.router_options_toll_default', value: @vehicle_usage.vehicle.customer.router_options['toll'] == 'false' ? t('customers.form.router_options_toll_no') : t('customers.form.router_options_toll_yes')) %>
            </label>
          </div>
        </div>

        <div id="router_options_trailers_input" class="form-group <%= @vehicle_usage.vehicle.default_router.trailers? ? '' : 'router-option-disabled' %>">
          <label class="col-md-2 control-label" for="vehicle_usage_vehicle_router_options_trailers">
            <%= t('activerecord.attributes.customer.router_options_trailers') %>
          </label>

          <div class="col-md-6">
            <div class="input-group">
              <%= number_field_tag 'vehicle_usage[vehicle][router_options][trailers]', @vehicle_usage.vehicle.router_options['trailers'], { min: 0, max: 4, placeholder: !@vehicle_usage.vehicle.customer.trailers.to_s.empty? ? t('customers.form.router_options_default', n: @vehicle_usage.vehicle.customer.trailers) : '', class: 'form-control' } %>
              <span class="input-group-addon"><i class="fa fa-truck fa-fw"></i> </span>
            </div>
            <p class="help-block"><%= t('customers.form.router_options_trailers_range', from: 0, to: 4) %></p>
          </div>
        </div>

        <div id="router_options_weight_input" class="form-group <%= @vehicle_usage.vehicle.default_router.weight? ? '' : 'router-option-disabled' %>">
          <label class="col-md-2 control-label" for="vehicle_usage_vehicle_router_options_weight">
            <%= t('activerecord.attributes.customer.router_options_weight') %>
          </label>

          <div class="col-md-6">
            <div class="input-group">
              <%= number_field_tag 'vehicle_usage[vehicle][router_options][weight]', @vehicle_usage.vehicle.router_options['weight'], { min: 0, max: 1000, step: 'any', placeholder: !@vehicle_usage.vehicle.customer.weight.to_s.empty? ? t('customers.form.router_options_default', n: @vehicle_usage.vehicle.customer.weight) : '', class: 'form-control' } %>
              <span class="input-group-addon"><%= t('all.unit.ton') %></span>
            </div>
            <p class="help-block"><%=  t('customers.form.router_options_weight_range', from: 0, to: 1000) %></p>
          </div>
        </div>

        <div id="router_options_weight_per_axle_input" class="form-group <%= @vehicle_usage.vehicle.default_router.weight_per_axle? ? '' : 'router-option-disabled' %>">
          <label class="col-md-2 control-label" for="vehicle_usage_vehicle_router_options_weight_per_axle">
            <%= t('activerecord.attributes.customer.router_options_weight_per_axle') %>
          </label>

          <div class="col-md-6">
            <div class="input-group">
              <%= number_field_tag 'vehicle_usage[vehicle][router_options][weight_per_axle]', @vehicle_usage.vehicle.router_options['weight_per_axle'], { min: 0, max: 1000, step: 'any', placeholder: !@vehicle_usage.vehicle.customer.weight_per_axle.to_s.empty? ? t('customers.form.router_options_default', n: @vehicle_usage.vehicle.customer.weight_per_axle) : '', class: 'form-control' } %>
              <span class="input-group-addon"><%= t('all.unit.ton') %></span>
            </div>
            <p class="help-block"><%=  t('customers.form.router_options_weight_per_axle_range', from: 0, to: 1000) %></p>
          </div>
        </div>

        <div id="router_options_height_input" class="form-group <%= @vehicle_usage.vehicle.default_router.height? ? '' : 'router-option-disabled' %>">
          <label class="col-md-2 control-label" for="vehicle_usage_vehicle_router_options_height">
            <%= t('activerecord.attributes.customer.router_options_height') %>
          </label>

          <div class="col-md-6">
            <div class="input-group">
              <%= number_field_tag 'vehicle_usage[vehicle][router_options][height]', @vehicle_usage.vehicle.router_options['height'], { min: 0, max: 50, step: 'any', placeholder: !@vehicle_usage.vehicle.customer.height.to_s.empty? ? t('customers.form.router_options_default', n: @vehicle_usage.vehicle.customer.height) : '', class: 'form-control' } %>
              <span class="input-group-addon"><%= t('all.unit.m') %></span>
            </div>
            <p class="help-block"><%= t('customers.form.router_options_height_range', from: 0, to: 50) %></p>
          </div>
        </div>

        <div id="router_options_width_input" class="form-group <%= @vehicle_usage.vehicle.default_router.width? ? '' : 'router-option-disabled' %>">
          <label class="col-md-2 control-label" for="vehicle_usage_vehicle_router_options_width">
            <%= t('activerecord.attributes.customer.router_options_width') %>
          </label>

          <div class="col-md-6">
            <div class="input-group">
              <%= number_field_tag 'vehicle_usage[vehicle][router_options][width]', @vehicle_usage.vehicle.router_options['width'], { min: 0, max: 50, step: 'any', placeholder: !@vehicle_usage.vehicle.customer.width.to_s.empty? ? t('customers.form.router_options_default', n: @vehicle_usage.vehicle.customer.width) : '', class: 'form-control' } %>
              <span class="input-group-addon"><%= t('all.unit.m') %></span>
            </div>
            <p class="help-block"><%= t('customers.form.router_options_width_range', from: 0, to: 50) %></p>
          </div>
        </div>

        <div id="router_options_length_input" class="form-group <%= @vehicle_usage.vehicle.default_router.length? ? '' : 'router-option-disabled' %>">
          <label class="col-md-2 control-label" for="vehicle_usage_vehicle_router_options_length">
            <%= t('activerecord.attributes.customer.router_options_length') %>
          </label>

          <div class="col-md-6">
            <div class="input-group">
              <%= number_field_tag 'vehicle_usage[vehicle][router_options][length]', @vehicle_usage.vehicle.router_options['length'], { min: 0, max: 300, step: 'any', placeholder: !@vehicle_usage.vehicle.customer.length.to_s.empty? ? t('customers.form.router_options_default', n: @vehicle_usage.vehicle.customer.length) : '', class: 'form-control' } %>
              <span class="input-group-addon"><%= t('all.unit.m') %></span>
            </div>
            <p class="help-block"><%= t('customers.form.router_options_length_range', from: 0, to: 300) %></p>
          </div>
        </div>

        <div id="router_options_hazardous_goods_input" class="form-group <%= @vehicle_usage.vehicle.default_router.hazardous_goods? ? '' : 'router-option-disabled' %>">
          <label class="col-md-2 control-label" for="customer_router_options_hazardous_goods">
            <%= t('activerecord.attributes.customer.router_options_hazardous_goods') %>
          </label>

          <div class="col-md-6">
            <%= select_tag 'vehicle_usage[vehicle][router_options][hazardous_goods]', options_for_select(t('activerecord.attributes.router.options.hazardous_goods').invert, current_router_options(@vehicle_usage.vehicle)['hazardous_goods']), include_blank: t('vehicles.form.router.default') + ' (' + (!!@vehicle_usage.vehicle.customer.hazardous_goods ? t("activerecord.attributes.router.options.hazardous_goods.#{@vehicle_usage.vehicle.customer.hazardous_goods}") : t('activerecord.attributes.router.options.hazardous_goods_none')) + ')', class: 'form-control' %>
          </div>
        </div>

        <div id="router_options_max_walk_distance_input" class="form-group <%= @vehicle_usage.vehicle.default_router.max_walk_distance? ? '' : 'router-option-disabled' %>">
          <label class="col-md-2 control-label" for="vehicle_usage_vehicle_router_options_max_walk_distance">
            <%= t('activerecord.attributes.customer.router_options_max_walk_distance') %>
          </label>

          <div class="col-md-6">
            <div class="input-group">
              <%= number_field 'vehicle_usage[vehicle][router_options]', :max_walk_distance, value: @vehicle_usage.vehicle.router_options['max_walk_distance'], placeholder: !@vehicle_usage.vehicle.customer.max_walk_distance.to_s.empty? ? t('customers.form.router_options_default', n: @vehicle_usage.vehicle.customer.max_walk_distance) : '', step: 'any', class: 'form-control' %>
              <span class="input-group-addon"><%= t('all.unit.m') %></span>
            </div>
            <p class="help-block"><%= t('customers.form.router_options_max_walk_distance_range', from: 0) %></p>
          </div>
        </div>

        <div id="router_options_approach_input" class="form-group <%= @vehicle_usage.vehicle.default_router.approach? ? '' : 'router-option-disabled' %>">
          <label class="col-md-2 control-label" for="customer_router_options_approach">
            <%= t('activerecord.attributes.customer.router_options_approach') %>
          </label>

          <div class="col-md-6">
            <%= select_tag 'vehicle_usage[vehicle][router_options][approach]', options_for_select(t('activerecord.attributes.router.options.approach').invert, @vehicle_usage.vehicle.router_options['approach']), include_blank: t('vehicles.form.router.default') + ' (' + (!!@vehicle_usage.vehicle.customer.approach ? t("activerecord.attributes.router.options.approach.#{@vehicle_usage.vehicle.customer.approach}") : t('activerecord.attributes.router.options.approach_none')) + ')', class: 'form-control' %>
            <p class="help-block"><%=  t('customers.form.router_options_approach_help') %></p>
          </div>
        </div>

        <div id="router_options_snap_input" class="form-group <%= @vehicle_usage.vehicle.default_router.snap? ? '' : 'router-option-disabled' %>">
          <label class="col-md-2 control-label" for="vehicle_usage_vehicle_router_options_snap">
            <%= t('activerecord.attributes.customer.router_options_snap') %>
          </label>

          <div class="col-md-6">
            <div class="input-group">
              <%= number_field 'vehicle_usage[vehicle][router_options]', :snap, value: @vehicle_usage.vehicle.router_options['snap'], placeholder: !@vehicle_usage.vehicle.customer.snap.to_s.empty? ? t('customers.form.router_options_default', n: @vehicle_usage.vehicle.customer.snap) : '', step: 'any', class: 'form-control' %>
              <span class="input-group-addon"><%= t('all.unit.m') %></span>
            </div>
            <p class="help-block"><%= t('customers.form.router_options_snap_range') %></p>
          </div>
        </div>

        <div id="router_options_strict_restriction_input" class="form-group <%= @vehicle_usage.vehicle.default_router.strict_restriction? ? '' : 'router-option-disabled' %>">
          <label class="col-md-2 control-label" for="vehicle_usage_vehicle_router_options_strict_restriction">
            <%= t('activerecord.attributes.customer.router_options_strict_restriction') %>
          </label>

          <div class="col-md-6 input-append form-inline">
            <%= check_box_tag 'vehicle_usage[vehicle][router_options][strict_restriction]', current_router_options(@vehicle_usage.vehicle)['strict_restriction'], !!current_router_options(@vehicle_usage.vehicle)['strict_restriction'] %>
            <p class="help-block"><%=  t('customers.form.router_options_strict_restriction') %></p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="speed_multiplicator">
            <%= t('activerecord.attributes.vehicle.speed_multiplicator') %>
          </label>
          <div class="col-md-6 input-append">
            <div class="input-group">
              <%= number_field_tag :speed_multiplicator, (@vehicle_usage.vehicle.speed_multiplicator ? (@vehicle_usage.vehicle.speed_multiplicator * 100).to_i : nil), { min: 50, max: 150, placeholder: t('vehicles.form.speed_multiplicator.default', n: (@vehicle_usage.vehicle.customer.speed_multiplicator ? (@vehicle_usage.vehicle.customer.speed_multiplicator * 100).to_i : 75)), class: 'form-control number-to-percentage' } %>
              <span class="input-group-addon">%</span>
            </div>
            <p class="help-block">
              <%= t('vehicles.form.speed_multiplicator.help') %>
            </p>
          </div>
        </div>

        <%= twitter_bootstrap_fields_for 'vehicle_usage[vehicle][devices]', @vehicle_usage.vehicle, layout: :horizontal do |f| %>
          <% @vehicle_usage.vehicle.customer.device.configured_definitions.each do |key, definition| %>
            <% if definition[:forms].key?(:vehicle) %>
              <% definition[:forms][:vehicle].each do |field, type| %>
                <% if type == :text %>
                  <%= f.text_field field, t("activerecord.attributes.vehicle.devices.#{key}.#{field}") %>
                <% elsif type == :select %>
                  <!-- this can be refactored with options_for_select -->
                  <%= f.select field, [], [], {}, data: {device: key} %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <div class="form-group">
          <label class="col-md-2 control-label" for="vehicle_usage_vehicle_color">
            <%= t("activerecord.attributes.vehicle.color") %>
          </label>
          <div class="col-md-6 input-append">
            <div class="input-group">
              <%= select_tag 'vehicle_usage[vehicle][color]', options_for_select((COLORS_TABLE + [customised_color_verification(@vehicle_usage.vehicle[:color])]).compact.uniq, @vehicle_usage.vehicle[:color]), include_blank: '#000000' %> <i class="fa fa-paint-brush" id="customised_color_picker" title="<%= t('activerecord.attributes.vehicle.customised_color') %>"></i>
              <%= color_field :vehicle, :color, option = { value: customised_color_verification(@vehicle_usage.vehicle[:color]), id: 'color_picker', name: 'fff' } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </fieldset>

  <fieldset>
    <legend class="scheduler-border"><%= t('vehicle_usages.form.vehicle_usage.legend', s: @vehicle_usage.vehicle_usage_set.name) %></legend>
    <% if @vehicle_usage_sets[0].customer.enable_multi_vehicle_usage_sets %>
    <p class="help-block"><%= t 'vehicle_usages.form.vehicle_usage.help' %></p>
    <% end %>
    <div id="vehicle_usage_open_close_input" class="form-group">
      <label class="sr-only" for="vehicle_usage_open"><%= t 'activerecord.attributes.vehicle_usage.open' %></label>
      <label class="sr-only" for="vehicle_usage_close"><%= t 'activerecord.attributes.vehicle_usage.close' %></label>
      <label class="col-md-2 control-label"><%= t '.open_close' %></label>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon"><%= t 'web.form.from_time' %></span>
          <%= text_field :vehicle_usage, :open,
                         class: 'form-control',
                         placeholder: t('vehicle_usages.form.open.default', n: @vehicle_usage.vehicle_usage_set.open_time),
                         value: @vehicle_usage.open_time %>
          <span class="input-group-addon input-group-borderless"><%= t 'web.form.days' %></span>
          <%= number_field :vehicle_usage, :open_day,
                           class: 'form-control number-of-days',
                           placeholder: @vehicle_usage.open.nil? && number_of_days(@vehicle_usage.vehicle_usage_set.open) ? t('vehicle_usages.form.open_close_days.default', n: number_of_days(@vehicle_usage.vehicle_usage_set.open)) : 0,
                           min: 0,
                           value: number_of_days(@vehicle_usage.open) %>
          <span class="input-group-addon"><%= t 'web.form.to_time' %></span>
          <%= text_field :vehicle_usage, :close,
                         class: 'form-control',
                         placeholder: t('vehicle_usages.form.close.default', n: @vehicle_usage.vehicle_usage_set.close_time),
                         min: 0,
                         value: @vehicle_usage.close_time %>
          <span class="input-group-addon input-group-borderless"><%= t 'web.form.days' %></span>
          <%= number_field :vehicle_usage, :close_day,
                           class: 'form-control number-of-days',
                           placeholder: @vehicle_usage.close.nil? && number_of_days(@vehicle_usage.vehicle_usage_set.close) ? t('vehicle_usages.form.open_close_days.default', n: number_of_days(@vehicle_usage.vehicle_usage_set.close)) : 0,
                           min: 0,
                           value: number_of_days(@vehicle_usage.close) %>
          <span class="input-group-addon"><i class="fa fa-arrows-h fa-fw"></i></span>
        </div>
        <p class="help-block"><%= t '.open_close_help' %></p>
      </div>
    </div>
    <div id="vehicle_usage_store_input" class="form-group">
      <label class="sr-only" for="vehicle_usage_store_start"><%= t 'activerecord.attributes.vehicle_usage.store_start' %></label>
      <label class="sr-only" for="vehicle_usage_store_stop"><%= t 'activerecord.attributes.vehicle_usage.store_stop' %></label>
      <label class="col-md-2 control-label"><%= t '.stores' %></label>
      <div class="col-md-6">
        <div class="input-group">
          <%= collection_select :vehicle_usage, :store_start_id, @vehicle_usage.vehicle.customer.stores, :id, :name, {
            include_blank: t('vehicle_usages.form.store.default') + ' (' + (@vehicle_usage.vehicle_usage_set.store_start ? @vehicle_usage.vehicle_usage_set.store_start.name : t('vehicle_usages.form.store.none')) + ')'}, {
            class: 'form-control width_1_2' } %>
          <%= collection_select :vehicle_usage, :store_stop_id, @vehicle_usage.vehicle.customer.stores, :id, :name, {
            include_blank: t('vehicle_usages.form.store.default') + ' (' + (@vehicle_usage.vehicle_usage_set.store_stop ? @vehicle_usage.vehicle_usage_set.store_stop.name : t('vehicle_usages.form.store.none')) + ')'}, {
            class: 'form-control width_1_2' } %>
          <span class="input-group-addon"><%= content_tag('i', '', class: 'fa fa-home fa-fw') %></span>
        </div>
        <p class="help-block"><%= t '.stores_help' %></p>
      </div>
    </div>
    <div id="vehicle_usage_service_time_input" class="form-group">
      <label class="sr-only" for="vehicle_usage_service_time_start"><%= t 'activerecord.attributes.vehicle_usage.service_time_start' %></label>
      <label class="sr-only" for="vehicle_usage_service_time_end"><%= t 'activerecord.attributes.vehicle_usage.service_time_end' %></label>
      <label class="col-md-2 control-label"><%= t '.service_times' %></label>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon"><%= t '.service_time_start_addon' %></span>
          <%= text_field :vehicle_usage, :service_time_start,
            class: 'form-control',
            placeholder: f.object.vehicle_usage_set.service_time_start ? t("vehicle_usages.form.service_time.default", n: f.object.vehicle_usage_set.service_time_start_time) : t('all.unit.hour_minute'),
            value: @vehicle_usage.service_time_start_time %>
          <span class="input-group-addon"><%= t '.service_time_end_addon' %></span>
          <%= text_field :vehicle_usage, :service_time_end,
            class: 'form-control',
            placeholder: f.object.vehicle_usage_set.service_time_end ? t("vehicle_usages.form.service_time.default", n: f.object.vehicle_usage_set.service_time_end_time) : t('all.unit.hour_minute'),
            value: @vehicle_usage.service_time_end_time %>
          <span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
        </div>
        <p class="help-block"><%= t '.service_times_help' %></p>
      </div>
    </div>
    <div id="vehicle_usage_rest_input" class="form-group">
      <label class="sr-only" for="vehicle_usage_rest_duration"><%= t 'activerecord.attributes.vehicle_usage.rest_duration' %></label>
      <label class="sr-only" for="vehicle_usage_store_rest"><%= t 'activerecord.attributes.vehicle_usage.store_rest' %></label>
      <label class="col-md-2 control-label"><%= t '.rest_duration_store' %></label>
      <div class="col-md-6">
        <div class="input-group">
          <%= text_field :vehicle_usage, :rest_duration,
            value: @vehicle_usage.rest_duration_time,
            placeholder: !@vehicle_usage.vehicle_usage_set.rest_duration.nil? ? t('vehicle_usages.form.rest_duration.default', n: @vehicle_usage.vehicle_usage_set.rest_duration_time) : t('all.unit.hour_minute'),
            class: 'form-control width_1_2' %>
          <%= collection_select :vehicle_usage, :store_rest_id, @vehicle_usage.vehicle.customer.stores, :id, :name, {
            include_blank: t('vehicle_usages.form.store.default') + ' (' + (@vehicle_usage.vehicle_usage_set.store_rest ? @vehicle_usage.vehicle_usage_set.store_rest.name : t('vehicle_usages.form.store.none')) + ')'}, {
            class: 'form-control width_1_2' } %>
          <span class="input-group-addon"><%= content_tag('i', '', class: 'fa fa-coffee fa-fw') %></span>
        </div>
        <p class="help-block"><%= t '.rest_duration.help' %></p>
      </div>
    </div>
    <div id="vehicle_usage_rest_start_stop_input" class="form-group">
      <label class="sr-only" for="vehicle_usage_rest_start"><%= t 'activerecord.attributes.vehicle_usage.rest_start' %></label>
      <label class="sr-only" for="vehicle_usage_rest_stop"><%= t 'activerecord.attributes.vehicle_usage.rest_stop' %></label>
      <label class="col-md-2 control-label"><%= t '.rest_start_stop' %></label>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon"><%= t 'web.form.from_time' %></span>
          <%= text_field :vehicle_usage, :rest_start,
                         class: 'form-control',
                         placeholder: !@vehicle_usage.vehicle_usage_set.rest_start.nil? ? t('vehicle_usages.form.rest_start.default', n: @vehicle_usage.vehicle_usage_set.rest_start_time) : t('all.unit.hour_minute'),
                         value: @vehicle_usage.rest_start_time %>
          <span class="input-group-addon input-group-borderless"><%= t 'web.form.days' %></span>
          <%= number_field :vehicle_usage, :rest_start_day,
                           class: 'form-control number-of-days',
                           placeholder: @vehicle_usage.rest_start.nil? && number_of_days(@vehicle_usage.vehicle_usage_set.rest_start) ? t('vehicle_usages.form.open_close_days.default', n: number_of_days(@vehicle_usage.vehicle_usage_set.rest_start)) : 0,
                           min: 0,
                           value: number_of_days(@vehicle_usage.rest_start) %>
          <span class="input-group-addon"><%= t 'web.form.to_time' %></span>
          <%= text_field :vehicle_usage, :rest_stop,
                         class: 'form-control',
                         placeholder: !@vehicle_usage.vehicle_usage_set.rest_stop.nil? ? t('vehicle_usages.form.rest_stop.default', n: @vehicle_usage.vehicle_usage_set.rest_stop_time) : t('all.unit.hour_minute'),
                         min: 0,
                         value: @vehicle_usage.rest_stop_time %>
          <span class="input-group-addon input-group-borderless"><%= t 'web.form.days' %></span>
          <%= number_field :vehicle_usage, :rest_stop_day,
                           class: 'form-control number-of-days',
                           placeholder: @vehicle_usage.rest_stop.nil? && number_of_days(@vehicle_usage.vehicle_usage_set.rest_stop) ? t('vehicle_usages.form.open_close_days.default', n: number_of_days(@vehicle_usage.vehicle_usage_set.rest_stop)) : 0,
                           min: 0,
                           value: number_of_days(@vehicle_usage.rest_stop) %>
          <span class="input-group-addon"><i class="fa fa-arrows-h fa-fw"></i></span>
        </div>
        <p class="help-block"><%= t '.rest_start_stop_help' %></p>
      </div>
    </div>
  </fieldset>

  <%= f.actions do %>
    <%= f.submit t('.save') %>
  <% end %>
<% end %>
