<table id="accordion" class="table table-striped table-hover">
  <thead>
    <th><%= t 'activerecord.attributes.vehicle.name' %></th>
    <th><%= t 'activerecord.attributes.vehicle.router_id' %></th>
    <th><%= t 'activerecord.attributes.vehicle.emission' %></th>
    <th><%= t 'activerecord.attributes.vehicle.consumption' %></th>
    <th><%= t 'activerecord.attributes.vehicle.capacity' %></th>
    <th><%= t 'vehicle_usages.index.stores' %></th>
    <th><%= t 'vehicle_usage_sets.index.time' %></th>
    <th><%= t 'vehicle_usage_sets.index.service_time' %></th>
    <th></th>
  </thead>
  <tbody>
    <% vehicle_usage_set.vehicle_usages.each do |vehicle_usage| %>
      <tr>
        <td>
          <div class="vehicle_color" style="background:<%= vehicle_usage.vehicle.color %>"></div>
          <%= vehicle_usage.vehicle.name %>
        </td>
        <td>
          <%= vehicle_usage_router vehicle_usage %>
        </td>
        <td>
          <%= vehicle_usage_emission vehicle_usage %>
        </td>
        <td>
          <%= vehicle_usage_consumption vehicle_usage %>
        </td>
        <td>
          <%= vehicle_usage.vehicle.capacity %>&nbsp;<%= vehicle_usage.vehicle.capacity_unit %>
        </td>
        <td>
          <%= vehicle_usage_store_name vehicle_usage %>
        </td>
        <td>
          <%= vehicle_usage_store_hours vehicle_usage %>
        </td>
        <td>
          <%= vehicle_usage_service_time vehicle_usage %>
        </td>
        <td>
          <%= link_to edit_vehicle_usage_path(vehicle_usage, back: true), :class => 'btn btn-primary btn-sm' do %>
            <i class="fa fa-edit fa-fw"></i> <%= t 'all.verb.edit' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
