<table id="accordion" class="table table-striped table-hover">
  <thead>
    <th><%= t 'activerecord.attributes.vehicle.name' %></th>
    <th><%= t 'activerecord.attributes.vehicle.router_id' %></th>
    <th><%= t 'activerecord.attributes.vehicle.emission' %> - <%= t 'activerecord.attributes.vehicle.consumption' %></th>
    <th><%= t 'vehicle_usages.index.capacity' %></th>
    <th><%= t 'vehicle_usages.index.stores' %></th>
    <th><%= t 'vehicle_usage_sets.index.time' %></th>
    <th><%= t 'vehicle_usages.index.devices' %></th>
    <th></th>
  </thead>
  <tbody>
    <% vehicle_usage_set.vehicle_usages.each do |vehicle_usage| %>
      <tr class="<%= 'disabled' if !vehicle_usage.active %>">
        <td>
          <div class="vehicle_color" style="background:<%= vehicle_usage.vehicle.color %>"></div>
          <%= vehicle_usage.vehicle.name %>
        </td>
        <td>
          <%= vehicle_usage_router vehicle_usage %>
        </td>
        <td>
          <%= vehicle_usage_emission_consumption vehicle_usage %>
        </td>
        <td>
          <%= vehicle_usage.vehicle.capacity1_1 %>&nbsp;<%= vehicle_usage.vehicle.capacity1_1_unit %>
          <%= vehicle_usage.vehicle.capacity1_2 %>&nbsp;<%= vehicle_usage.vehicle.capacity1_2_unit %>
        </td>
        <td>
          <%= vehicle_usage_store_name vehicle_usage %>
        </td>
        <td>
          <%= vehicle_usage_store_hours vehicle_usage %>
        </td>
        <td>
          <%= vehicle_external_services vehicle_usage.vehicle %>
        </td>
        <td class="text-right">
          <% if vehicle_usage.active %>
            <%= link_to edit_vehicle_usage_path(vehicle_usage, back: true), :class => 'btn btn-primary btn-sm' do %>
              <i class="fa fa-edit fa-fw"></i> <%= t 'all.verb.edit' %>
            <% end %>
            <%= link_to [:toggle, vehicle_usage, back: true], { method: :patch, class: 'btn btn-default btn-sm', data: { confirm:  t('.disable_confirm') } } do %>
              <i class="fa fa-power-off fa-fw"></i>
              <%= t('.disable') %>
            <% end %>
          <% else %>
            <%= link_to [:toggle, vehicle_usage, back: true], { method: :patch, class: 'btn btn-default btn-sm' } do %>
              <i class="fa fa-circle-o-notch fa-fw"></i>
              <%= t('.enable') %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
