<h1><%= t '.title' %></h1>

<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-6">
    <div class="pull-right">
      <%= @vehicle_usages.count %> <%= t 'activerecord.models.vehicle_usages', count: @vehicle_usages.count %>
    </div>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.vehicle.name' %></th>
      <th><%= t '.time' %></th>
      <th><%= t '.stores' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicle_usages.each do |vehicle_usage| %>
      <tr>
        <td>
            <div class="vehicle_color" style="background:<%= vehicle_usage.vehicle.color %>"></div>
            <%= vehicle_usage.vehicle.name %>
        </td>
        <td>
            <%= if(vehicle_usage.open) then vehicle_usage.open.strftime("%H:%M") end %>
            -
            <%= if(vehicle_usage.close) then vehicle_usage.close.strftime("%H:%M") end %>
        </td>
        <td><%= vehicle_usage.store_start.name %><% if vehicle_usage.store_start != vehicle_usage.store_stop %> <i class="fa fa-long-arrow-right fa-fw"></i> <%= vehicle_usage.store_stop.name %><% end %></td>
        <td><%= link_to edit_vehicle_usage_path(vehicle_usage), :class => 'btn btn-primary btn-sm' do %><i class="fa fa-edit fa-fw"></i> <%= t 'all.verb.edit' %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
