<%= twitter_bootstrap_fields_for 'destination[visits_attributes]', visit, index: i, layout: :horizontal do |f| %>
  <fieldset>
    <a name="visit_id=<%= visit.id %>"></a>
    <legend class="scheduler-border">
      <a data-toggle="collapse" data-parent="" href="#collapseVisit<%= visit.id || 0 %>" class="accordion-toggle"><span><%= t('.legend', n: i) %></span></a>
    </legend>
    <div id="collapseVisit<%= visit.id || 0 %>" class="collapse in">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default btn-sm flag-destroy" title="<%= t('.delete_help') %>"><i class="fa fa-trash-o fa-fw"></i> <%= t('.delete') %></button>
      </div>
      <%= f.hidden_field :id %>
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy do %>
        <%= t('.destroy') %>
      <% end %>
      <% if visit.destination.customer.enable_references && visit.destination.customer.enable_multi_visits %>
        <%= f.text_field :ref do %>
          <p class="help-block"><%= t '.ref_help' %></p>
        <% end %>
      <% end %>
      <%= f.number_field :quantity, { placeholder: '1 (' + t('.quantity_default') + ')', step: 'any', input_group: content_tag('i', '', class: 'fa fa-archive fa-fw') } do %>
        <p class="help-block"><%= t '.quantity_help' %></p>
      <% end %>
      <%= f.text_field :take_over, {
        value: visit.take_over && l(visit.take_over.utc, format: :hour_minute_second),
        placeholder: visit.destination.customer.take_over ? l(visit.destination.customer.take_over.utc, format: :hour_minute_second) + ' (' + t('.take_over_default') + ')' : t('all.unit.hour_minute_second'),
        input_group: content_tag('i', '', class: 'fa fa-clock-o fa-fw')} do %>
        <p class="help-block"><%= t '.take_over_help' %></p>
      <% end %>
      <div id="visit_open_close_input" class="form-group">
        <label class="sr-only" for="destination_visits_attributes_#{i}_open"><%= t 'activerecord.attributes.visit.open' %></label>
        <label class="sr-only" for="destination_visits_attributes_#{i}_close"><%= t 'activerecord.attributes.visit.close' %></label>
        <label class="col-md-2 control-label"><%= t '.open_close' %></label>
        <div class="col-md-6">
          <div class="input-group">
            <span class="input-group-addon"><%= t 'web.form.from_time' %></span>
            <%= text_field "destination[visits_attributes][#{i}]", :open, class: 'form-control', placeholder: t('all.unit.hour_minute'), value: visit.open && l(visit.open.utc, format: :hour_minute) %>
            <span class="input-group-addon"><%= t 'web.form.to_time' %></span>
            <%= text_field "destination[visits_attributes][#{i}]", :close, class: 'form-control', placeholder: t('all.unit.hour_minute'), value: visit.close && l(visit.close.utc, format: :hour_minute) %>
            <span class="input-group-addon"><i class="fa fa-arrows-h fa-fw"></i></span>
          </div>
          <p class="help-block"><%= t '.close_help' %></p>
        </div>
      </div>
      <% if visit.destination.customer.enable_multi_visits %>
        <%= f.select :tag_ids, t('activerecord.attributes.visit.tag_ids'), options_for_select(visit.destination.customer.tags.map{ |tag| [tag.label, tag.id, {'data-color' => tag.color && tag.color[1..-1], 'data-icon' => tag.icon}]}, visit.tags.collect(&:id)), {}, {multiple: true, input_group: content_tag('i', '', class: 'fa fa-tags fa-fw')} do %>
          <p class="help-block"><%= t '.tags_help' %></p>
        <% end %>
      <% end %>
    </div>
  </fieldset>
<% end %>
