<% content_for :title, t('.title') %>
<h1><%= t '.title' %></h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.profile.name' %></th>
      <th><%= t 'activerecord.attributes.profile.layers' %></th>
      <th><%= t 'activerecord.attributes.profile.routers' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.name %></td>
        <td>
          <ul>
          <% profile.layers.each { |layer| %>
            <li><%= layer.name %></li>
          <% } %>
          </ul>
        </td>
        <td>
          <ul>
          <% profile.routers.each { |router| %>
            <li>
              <%= router.name %>
              <% if router.time? %>
                <i class="fa fa-clock-o" title="<%= t 'activerecord.attributes.router.router_dimensions.time' %>"></i>
              <% end %>
              <% if router.distance? %>
                <i class="fa fa-arrow-circle-right" title="<%= t 'activerecord.attributes.router.router_dimensions.distance' %>"></i>
              <% end %>
              <% if router.avoid_zones? %>
                <i class="fa fa-square-o"></i>
              <% end %>
              <% if router.speed_multiplicator_zones? %>
                <i class="fa fa-minus-square-o"></i>
              <% end %>
            </li>
          <% } %>
          </ul>
        </td>
        <td class="text-right">
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
