<%= twitter_bootstrap_form_for(@store, layout: :horizontal, html: {class: "form-horizontal", "data-destination_id" => (@store.id or 0)}) do |f| %>
  <%= render 'shared/error_messages', model: current_user.customer %>
  <%= f.text_field :ref do %>
    <p class="help-block"><%= t '.ref_help' %></p>
  <% end %>
  <%= f.text_field :name %>
  <%= f.text_field :street, {class: "form-control pointing", input_group: content_tag('i', '', {class: 'fa fa-crosshairs fa-fw', title: t('.locate_manually')})} %>
  <%= f.text_field :postalcode, {maxlength: 7, width: 7} %>
  <%= f.text_field :city %>
  <%= f.text_field :country, {placeholder: t('.country_default', n: @store.customer.default_country)} %>
  <div id="store_city_input" class="form-group">
    <label class="col-md-2 control-label" for="store_city"><%= t 'activerecord.attributes.destination.geocoding_accuracy' %></label>
    <div class="col-md-6">
      <div id="geocoding_accuracy"<% if ! @store.geocoding_accuracy %> style="display: none"<% end %>>
        <input type="hidden" name="store[geocoding_accuracy]" value="<%= @store.geocoding_accuracy %>">
        <div id="geocoding-progress" class="progress">
          <div class="progress-bar<% if @store.geocoding_accuracy %> progress-bar-<%= @store.geocoding_accuracy > Mapotempo::Application.config.geocoding_accuracy_success ? 'success' : @store.geocoding_accuracy > Mapotempo::Application.config.geocoding_accuracy_warning ? 'warning' : 'danger' %><% end %>" style="width: <%= @store.geocoding_accuracy ? (@store.geocoding_accuracy * 100).round : 0 %>%;">
            <span><%= @store.geocoding_accuracy ? (@store.geocoding_accuracy * 100).round.to_s + '%' : '' %></span>
          </div>
        </div>
        <p class="help-block"><%= t 'destinations.form.geocoding_accuracy_help' %></p>
      </div>
      <div id="geocoding_fail" style="display: none">
        <%= t 'destinations.form.geocoding_fail' %> - <a href="#" role="button" class="pointing"><i class="fa fa-crosshairs fa-fw"></i> <%= t '.locate_manually' %></a>
      </div>
      <div id="no_geocoding_accuracy"<% if @store.geocoding_accuracy %> style="display: none"<% end %>>
        <%= t 'destinations.form.geocoding_accuracy_none' %>
      </div>
      <div id="geocoding_level"<% if ! @store.geocoding_level %> style="display: none"<% end %>>
        <input type="hidden" name="store[geocoding_level]" value="<%= @store.geocoding_level %>">
        <i id="geocoding-level-point" class="fa fa-map-marker fa-fw geocoding-level"<% if ! @store.point? %> style="display: none"<% end %>></i>
        <i id="geocoding-level-house" class="fa fa-home fa-fw geocoding-level"<% if ! @store.house? %> style="display: none"<% end %>></i>
        <i id="geocoding-level-intersection" class="fa fa-times fa-fw geocoding-level"<% if ! @store.intersection? %> style="display: none"<% end %>></i>
        <i id="geocoding-level-street" class="fa fa-road fa-fw geocoding-level"<% if ! @store.street? %> style="display: none"<% end %>></i>
        <i id="geocoding-level-city" class="fa fa-exclamation-triangle fa-fw geocoding-level"<% if ! @store.city? %> style="display: none"<% end %>></i>
        <span><%= t 'activerecord.attributes.destination.geocoding_level' %>: <span id="geocoding-level-value"><%= if @store.geocoding_level
          t 'destinations.form.geocoding_level.' + @store.geocoding_level 
          end %></span></span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <span class="col-md-offset-2 col-md-6"><div id="map" style="width: 100%; height: 200px;"></div></span>
  </div>
  <%= f.text_field :lat %>
  <%= f.text_field :lng %>
  <%= f.actions do %>
    <%= f.submit %>
  <% end %>
<% end %>
<%
controller.js(
  destination_id: @store.id || 0,
  map_layer_url: request.ssl? ? current_user.layer.urlssl : current_user.layer.url,
  map_lat: @store.customer.default_position[:lat],
  map_lng: @store.customer.default_position[:lng],
  map_attribution: current_user.layer.map_attribution
)
%>
