<% content_for :title, t('.title') %>
<h1><%= t '.title' %></h1>

<div class="panel panel-default accordion">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCsv">
        <%= t '.csv.title' %>
      </a>
    </h2>
  </div>
  <div id="collapseCsv" class="panel-collapse collapse in">
    <div class="panel-body">
      <p class="help-block"><%= t '.csv.help' %></p>
      <%= twitter_bootstrap_form_for(@import_csv, url: stores_import_csv_path, layout: :horizontal, multipart: true) do |f| %>
        <%= render 'shared/error_messages', model: @import_csv %>
        <%= f.file_field :file, required: true do %>
          <p class="help-block">
            <%= t '.csv.file_help' %>
            <a data-toggle="modal" data-target="#import-help-modal" data-keyboard="true" href="#help" title="<%= t('.import_template_help') %>"><i class="fa fa-info-circle fa-fw"></i> <%= t('.import_template_help') %></a>
          </p>
        <% end %>
        <%= f.toggles t '.stores' do %>
          <%= f.radio_button :replace, t('.replace_no'), 0, checked: true %>
          <p class="help-block"><%= t '.replace_no_help' %></p>
          <%= f.radio_button :replace, t('.replace_yes'), 1 %>
          <p class="help-block"><%= t '.replace_yes_help' %></p>
        <% end %>
        <%= f.actions do %>
          <%= f.submit t('all.verb.import'), {}, 'fa-upload' %>
        <% end %>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-6">
            <a href="/store/import_template.csv" class="btn btn-default" role="button"><i class="fa fa-download fa-fw"></i> <%= t 'import.template_csv' %></a>
            <a href="/store/import_template.excel" class="btn btn-default" role="button"><i class="fa fa-download fa-fw"></i> <%= t 'import.template_excel' %></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="import-help-modal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t 'stores.import.dialog.help.title' %></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <%= t 'stores.import.dialog.help.desc' %>
            <table id="columns-table">
              <% ImporterStores.new(current_user.customer).columns.values.each do |column| %>
                <tr class="column">
                  <td>&bull; <b><%= column[:title] %></b></td>
                  <td><%= column[:format] %></td>
                  <td><%= column[:required] %></td>
                </tr>
                <tr class="column-desc">
                  <td colspan="3"><p class="help-block"><%= column[:desc] %></p></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t 'all.verb.dismiss' %></button>
      </div>
    </div>
  </div>
</div>
