<p>
  {{size}} <%= I18n.t 'plannings.edit.stops' %>
  -
  {{distance}} <%= I18n.t 'all.unit.km' %>
  -
  {{emission}} <%= I18n.t 'all.unit.kgco2e_html' %>
  {{#out_of_date}}<button type="button" class="btn btn-warning btn-sm" id="refresh"><i class="icon-refresh icon-fixed-width"></i> <%= I18n.t 'plannings.edit.refresh' %></button>{{/out_of_date}}
</p>
<ol class="routes">
{{#routes}}
<li class="route" data-route_id="{{route_id}}"{{#vehicle}} style="border-left: 6px solid {{color}}"{{/vehicle}}>
  {{^vehicle}}
    <%= I18n.t 'plannings.edit.out_of_road' %>
    {{size}} <%= I18n.t 'plannings.edit.stops' %>
    <button type="button" class="toggle btn btn-default btn-xs"><i class="icon-eye-close icon-fixed-width"></i></button>
    <!--<button type="button" class="lock btn btn-default btn-xs"><i class="icon-{{^locked}}un{{/locked}}lock icon-fixed-width"></i></button>-->
    <ul id="out_of_road" class="stops sortable"{{#hidden}} style="display: none;"{{/hidden}}>
    {{#stops}}
      {{#destination}}
      <li data-destination_id="{{id}}" class="waypoint ui-state-error">
        <a href="/destinations/{{id}}/edit" class="marker_edit"><i class="icon-pencil icon-fixed-width"></i></a>
        {{#lat}}<a href="#" class="marker"><i class="icon-map-marker icon-fixed-width"></i></a>{{/lat}}
        <input type="checkbox"{{#active}} checked="checked"{{/active}} {{^lat}}disabled="disabled"{{/lat}} style="display: none"/>
        {{name}}
      </li>
      {{/destination}}
    {{/stops}}
      <li class="placeholder">&nbsp;</li>
    </ul>
  {{/vehicle}}
  {{#vehicle}}
    <span>
      <input type="hidden" class="vehicle_select"></input>
      <a href="{{path}}"><i class="icon-truck icon-fixed-width"></i></a>
      <button type="button" class="optimize btn btn-primary btn-xs"><i class="icon-gear icon-fixed-width"></i></button>
      <button type="button" class="toggle btn btn-default btn-xs"><i class="icon-eye-close icon-fixed-width"></i></button>
      <!--<button type="button" class="lock btn btn-default btn-xs"><i class="icon-{{^locked}}un{{/locked}}lock icon-fixed-width"></i></button>-->
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><i class="icon-share icon-fixed-width"></i><span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/routes/{{route_id}}"><i class="icon-print icon-fixed-width"></i> <%= I18n.t 'plannings.edit.export.print' %></a></li>
          <li><a href="/routes/{{route_id}}.csv"><i class="icon-table icon-fixed-width"></i> <%= I18n.t 'plannings.edit.export.spreadsheet' %></a></li>
        </ul>
      </div>
      <br/>
      {{size}} <%= I18n.t 'plannings.edit.stops' %>
      -
      {{start}} {{end}}
      -
      {{distance}} <%= I18n.t 'all.unit.km' %>
    </span>
    <ul class="stops sortable"{{#hidden}} style="display: none;"{{/hidden}} start="0">
    {{#stops}}
      {{#destination}}
      <li data-destination_id="{{id}}" class="{{type}}{{^lat}} ui-state-error{{/lat}}">
        <span class="number">{{#number}}{{number}}.{{/number}}</span>
        {{#is_store}}
          <input type="checkbox" checked="checked" disabled="disabled" style="visibility:hidden"/>
          <a href="#" class="marker"><i class="icon-home icon-fixed-width"></i></a>
        {{/is_store}}
        {{^is_store}}
          <input type="checkbox"{{#active}} checked="checked"{{/active}} {{^lat}}disabled="disabled"{{/lat}}/>
          <a href="/destinations/{{id}}/edit" class="marker_edit"><i class="icon-pencil icon-fixed-width"></i></a>
          {{#lat}}<a href="#" class="marker"><i class="icon-map-marker icon-fixed-width"></i></a>{{/lat}}
        {{/is_store}}
        {{name}}
        {{#lat}}{{distance}} <%= I18n.t 'all.unit.km' %>{{/lat}}
        {{#lat}}{{time}}{{/lat}}
      </li>
      {{/destination}}
    {{/stops}}
      <li class="placeholder">&nbsp;</li>
    </ul>
  {{/vehicle}}
</li>
{{/routes}}
</ol>
