<%
layers = (@user.admin? ? Layer.all : (@user.customer.profile.layers + [@user.layer]).uniq)
  .sort_by(&:id).collect{ |layer|
    {
      id: layer.id,
      name: layer.name,
      url: request.ssl? ? layer.urlssl : layer.url,
      attribution: layer.map_attribution,
      default: layer == @user.layer,
      overlay: layer.overlay
    }
  }
%>
<%= twitter_bootstrap_form_for @user, url: [@customer, @user], layout: :horizontal do |f| %>
  <%= render 'shared/error_messages', model: @user %>
  <%= hidden_field_tag :url, params[:url] %>
  <%= render partial: "users/time_zone" %>
  <%= f.collection_select :layer_id, [], (@user.admin? ? Layer.all.sort_by(&:id) : @user.customer.profile.layers).select{ |l| !l[:overlay] }, :id, :name, {}, {required: true} %>
  <div class="form-group">
    <span class="col-md-offset-2 col-md-6"><div id="map" class="map-fixed-size"></div></span>
  </div>
  <%= f.text_field :url_click2call do %>
    <p class="help-block"><%= t '.url_click2call_help' %></p>
  <% end %>
  <%= f.text_field :api_key, {readonly: true, input_group: content_tag('i', '', class: 'fa fa-key fa-fw')} %>
  <%= f.actions do %>
    <%= f.submit %>
  <% end %>
<% end %>
<%
controller.js(
  map_layers: Hash[['default'].zip(layers.select{ |l| l[:default] })],
  map_lat: @user.customer && @user.customer.default_position[:lat] || t('stores.default.lat'),
  map_lng: @user.customer && @user.customer.default_position[:lng] || t('stores.default.lng'),
  map_available_layers: Hash[layers.select{ |l| !l[:overlay] }.map{ |l| l[:id] }.zip(layers.select{ |l| !l[:overlay] })]
)
%>
