<% content_for :title, t('.title') %>
<h1><%= t '.title' %></h1>

<%= twitter_bootstrap_form_for @user, url: [:set_password, @customer, @user], layout: :horizontal do |f| %>
  <%= render 'shared/error_messages', model: @user %>

  <%= hidden_field_tag :url, url_for([:edit, @customer, @user]) %>
  <%= hidden_field_tag :token, params[:token] %>

  <!-- http://stackoverflow.com/questions/15738259/disabling-chrome-autofill -->
  <input style="display:none" type="password" name="user[password]" />
  <input style="display:none" type="password" name="user[password_confirmation]" />

  <%= f.password_field :password, autocomplete: "off" %>
  <%= f.password_field :password_confirmation, autocomplete: "off" %>

  <%= f.actions do %>
    <%= f.submit t('users.set_password.action') %>
  <% end %>
<% end %>
