<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <% content_for :title, t('.title') %>
        <h1><%= t '.title' %></h1>
      </div>
      <div class="panel-body">
        <%= twitter_bootstrap_form_for @user, url: set_password_user_path(@user), default_label_class: 'col-md-3 control-label', layout: :horizontal do |f| %>
          <%= render 'shared/error_messages', model: @user %>
              
          <%= hidden_field_tag :url, edit_user_path(@user) %>
          <%= hidden_field_tag :token, params[:token] %>
            
          <!-- http://stackoverflow.com/questions/15738259/disabling-chrome-autofill -->
          <input style="display:none" type="password" name="user[password]" />
          <input style="display:none" type="password" name="user[password_confirmation]" />

          <%= f.password_field :password, autocomplete: "off" %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
            
          <%= f.actions(class: 'col-md-offset-3 col-md-6') do %>
            <%= f.submit t('users.set_password.action'), {}, 'fa-check' %>
          <% end %>
        <% end -%>
      </div>
    </div>
  </div>
</div>

