<% require "#{Rails.application.root}/lib/localized_values.rb" %>
<%= twitter_bootstrap_form_for @customer, layout: :horizontal, html: { class: 'clear-passwords number-to-percentage form-horizontal'} do |f| %>

  <%= render 'shared/error_messages', model: @customer %>

  <% if current_user.admin? %>
    <%= f.text_field :ref do %>
      <p class="help-block"><%= t('activerecord.attributes.customer.ref_help') %></p>
    <% end %>
    <%= f.text_area :description, { size: '100%', class: 'form-control' } do %>
      <p class="help-block"><%= t('activerecord.attributes.customer.description_help') %></p>
    <% end %>
  <% end %>

  <%= f.text_field :name, t('.name'), required: true, disabled: !current_user.admin? %>
  <%= f.text_field :end_subscription, {value: @customer.end_subscription ? l(@customer.end_subscription.to_time, format: :datepicker) : nil, disabled:!current_user.admin?, input_group: content_tag('i', '', {class: 'fa fa-calendar fa-fw'})} %>
  <%= f.number_field :max_vehicles, min:1, disabled: (Mapotempo::Application.config.manage_vehicles_only_admin && !current_user.admin?), input_group: content_tag('i', '', class: 'fa fa-truck fa-fw') %>

  <% if current_user.admin? %>
    <%= f.toggles t 'activerecord.attributes.customer.test' do %>
      <%= f.check_box :test, '', checked: @customer.id ? @customer.test : Mapotempo::Application.config.customer_test_default %>
    <% end %>
  <% end %>

  <fieldset>
    <legend class="scheduler-border">
      <%= t '.default_value' %>
    </legend>

    <% if current_user.admin? %>
      <%= f.collection_select :profile_id, [], Profile.all, :id, :name, {}, {required: true, input_group: content_tag('i', '', class: 'fa fa-gear fa-fw')} %>
    <% end %>

    <div id="customer_router_input" class="form-group">
      <label class="col-md-2 control-label" for="customer_router"><%= t('activerecord.attributes.customer.router') %></label>
      <div class="col-md-6">
        <div class="input-group">
          <% routers = @customer.id ? @customer.profile.routers : Router.all %>
          <%= select_tag 'customer[router]', grouped_options_for_select([[t('activerecord.attributes.router.router_dimensions.time'), routers.select(&:time?).collect{ |router|
              [router.translated_name + ' - ' + t('activerecord.attributes.router.router_dimensions.time'), router.id.to_s + '_time']
              }]] + [[t('activerecord.attributes.router.router_dimensions.distance'), routers.select(&:distance?).collect{ |router|
              [router.translated_name + ' - ' + t('activerecord.attributes.router.router_dimensions.distance'), router.id.to_s + '_distance']
              }]],
            @customer.router_id.to_s + '_' + @customer.router_dimension), class: 'form-control', required: true %>
          <span class="input-group-addon"><i class="fa fa-gear fa-fw"></i></span>
        </div>
        <p class="help-block"><%= t '.router_help' %></p>
      </div>
    </div>

    <div id="router_options_track_input" class="form-group <%= @customer.router.try(&:track?) ? '' : 'router-option-disabled' %>">
      <label class="col-md-2 control-label" for="customer_router_options_track">
        <%= t('activerecord.attributes.customer.router_options_track') %>
      </label>

      <div class="col-md-6 input-append form-inline">
        <label>
          <input type="radio" name="customer[router_options][track]" id="customer_router_options_track_yes" value="true" <%= @customer.router_options['track'] == 'false' ? '' : 'checked' %>/>
          <%= t('customers.form.router_options_track_yes') %>
        </label>

        <label>
          <input type="radio" name="customer[router_options][track]" id="customer_router_options_track_no" value="false" <%= @customer.router_options['track'] == 'false' ? 'checked' : '' %>/>
          <%= t('customers.form.router_options_track_no') %>
        </label>
      </div>
    </div>

    <div id="router_options_motorway_input" class="form-group <%= @customer.router.try(&:motorway?) ? '' : 'router-option-disabled' %>">
      <label class="col-md-2 control-label" for="customer_router_options_motorway">
        <%= t('activerecord.attributes.customer.router_options_motorway') %>
      </label>

      <div class="col-md-6 input-append form-inline">
        <label>
          <input type="radio" name="customer[router_options][motorway]" id="customer_router_options_motorway_yes" value="true" <%= @customer.router_options['motorway'] == 'false' ? '' : 'checked' %>/>
          <%= t('customers.form.router_options_motorway_yes') %>
        </label>

        <label>
          <input type="radio" name="customer[router_options][motorway]" id="customer_router_options_motorway_no" value="false" <%= @customer.router_options['motorway'] == 'false' ? 'checked' : '' %>/>
          <%= t('customers.form.router_options_motorway_no') %>
        </label>
      </div>
    </div>

    <div id="router_options_toll_input" class="form-group <%= @customer.router.try(&:toll?) ? '' : 'router-option-disabled' %>">
      <label class="col-md-2 control-label" for="customer_router_options_toll">
        <%= t('activerecord.attributes.customer.router_options_toll') %>
      </label>

      <div class="col-md-6 input-append form-inline">
        <label>
          <input type="radio" name="customer[router_options][toll]" id="customer_router_options_toll_yes" value="true" <%= @customer.router_options['toll'] == 'false' ? '' : 'checked' %>/>
          <%= t('customers.form.router_options_toll_yes') %>
        </label>

        <label>
          <input type="radio" name="customer[router_options][toll]" id="customer_router_options_toll_no" value="false" <%= @customer.router_options['toll'] == 'false' ? 'checked' : '' %>/>
          <%= t('customers.form.router_options_toll_no') %>
        </label>
      </div>
    </div>

    <div id="router_options_trailers_input" class="form-group <%= @customer.router.try(&:trailers?) ? '' : 'router-option-disabled' %>">
      <label class="col-md-2 control-label" for="customer_router_options_trailers">
        <%= t('activerecord.attributes.customer.router_options_trailers') %>
      </label>

      <div class="col-md-6">
        <div class="input-group">
          <%= number_field_tag 'customer[router_options][trailers]', @customer.router_options['trailers'], min: 0, max: 4, step: 1, class: 'form-control' %>
          <span class="input-group-addon"><i class="fa fa-truck fa-fw"></i> </span>
        </div>
        <p class="help-block"><%= t('customers.form.router_options_trailers_range', from: 0, to: 4) %></p>
      </div>
    </div>

    <div id="router_options_weight_input" class="form-group <%= @customer.router.try(&:weight?) ? '' : 'router-option-disabled' %>">
      <label class="col-md-2 control-label" for="customer_router_options_weight">
        <%= t('activerecord.attributes.customer.router_options_weight') %>
      </label>

      <div class="col-md-6">
        <div class="input-group">
          <%= number_field_tag 'customer[router_options][weight]', @customer.router_options['weight'], min: 0, max: 1000, class: 'form-control' %>
          <span class="input-group-addon"><%= t('all.unit.ton') %></span>
        </div>
        <p class="help-block"><%= t('customers.form.router_options_weight_range', from: 0, to: 1000) %></p>
      </div>
    </div>

    <div id="router_options_weight_per_axle_input" class="form-group <%= @customer.router.try(&:weight_per_axle?) ? '' : 'router-option-disabled' %>">
      <label class="col-md-2 control-label" for="customer_router_options_weight_per_axle">
        <%= t('activerecord.attributes.customer.router_options_weight_per_axle') %>
      </label>

      <div class="col-md-6">
        <div class="input-group">
          <%= number_field 'customer[router_options]', :weight_per_axle, value: @customer.router_options['weight_per_axle'], min: 0, max: 1000, step: 'any', class: 'form-control' %>
          <span class="input-group-addon"><%= t('all.unit.ton') %></span>
        </div>
        <p class="help-block"><%=  t('customers.form.router_options_weight_per_axle_range', from: 0, to: 1000) %></p>
      </div>
    </div>

    <div id="router_options_height_input" class="form-group <%= @customer.router.try(&:height?) ? '' : 'router-option-disabled' %>">
      <label class="col-md-2 control-label" for="customer_router_options_height">
        <%= t('activerecord.attributes.customer.router_options_height') %>
      </label>

      <div class="col-md-6">
        <div class="input-group">
          <%= number_field 'customer[router_options]', :height, value: @customer.router_options['height'], min: 0, max: 50, step: 'any', class: 'form-control' %>
          <span class="input-group-addon"><%= t('all.unit.m') %></span>
        </div>
        <p class="help-block"><%= t('customers.form.router_options_height_range', from: 0, to: 50) %></p>
      </div>
    </div>

    <div id="router_options_width_input" class="form-group <%= @customer.router.try(&:width?) ? '' : 'router-option-disabled' %>">
      <label class="col-md-2 control-label" for="customer_router_options_width">
        <%= t('activerecord.attributes.customer.router_options_width') %>
      </label>

      <div class="col-md-6">
        <div class="input-group">
          <%= number_field 'customer[router_options]', :width, value: @customer.router_options['width'], min: 0, max: 50, step: 'any', class: 'form-control' %>
          <span class="input-group-addon"><%= t('all.unit.m') %></span>
        </div>
        <p class="help-block"><%= t('customers.form.router_options_width_range', from: 0, to: 50) %></p>
      </div>
    </div>

    <div id="router_options_length_input" class="form-group <%= @customer.router.try(&:length?) ? '' : 'router-option-disabled' %>">
      <label class="col-md-2 control-label" for="customer_router_options_length">
        <%= t('activerecord.attributes.customer.router_options_length') %>
      </label>

      <div class="col-md-6">
        <div class="input-group">
          <%= number_field 'customer[router_options]', :length, value: @customer.router_options['length'], min: 0, max: 300, step: 'any', class: 'form-control' %>
          <span class="input-group-addon"><%= t('all.unit.m') %></span>
        </div>
        <p class="help-block"><%= t('customers.form.router_options_length_range', from: 0, to: 300) %></p>
      </div>
    </div>

    <div id="router_options_hazardous_goods_input" class="form-group <%= @customer.router.try(&:hazardous_goods?) ? '' : 'router-option-disabled' %>">
      <label class="col-md-2 control-label" for="customer_router_options_hazardous_goods">
        <%= t('activerecord.attributes.customer.router_options_hazardous_goods') %>
      </label>

      <div class="col-md-6">
        <%= select_tag 'customer[router_options][hazardous_goods]', options_for_select(t('activerecord.attributes.router.options.hazardous_goods').invert, @customer.router_options['hazardous_goods']), include_blank: true, class: 'form-control' %>
      </div>
    </div>

    <div id="router_options_max_walk_distance_input" class="form-group <%= @customer.router.try(&:max_walk_distance?) ? '' : 'router-option-disabled' %>">
      <label class="col-md-2 control-label" for="customer_router_options_max_walk_distance">
        <%= t('activerecord.attributes.customer.router_options_max_walk_distance') %>
      </label>

      <div class="col-md-6">
        <div class="input-group">
          <%= number_field 'customer[router_options]', :max_walk_distance, value: @customer.router_options['max_walk_distance'], step: 'any', class: 'form-control' %>
          <span class="input-group-addon"><%= t('all.unit.m') %></span>
        </div>
        <p class="help-block"><%=  t('customers.form.router_options_max_walk_distance_range') %></p>
      </div>
    </div>

    <div id="router_options_approach_input" class="form-group <%= @customer.router.try(&:approach?) ? '' : 'router-option-disabled' %>">
      <label class="col-md-2 control-label" for="customer_router_options_approach">
        <%= t('activerecord.attributes.customer.router_options_approach') %>
      </label>

      <div class="col-md-6">
        <%= select_tag 'customer[router_options][approach]', options_for_select(t('activerecord.attributes.router.options.approach').invert, selected: @customer.router_options['approach']), include_blank: false, class: 'form-control' %>
        <p class="help-block"><%=  t('customers.form.router_options_approach_help') %></p>
      </div>
    </div>

    <div id="router_options_snap_input" class="form-group <%= @customer.router.try(&:snap?) ? '' : 'router-option-disabled' %>">
      <label class="col-md-2 control-label" for="customer_router_options_snap">
        <%= t('activerecord.attributes.customer.router_options_snap') %>
      </label>

      <div class="col-md-6">
        <div class="input-group">
          <%= number_field 'customer[router_options]', :snap, value: @customer.router_options['snap'], step: 'any', class: 'form-control' %>
          <span class="input-group-addon"><%= t('all.unit.m') %></span>
        </div>
        <p class="help-block"><%=  t('customers.form.router_options_snap_range') %></p>
      </div>
    </div>

    <div id="router_options_strict_restriction_input" class="form-group <%= @customer.router.try(&:strict_restriction?) ? '' : 'router-option-disabled' %>">
      <label class="col-md-2 control-label" for="customer_router_options_strict_restriction">
        <%= t('activerecord.attributes.customer.router_options_strict_restriction') %>
      </label>

      <div class="col-md-6">
        <%= check_box_tag 'customer[router_options][strict_restriction]', @customer.router_options['strict_restriction'], !!@customer.router_options['strict_restriction'] %>
        <p class="help-block"><%=  t('customers.form.router_options_strict_restriction') %></p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="speed_multiplicator">
        <%= t('activerecord.attributes.customer.speed_multiplicator') %>
      </label>
      <div class="col-md-6 input-append">
        <div class="input-group">
          <%= number_field_tag :speed_multiplicator, (@customer.speed_multiplicator ? (@customer.speed_multiplicator * 100).to_i : 100), { min: 50, max: 150, placeholder: t('customers.form.speed_multiplicator_default', n: 100), class: 'form-control number-to-percentage' } %>
          <span class="input-group-addon">%</span>
        </div>
        <p class="help-block">
          <%= t('customers.form.speed_multiplicator_help') %>
        </p>
      </div>
    </div>

    <%= f.text_field :take_over, {placeholder: t('all.unit.hour_minute_second'), value: @customer.take_over_time_with_seconds, input_group: content_tag('i', '', class: 'fa fa-clock-o fa-fw')} do %>
      <p class="help-block"><%= t '.take_over_help' %></p>
    <% end %>

    <%= f.text_field :default_country, required: true %>

    <%= f.toggles t 'activerecord.attributes.customer.with_state' do %>
      <%= f.check_box :with_state %>
    <% end %>

  </fieldset>
  <% if current_user.admin? %>
    <fieldset>
      <legend class="scheduler-border">
        <%= t '.options' %>
      </legend>
      <% if Mapotempo::Application.config.enable_orders %>
        <%= f.toggles t 'activerecord.attributes.customer.enable_orders' do %>
            <%= f.check_box :enable_orders %>
        <% end %>
      <% end %>
      <%= f.toggles t 'activerecord.attributes.customer.enable_multi_vehicle_usage_sets' do %>
        <%= f.check_box :enable_multi_vehicle_usage_sets %>
      <% end %>
      <%= f.toggles t 'activerecord.attributes.customer.enable_multi_visits' do %>
        <%= f.check_box :enable_multi_visits %>
      <% end %>
      <%= f.toggles t 'activerecord.attributes.customer.enable_references' do %>
        <%= f.check_box :enable_references %>
      <% end %>
      <%= f.toggles t 'activerecord.attributes.customer.enable_global_optimization' do %>
        <%= f.check_box :enable_global_optimization %>
      <% end %>
      <%= f.toggles t 'activerecord.attributes.customer.enable_vehicle_position' do %>
        <%= f.check_box :enable_vehicle_position %>
      <% end %>
      <%= f.toggles t 'activerecord.attributes.customer.enable_stop_status' do %>
        <%= f.check_box :enable_stop_status %>
      <% end %>
    </fieldset>
    <fieldset>
      <legend class="scheduler-border">
        <%= t '.optimization_parameters' %>
      </legend>
      <%= f.number_field :optimization_cluster_size, { placeholder: t('.optimization_cluster_size_default', n: LocalizedValues.localize_numeric_value(Mapotempo::Application.config.optimize_cluster_size)), min: 0, input_group: t('all.unit.second')} do %>
        <p class="help-block"><%= t '.optimization_cluster_size_help' %></p>
      <% end %>
      <%= f.number_field :optimization_time, { placeholder: t('.optimization_time_default', n: LocalizedValues.localize_numeric_value(Mapotempo::Application.config.optimize_time)), min: 0, input_group: t('all.unit.second')} do %>
        <p class="help-block"><%= t '.optimization_time_help' %></p>
      <% end %>
      <%= f.number_field :optimization_stop_soft_upper_bound, { placeholder: t('.optimization_soft_upper_bound_default', n: LocalizedValues.localize_numeric_value(Mapotempo::Application.config.optimize_stop_soft_upper_bound)), min: 0, step: 'any', input_group: '×'} do %>
        <p class="help-block"><%= t '.optimization_stop_soft_upper_bound_help' %></p>
      <% end %>
      <%= f.number_field :optimization_vehicle_soft_upper_bound, { placeholder: t('.optimization_soft_upper_bound_default', n: LocalizedValues.localize_numeric_value(Mapotempo::Application.config.optimize_vehicle_soft_upper_bound)), min: 0, step: 'any', input_group: '×'} do %>
        <p class="help-block"><%= t '.optimization_vehicle_soft_upper_bound_help' %></p>
      <% end %>
      <%= f.number_field :cost_waiting_time, { placeholder: t('.cost_waiting_time_default', n: LocalizedValues.localize_numeric_value(Mapotempo::Application.config.cost_waiting_time)), min: 0, step: 'any', input_group: '×'} do %>
          <p class="help-block"><%= t '.cost_waiting_time_help' %></p>
      <% end %>
      <%= f.toggles t 'activerecord.attributes.customer.optimization_force_start' do %>
        <%= f.check_box :optimization_force_start %>
        <p class="help-block"><%= t '.optimization_force_start_help' %></p>
      <% end %>
    </fieldset>
  <% end %>
  <fieldset>
    <legend class="scheduler-border">
      <%= t '.outputs' %>
    </legend>
    <div class="panel panel-default accordion">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsePrint">
            <%= t '.print.title' %>
          </a>
        </h2>
      </div>
      <div id="collapsePrint" class="panel-collapse collapse">
        <div class="panel-body">
          <%= f.toggles t 'activerecord.attributes.customer.print_map' do %>
            <%= f.check_box :print_map %>
          <% end %>
          <%= f.toggles t 'activerecord.attributes.customer.print_planning_annotating' do %>
            <%= f.check_box :print_planning_annotating %>
          <% end %>
          <%= f.toggles t 'activerecord.attributes.customer.print_stop_time' do %>
            <%= f.check_box :print_stop_time %>
          <% end %>
          <%= f.text_area :print_header do %>
            <p class="help-block"><%= t '.print_header_help' %></p>
          <% end %>
        </div>
      </div>
    </div>

    <% if current_user.admin? %>
      <%= f.toggles t 'activerecord.attributes.customer.enable_external_callback' do %>
        <%= f.check_box :enable_external_callback %>
      <% end %>
    <% end %>
    <% if @customer.enable_external_callback? %>
      <div id="external_callback_container" class="panel panel-default accordion">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseExternalCallback">
              <%= t '.external_callback.title' %>
            </a>
          </h2>
        </div>
        <div id="collapseExternalCallback" class="panel-collapse">
          <div class="panel-body">
            <div class="col-md-10">
              <%= f.text_field :external_callback_name, t('.external_callback.name'), placeholder: t('.external_callback.name_placeholder') %>
              <%= f.text_field :external_callback_url, t('.external_callback.url'), placeholder: t('.external_callback.url_placeholder') do %>
                <div class="help-block"><%= simple_format t('.external_callback.url_help') %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </fieldset>

  <% if current_user.admin? %>
    <% @customer.device.definitions.each do |key, device| %>
      <%= f.toggles device[:label] do %>
        <input name="<%= "customer[devices][#{key}][enable]" %>" value="0" type="hidden">
        <%= f.check_box_tag "customer[devices][#{key}][enable]", 1, to_bool(@customer.devices[key] && @customer.devices[key][:enable]) %>
        <% if device[:help] %>
          <p class="help-block"><%= t "customers.form.devices.#{key}.help" %></p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if !@customer.device.enabled_definitions.empty? %>
    <div class="row">
      <div class="col-md-12" id="devices_settings">
        <% @customer.device.enabled_definitions.each do |key, definition| %>
          <% if definition[:forms].key?(:settings) %>
            <div id="<%= key %>_container" class="panel panel-default device">
              <div class="panel-heading">
                <h2 class="panel-title">
                  <%= definition[:label] %>
                </h2>
              </div>
              <div class="panel-body">
                <div class="col-md-12">
                  <% definition[:forms][:settings].each{ |field, type| %>
                    <div class="form-group">
                      <% name = "customer[devices][#{key}][#{field}]" %>
                      <%= f.label_tag name, t("activerecord.attributes.customer.devices.#{key}.#{field}"), class: 'col-md-2 control-label' %>
                      <div class="col-md-6 input-append">
                        <%= case type
                          when :text
                            f.text_field_tag name, @customer.devices[key] && @customer.devices[key][field], autocomplete: 'off', class: 'form-control'
                          when :password
                            f.password_field_tag name, @customer.devices[key] && @customer.devices[key][field], autocomplete: 'off', class: 'form-control'
                          end %>
                      </div>
                    </div>
                  <% } %>
                  <% if definition[:has_sync] %>
                  <div class="btn btn-default btn-sm <%= key %>-api-sync" disabled="disabled">
                    <i class="fa fa-bolt fa-fw"></i>
                    <%= t 'customers.form.devices.sync.action' %>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= f.actions do %>
    <%= f.submit t('.submit') %>
  <% end %>
<% end %>
