<%= form_for @customer, html:{class:"form-horizontal"} do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.label :end_subscription, class:"col-lg-2 control-label" %>
    <span class="col-lg-4"><%= f.date_field :end_subscription, class:"form-control", disabled:true %></span>
  </div>
  <div class="row">
    <%= f.label :max_vehicles, class:"col-lg-2 control-label" %>
    <span class="col-lg-4"><%= f.number_field :max_vehicles, class:"form-control", disabled:true %></span>
  </div>
  <div class="row">
    <%= f.label :take_over, class:"col-lg-2 control-label" %>
    <span class="col-lg-4">
      <div class="input-group">
        <%= f.number_field :take_over, class:"form-control" %>
        <span class="input-group-addon"><%= t 'all.unit.minute' %></span>
      </div>
    </span>
  </div>
  <div class="row">
    <div class="col-lg-offset-2">
      <%= f.submit class:"btn btn-primary" %>
    </div>
  </div>
<% end %>
