<%= twitter_bootstrap_form_for @customer, layout: :horizontal do |f| %>
  <%= render 'shared/error_messages', model: @customer %>
  <%= f.text_field :name, disabled:!current_user.admin? %>
  <%= f.date_field :end_subscription, disabled:!current_user.admin? %>
  <%= f.number_field :max_vehicles, disabled:!current_user.admin? %>
  <% if current_user.admin? %>
    <%= f.collection_select :router_id, [], Router.all, :id, :name, {}, {} do %>
      <p class="help-block"><%= t '.router_help' %></p>
    <% end %>
  <% end %>
  <%= f.text_field :take_over, {value: @customer.take_over ? @customer.take_over.strftime("%H:%M:%S") : nil, input_group: t('all.unit.hour_minute_second')} do %>
    <p class="help-block"><%= t '.take_over_help' %></p>
  <% end %>
  <div id="accordion" class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsePrint">
          <%= t '.print.title' %>
        </a>
      </h2>
    </div>
    <div id="collapsePrint" class="panel-collapse collapse">
      <div class="panel-body">
        <%= f.check_box :print_planning_annotating, t('.print.planning_annotating') %>
        <%= f.text_area :print_header do %>
          <p class="help-block"><%= t '.print_header_help' %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTomtom">
          <%= t '.tomtom' %>
        </a>
      </h2>
    </div>
    <div id="collapseTomtom" class="panel-collapse collapse">
      <div class="panel-body">
        <p class="help-block"><%= t '.tomtom_help' %></p>
        <%= f.text_field :tomtom_account %>
        <%= f.text_field :tomtom_user %>
        <%= f.text_field :tomtom_password %>
      </div>
    </div>
  </div>
  <%= f.actions do %>
    <%= f.submit %>
  <% end %>
<% end %>
