<% content_for :title, t('.title') %>
<h1><%= t '.title' %></h1>

<%= render 'form' %>

<%
controller.js(
  customer_id: @customer.id,
  tomtom: @customer.tomtom?,
  enable_tomtom: @customer.enable_tomtom?,
  tomtom_default_password: tomtom_default_password
)
%>

<h1><%= t '.user.list' %></h1>

<% if current_user.admin? %>
  <p>
    <%= link_to new_admin_user_path(customer: @customer), class:"btn btn-default btn-sm" do %><i class="fa fa-plus fa-fw"></i> <%= t '.user.new' %><% end %>
  </p>
<% end %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.users.email' %></th>
      <th class="text-right"><%= t 'activerecord.attributes.user.sign_in_count' %></th>
      <th><%= t 'activerecord.attributes.user.sign_in_at' %></th>
      <% if current_user.admin? %>
        <th><%= t '.user.connect_as' %></th>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @customer.users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td class="text-right"><%= user.sign_in_count %></td>
        <td><%= user.current_sign_in_at && l(user.current_sign_in_at) %></td>
        <% if current_user.admin? %>
          <td><a href="/?api_key=<%= user.api_key %>"><%= t '.user.connect_as' %></a></td>
          <td class="text-right">
            <%= link_to edit_admin_user_path(user), :class => "btn btn-primary btn-sm" do %><i class="fa fa-edit fa-fw"></i> <%= t 'all.verb.edit' %><% end %>
            <%= link_to admin_user_path(user), :class => "btn btn-danger btn-sm", method: :delete, data: { confirm: t('all.verb.destroy_confirm') } do %><i class="fa fa-trash-o fa-fw"></i> <%= t 'all.verb.destroy' %><% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.admin? %>
  <h1><%= t '.vehicles.list' %></h1>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= t 'activerecord.attributes.vehicle.name' %></th>
        <th class="text-right"><%= t 'activerecord.attributes.vehicle.ref' %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @customer.vehicles.each do |vehicle| %>
        <tr>
          <td><%= vehicle.name %></td>
          <td class="text-right"><%= vehicle.ref %></td>
          <td class="text-right">
            <%= link_to "vehicles/#{vehicle.id}", :class => "btn btn-danger btn-sm", method: :delete, data: { confirm: t('all.verb.destroy_confirm') } do %><i class="fa fa-trash-o fa-fw"></i> <%= t 'all.verb.destroy' %><% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
