<h1><%= t '.title' %></h1>

<%= render 'form' %>

<h1><%= t '.user.list' %></h1>

<% if current_user.admin? %>
  <p>
    <%= link_to new_admin_user_path(customer: @customer), class:"btn btn-default btn-sm" do %><i class="fa fa-plus fa-fw"></i> <%= t '.user.new' %><% end %>
  </p>
<% end %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.users.email' %></th>
      <th class="text-right"><%= t 'activerecord.attributes.user.sign_in_count' %></th>
      <th><%= t 'activerecord.attributes.user.sign_in_at' %></th>
      <% if current_user.admin? %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @customer.users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td class="text-right"><%= user.sign_in_count %></td>
        <td><%= user.current_sign_in_at && l(user.current_sign_in_at) %></td>
        <% if current_user.admin? %>
          <td class="text-right">
            <%= link_to edit_admin_user_path(user), :class => "btn btn-primary btn-sm" do %><i class="fa fa-edit fa-fw"></i> <%= t 'all.verb.edit' %><% end %>
            <%= link_to admin_user_path(user), :class => "btn btn-danger btn-sm", method: :delete, data: { confirm: t('all.verb.destroy_confirm') } do %><i class="fa fa-trash-o fa-fw"></i> <%= t 'all.verb.destroy' %><% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
