<h1><%= t '.title' %></h1>

<%= render 'form' %>

<h1><%= t '.user_list' %></h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.users.email' %></th>
    </tr>
  </thead>

  <tbody>
    <% @customer.users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
