<h1><%= t '.title' %></h1>

<p>
  <%= link_to new_customer_path, class:"btn btn-primary btn-sm" do %><i class="icon icon-plus icon-fixed-width"></i> <%= t '.new' %><% end %>
</p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.customer.name' %></th>
      <th><%= t 'activerecord.attributes.customer.max_vehicles' %></th>
      <th><%= t 'activerecord.attributes.customer.end_subscription' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.max_vehicles %></td>
        <td><%= customer.end_subscription %></td>
        <td class="text-right">
          <%= link_to edit_customer_path(customer), :class => "btn btn-primary btn-sm" do %><i class="icon icon-edit icon-fixed-width"></i> <%= t 'all.verb.edit' %><% end %>
          <%= link_to customer, :class => "btn btn-danger btn-sm", method: :delete, data: { confirm: t('all.verb.destroy_confirm') } do %><i class="icon icon-trash icon-fixed-width"></i> <%= t 'all.verb.destroy' %><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
