<% content_for :title, t('.title') %>
<h1><%= t '.title' %></h1>

<div id="accordion" class="panel panel-default accordion">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseMap">
        <%= t '.map' %>
      </a>
    </h2>
  </div>
  <div id="collapseMap" class="panel-collapse collapse">
    <div class="panel-body">
      <div id="map"></div>
    </div>
  </div>
</div>

<div class="row row-top">
  <div class="col-md-6">
    <%= link_to new_customer_path, class:"btn btn-primary btn-sm" do %><i class="fa fa-plus fa-fw"></i> <%= t '.new' %><% end %>
  </div>
  <div class="col-md-6">
    <div class="pull-right">
      <%= @customers.count %> <%= t 'activerecord.models.customers', count: @customers.count %> (<%= t '.no_test' %> : <%= @customers.select{ |customer| !customer.test }.count %>),
      <%
        vehicles_count = Vehicle.joins(:customer).where(customers: {reseller_id: @current_user.reseller_id}).count
        vehicles_no_test_count = Vehicle.joins(:customer).where(customers: {reseller_id: @current_user.reseller_id, test: false}).count
      %>
      <%= vehicles_count %> <%= t 'activerecord.models.vehicles', count: vehicles_count %> (<%= t '.no_test' %> : <%= vehicles_no_test_count %>),
    </div>
  </div>
</div>

<%= form_tag destroy_multiple_customers_path, method: :delete do %>
<table class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th><button id="add" type="button" class="btn btn-default btn-xs index_toggle_selection" title="<%= t 'all.verb.toggle_selection' %>"><i class="fa fa-check fa-fw"></i></button></th>
      <th><%= t 'activerecord.attributes.customer.name' %></th>
      <th><%= t 'activerecord.attributes.customer.profile' %></th>
      <th><%= t 'activerecord.attributes.customer.max_vehicles' %></th>
      <th><%= t 'activerecord.attributes.customer.test' %></th>
      <th><%= t 'activerecord.attributes.customer.jobs' %></th>
      <th><%= t '.status' %></th>
      <th><%= t 'activerecord.attributes.customer.end_subscription' %></th>
      <th><%= t 'activerecord.attributes.customer.description_title' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr<% if customer.end_subscription && customer.end_subscription < Time.now %> class="disabled"<% end %>>
        <td><%= check_box_tag("customers[#{customer.id}]") %></td>
        <td><%= customer.name %></td>
        <td><%= customer.profile.name %></td>
        <td><%= customer.max_vehicles %></td>
        <td><%= customer.test ? '✓' : '' %></td>
        <td>
          <%= render 'job', customer: customer, job: customer.job_optimizer %>
          <%= render 'job', customer: customer, job: customer.job_destination_geocoding %>
          <%= render 'job', customer: customer, job: customer.job_store_geocoding %>
        </td>
        <td>
          <% if customer.users.empty? %>
            <span title="<%= t '.status_no_user' %>"><i class="fa fa-user-times fa-fw"></i><i class="fa fa-warning" style="color: orange;"></i></span>
          <% else
            max = customer.users.collect(&:current_sign_in_at).compact.max
            if !max %>
            <span title="<%= t '.status_no_sign_in_user' %>"><i class="fa fa-user fa-fw"><i class="fa fa-hourglass-half fa-fw"></i></span>
          <% elsif max < Time.now - 61.days %>
            <span title="<%= t '.status_inactive_user' %>"><i class="fa fa-user fa-fw"></i>Zz (<%= l max.to_date %>)</span>
          <% end end %>
        </td>
        <td>
          <% if customer.end_subscription %>
            <%= l(customer.end_subscription) %>
            <% if customer.end_subscription < Time.now + 30.days && customer.end_subscription > Time.now %>
              <i class="fa fa-bell" style="color: orange;"></i>
            <% end %>
          <% end %>
        </td>
        <td title="<%= customer.description if customer.description %>">
          <%= customer.description.try { |d| (d.length > 51) ? d[0, 50] + '...' : d } %>
        </td>
        <td class="text-right">
          <%= link_to [:duplicate, customer], method: :patch, class: "btn btn-default btn-sm", data: { confirm: t('all.verb.destroy_confirm') } do %>
            <i class="fa fa-copy fa-fw"></i>
            <%= t 'all.verb.duplicate' %>
          <% end %>
          <%= link_to edit_customer_path(customer), :class => "btn btn-primary btn-sm" do %><i class="fa fa-edit fa-fw"></i> <%= t 'all.verb.edit' %><% end %>
          <%= link_to customer, :class => "btn btn-danger btn-sm", method: :delete, data: { confirm: t('all.verb.destroy_confirm') } do %><i class="fa fa-trash-o fa-fw"></i> <%= t 'all.verb.destroy' %><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_tag type: :submit, class: "btn btn-danger btn-sm", data: { confirm: t('all.verb.destroy_confirm') } do %><i class="fa fa-trash-o fa-fw"></i> <%= t('all.verb.destroy_selection') %><% end %>
<% end %>
<%
layers = Layer.all.sort_by(&:id).uniq.collect{ |layer|
  {
    id: layer.id,
    name: layer.name,
    url: request.ssl? ? layer.urlssl : layer.url,
    attribution: layer.map_attribution,
    default: layer == current_user.layer,
    overlay: layer.overlay
  }
}
controller.js(
  map_layers: Hash[layers.map{ |l| l[:name] }.zip(layers)]
)
%>
