<span style="font-size:16px;border-radius: 100%;padding-left: 8px;padding-right: 5px;padding-bottom: 5px;background-color: #E91E63;color:white;">▶</span>
<i style="margin-left:5px; font-size:11px;"> <%= t('user_mailer.features.adds.video') %></i>
<ul style="margin-left:5px; font-size:11px;">
  <li>
    <a target="_blank" href="<%= @parameters[:panel_second][:youtube_links][:first] %>" style="color: #13b0ca;text-decoration: underline !important;}">
      <%= t('user_mailer.features.adds.destination_params') %>
    </a>
  </li>
  <li>
    <a target="_blank" href="<%= @parameters[:panel_second][:youtube_links][:second] %>" style="color: #13b0ca;text-decoration: underline !important;}">
      <%= t('user_mailer.features.adds.tags') %>
    </a>
  </li>
</ul>
