<span style="font-size:16px;border-radius: 100%;padding-left: 8px;padding-right: 5px;padding-bottom: 5px;background-color: #E91E63;color:white;">▶</span>
<i style="margin-left:5px; font-size:11px;"><%= t('user_mailer.advanced_options.adds.videos') %></i>
<ul style="margin-left:5px; font-size:11px;">
  <li>
    <a target="_blank" href="https://www.youtube.com/watch?v=1xPzktNdQIg" style="color: #13b0ca;text-decoration: underline !important;}">
      <%= t('user_mailer.advanced_options.adds.plans') %>
    </a>
  </li>
  <li>
    <a target="_blank" href="https://www.youtube.com/watch?v=H55Pmi4sIhQ" style="color: #13b0ca;text-decoration: underline !important;}">
      <%= t('user_mailer.advanced_options.adds.stops') %>
    </a>
  </li>
  <li>
    <a target="_blank" href="https://www.youtube.com/watch?v=8kABOCz0wKM" style="color: #13b0ca;text-decoration: underline !important;}">
      <%= t('user_mailer.advanced_options.adds.optimize') %>
    </a>
  </li>
  <li>
    <a target="_blank" href="https://www.youtube.com/watch?v=vcScpd2xCSw" style="color: #13b0ca;text-decoration: underline !important;}">
      <%= t('user_mailer.advanced_options.adds.export') %>
    </a>
  </li>
  <li>
    <a target="_blank" href="https://www.youtube.com/watch?v=_ggx3V9Zl6g" style="color: #13b0ca;text-decoration: underline !important;}">
      <%= t('user_mailer.advanced_options.adds.gps') %>
    </a>
  </li>
</ul>
