<span style="font-size:16px;border-radius: 100%;padding-left: 8px;padding-right: 5px;padding-bottom: 5px;background-color: #E91E63;color:white;">▶</span>
<i style="margin-left:5px; font-size:11px;"><%= t('user_mailer.advanced_options.adds.videos') %></i>
<ul style="margin-left:5px; font-size:11px;">
  <li>
    <a target="_blank" href="<%= @parameters[:panel_first][:youtube_links][:first] %>" style="color: #13b0ca;text-decoration: underline !important;}">
      <%= t('user_mailer.advanced_options.adds.plans') %>
    </a>
  </li>
  <li>
    <a target="_blank" href="<%= @parameters[:panel_first][:youtube_links][:second] %>" style="color: #13b0ca;text-decoration: underline !important;}">
      <%= t('user_mailer.advanced_options.adds.stops') %>
    </a>
  </li>
  <li>
    <a target="_blank" href="<%= @parameters[:panel_first][:youtube_links][:third] %>" style="color: #13b0ca;text-decoration: underline !important;}">
      <%= t('user_mailer.advanced_options.adds.optimize') %>
    </a>
  </li>
  <li>
    <a target="_blank" href="<%= @parameters[:panel_first][:youtube_links][:fourth] %>" style="color: #13b0ca;text-decoration: underline !important;}">
      <%= t('user_mailer.advanced_options.adds.export') %>
    </a>
  </li>
  <li>
    <a target="_blank" href="<%= @parameters[:panel_first][:youtube_links][:fifth] %>" style="color: #13b0ca;text-decoration: underline !important;}">
      <%= t('user_mailer.advanced_options.adds.gps') %>
    </a>
  </li>
</ul>
