<%= twitter_bootstrap_form_for @deliverable_unit, layout: :horizontal do |f| %>
  <%= render 'shared/error_messages', model: @deliverable_unit %>
  <%= f.text_field :label, { placeholder: t('.label_placeholder')} do %>
    <p class="help-block"><%= t '.label_help' %></p>
  <% end %>
  <%= f.number_field :default_quantity, { step: 'any'} do %>
    <p class="help-block"><%= t '.default_quantity_help' %></p>
  <% end %>
  <%= f.number_field :default_capacity, { step: 'any'} do %>
    <p class="help-block"><%= t '.default_capacity_help' %></p>
  <% end %>
  <div class="form-group" id="deliverable_unit_optimization_overload_multiplier_input">
    <label class="col-md-2 control-label" for="deliverable_unit_optimization_overload_multiplier"><%= t 'activerecord.attributes.deliverable_unit.optimization_overload_multiplier' %></label>
    <div class="col-md-6 input-append form-inline">
      <label><input type="radio" name="deliverable_unit_optimization_overload_multiplier" id="deliverable_unit_optimization_overload_multiplier_no" value="no"<% if @deliverable_unit.optimization_overload_multiplier == 0 || (@deliverable_unit.optimization_overload_multiplier.nil? && Mapotempo::Application.config.optimize_overload_multiplier == 0) %> checked<% end %>><%= t '.optimization_overload_multiplier_no' %></label>
      <label><input type="radio" name="deliverable_unit_optimization_overload_multiplier" id="deliverable_unit_optimization_overload_multiplier_yes" value="yes"<% if (@deliverable_unit.optimization_overload_multiplier && @deliverable_unit.optimization_overload_multiplier != 0) || Mapotempo::Application.config.optimize_overload_multiplier != 0 %> checked<% end %>><%= t '.optimization_overload_multiplier_yes' %></label>
      <input step="any" class="form-control" type="number" name="deliverable_unit[optimization_overload_multiplier]" id="deliverable_unit_optimization_overload_multiplier" placeholder="<%= Mapotempo::Application.config.optimize_overload_multiplier %>" value="<%= @deliverable_unit.optimization_overload_multiplier %>"/>
      <p class="help-block"><%= t '.optimization_overload_multiplier_help' %></p>
    </div>
  </div>
  <%= f.actions do %>
    <%= f.submit %>
  <% end %>
<% end %>
