<% require "#{Rails.application.root}/lib/localized_values" %>
<%= twitter_bootstrap_form_for @deliverable_unit, layout: :horizontal do |f| %>
  <%= render 'shared/error_messages', model: @deliverable_unit %>
  <%= f.text_field :label, { placeholder: t('.label_placeholder')} do %>
    <p class="help-block"><%= t '.label_help' %></p>
  <% end %>
  <%= f.text_field :ref do %>
    <p class="help-block"><%= t '.ref_help' %></p>
  <% end %>
  <%= f.number_field :default_quantity, { step: 'any'} do %>
    <p class="help-block"><%= t '.default_quantity_help' %></p>
  <% end %>
  <%= f.number_field :default_capacity, { step: 'any'} do %>
    <p class="help-block"><%= t '.default_capacity_help' %></p>
  <% end %>
  <div class="form-group" id="deliverable_unit_optimization_overload_multiplier_input">
    <label class="col-md-2 control-label" for="deliverable_unit_optimization_overload_multiplier"><%= t 'activerecord.attributes.deliverable_unit.optimization_overload_multiplier' %></label>
    <div class="col-md-6 input-append form-inline">
      <label><input type="radio" name="deliverable_unit_optimization_overload_multiplier" id="deliverable_unit_optimization_overload_multiplier_no" data-toggle="popover" data-placement="top" data-content="<%= t '.optimization_overload_multiplier_no_help' %>" value="no"<% if @deliverable_unit.optimization_overload_multiplier == 0 || (@deliverable_unit.optimization_overload_multiplier.nil? && Mapotempo::Application.config.optimize_overload_multiplier == 0) %> checked<% end %>><%= t '.optimization_overload_multiplier_no' %></label>
      <label><input type="radio" name="deliverable_unit_optimization_overload_multiplier" id="deliverable_unit_optimization_overload_multiplier_yes" data-toggle="popover" data-placement="top" data-content="<%= t '.optimization_overload_multiplier_yes_help' %>" value="yes"<% if (@deliverable_unit.optimization_overload_multiplier && @deliverable_unit.optimization_overload_multiplier > 0) || Mapotempo::Application.config.optimize_overload_multiplier > 0 %> checked<% end %>><%= t '.optimization_overload_multiplier_yes' %></label>
      <input step="any" class="form-control" type="number" name="deliverable_unit[optimization_overload_multiplier]" id="deliverable_unit_optimization_overload_multiplier" placeholder="<%= LocalizedValues.localize_numeric_value(Mapotempo::Application.config.optimize_overload_multiplier) %>" value="<%= @deliverable_unit.optimization_overload_multiplier %>"/>
      <label><input type="radio" name="deliverable_unit_optimization_overload_multiplier" id="deliverable_unit_optimization_overload_multiplier_ignore" data-toggle="popover" data-placement="top" data-content="<%= t '.optimization_overload_multiplier_ignore_help' %>" value="ignore"<% if (@deliverable_unit.optimization_overload_multiplier && @deliverable_unit.optimization_overload_multiplier == -1) || Mapotempo::Application.config.optimize_overload_multiplier == -1 %> checked<% end %>><%= t '.optimization_overload_multiplier_ignore' %></label>
      <p class="help-block"><%= t '.optimization_overload_multiplier_help' %></p>
    </div>
  </div>
  <div id="deliverable_unit_icon_input" class="form-group">
    <label class="col-md-2 control-label" for="deliverable_unit_icon"><%= t 'activerecord.attributes.store.icon' %></label>
    <div class="col-md-6">
      <div class="input-group">
        <%= select_tag 'deliverable_unit[icon]', grouped_options_for_select([
         [t('deliverable_units.form.prefered_icons'),
           @grouped_icons[0].map{ |icon| [icon, icon, {:data => {:content => "<i class='fa fa-fw #{icon}'></i> #{icon}"}, :selected => (@deliverable_unit.icon == icon) ? true : nil }]},],
           [t('deliverable_units.form.other_icons'),
            @grouped_icons[1].map{ |icon| [icon, icon, {:data => {:content => "<i class='fa fa-fw #{icon}'></i> #{icon}"}, :selected => (@deliverable_unit.icon == icon) ? true : nil }]}
          ]
        ]), include_blank: t('web.form.default', n: 'fa-home'), class: 'form-control width_1 selectpicker', 'data-live-search' => true  %>
        <span class="input-group-addon"><%= content_tag('i', '', class: 'fa fa-archive fa-fw') %></span>
      </div>
    </div>
  </div>
  <%= f.actions do %>
    <%= f.submit %>
  <% end %>
<% end %>
