<% content_for :title, t('.title') %>

<h1><%= t '.title' %></h1>

<div class="row row-top">
  <div class="col-md-6">
    <%= link_to new_deliverable_unit_path, class:"btn btn-primary btn-sm" do %><i class="fa fa-plus fa-fw"></i> <%= t '.new' %><% end %>
  </div>
  <div class="col-md-6">
    <div class="pull-right">
      <%= @deliverable_units.count %> <%= t 'activerecord.models.deliverable_units', count: @deliverable_units.count %>
    </div>
  </div>
</div>

<%= form_tag deliverable_units_path, method: :delete do %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><button id="add" type="button" class="btn btn-default btn-xs index_toggle_selection" title="<%= t 'all.verb.toggle_selection' %>"><i class="fa fa-check fa-fw"></i></button></th>
      <th><%= t 'activerecord.attributes.deliverable_unit.label' %></th>
      <th><%= t 'activerecord.attributes.deliverable_unit.ref' %></th>
      <th><%= t 'activerecord.attributes.deliverable_unit.default_quantity' %></th>
      <th><%= t 'activerecord.attributes.deliverable_unit.default_capacity' %></th>
      <th><%= t 'activerecord.attributes.deliverable_unit.optimization_overload_multiplier' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @deliverable_units.each do |deliverable_unit| %>
      <tr>
        <td><%= check_box_tag("deliverable_units[#{deliverable_unit.id}]") %></td>
        <td><%= deliverable_unit.label %></td>
        <td><%= deliverable_unit.ref %></td>
        <td><%= deliverable_unit.localized_default_quantity %></td>
        <td><%= deliverable_unit.localized_default_capacity %></td>
        <td><%= deliverable_unit.default_optimization_overload_multiplier == 0 ? t('deliverable_units.form.optimization_overload_multiplier_no') : deliverable_unit.default_optimization_overload_multiplier == -1 ? t('deliverable_units.form.optimization_overload_multiplier_ignore') : deliverable_unit.localized_optimization_overload_multiplier %></td>
        <td class="text-right">
          <%= link_to edit_deliverable_unit_path(deliverable_unit), :class => 'btn btn-primary btn-sm' do %><i class="fa fa-edit fa-fw"></i> <%= t 'all.verb.edit' %><% end %>
          <%= link_to deliverable_unit, :class => 'btn btn-danger btn-sm', method: :delete, data: { confirm: t('all.verb.destroy_confirm') } do %><i class="fa fa-trash-o fa-fw"></i> <%= t 'all.verb.destroy' %><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_tag type: :submit, class: "btn btn-danger btn-sm", data: { confirm: t('all.verb.destroy_confirm') } do %><i class="fa fa-trash-o fa-fw"></i> <%= t('all.verb.destroy_selection') %><% end %>
<% end %>
