<%= form_for @tag, html:{class:"form-horizontal"} do |f| %>
  <%= render 'shared/error_messages', model: @tag %>
  <div class="row">
    <%= f.label :label, class:"col-lg-2 control-label" %>
    <span class="col-lg-4"><%= f.text_field :label, class:"form-control" %></span>
  </div>
  <div class="row">
    <div class="col-lg-offset-2">
      <%= f.submit class:"btn btn-primary" %>
    </div>
  </div>
<% end %>
