<%= twitter_bootstrap_form_for @tag, layout: :horizontal do |f| %>
  <%= render 'shared/error_messages', model: @tag %>
  <%= f.text_field :label, required: true %>
  <%= f.text_field :ref do %>
    <p class="help-block"><%= t '.ref_help' %></p>
  <% end %>
  <div class="form-group" id="tag_color_input">
    <label class="col-md-2 control-label" for="tag_color">Couleur</label>
    <div class="col-md-6 input-append">
      <%= select_tag 'tag[color]', options_for_select((COLORS_TABLE + [customised_color_verification(@tag[:color])]).compact.uniq, @tag[:color]), include_blank: '#000000' %> <i class="fa fa-paint-brush" id="customised_color_picker" title="<%= t('activerecord.attributes.vehicle.customised_color') %>"></i>
      <%= color_field :tag, :color, option = { value: customised_color_verification(@tag[:color]), id: 'color_picker', name: 'fff' } %>
      <p class="help-block"><%= t '.color_help' %></p>
    </div>
  </div>

  <div id="tag_icon_input" class="form-group">
    <label class="col-md-2 control-label" for="tag_icon"><%= t 'activerecord.attributes.tag.icon' %></label>
    <label class="sr-only" for="tag_icon_size"><%= t 'activerecord.attributes.tag.icon_size' %></label>
    <div class="col-md-6">
      <div class="input-group">
        <%= select_tag 'tag[icon]', grouped_options_for_select(
          [
            [t('tags.form.prefered_icons'),
             @grouped_icons[0].map { |icon| [icon, icon, { :data => { :content => "<i class='fa fa-fw #{icon}'></i> #{icon}" }, :selected => (@tag.icon == icon) ? true : nil }] },],
            [t('tags.form.other_icons'),
             @grouped_icons[1].map { |icon| [icon, icon, { :data => { :content => "<i class='fa fa-fw #{icon}'></i> #{icon}" }, :selected => (@tag.icon == icon) ? true : nil }] }
            ]
          ]
        ), include_blank: t('web.form.default', n: 'fa-circle'), class: 'form-control width_1_2 selectpicker', 'data-live-search' => true %>
        <%= select_tag 'tag[icon_size]', options_for_select([[t('.icon_size.small'), :small], [t('.icon_size.medium'), :medium], [t('.icon_size.large'), :large]], @tag.icon_size), include_blank: t('web.form.default', n: t('.icon_size.medium')), class: 'form-control width_1_2' %>
        <span class="input-group-addon"><%= content_tag('i', '', class: 'fa fa-home fa-fw') %></span>
      </div>
    </div>
  </div>

  <%= f.actions do %>
    <%= f.submit %>
  <% end %>
<% end %>
