<%= twitter_bootstrap_form_for @tag, layout: :horizontal do |f| %>
  <%= render 'shared/error_messages', model: @tag %>
  <%= f.text_field :label, required: true %>
  <%= f.text_field :ref do %>
    <p class="help-block"><%= t '.ref_help' %></p>
  <% end %>
  <div class="form-group" id="tag_color_input">
    <label class="col-md-2 control-label" for="tag_color">Couleur</label>
    <div class="col-md-6 input-append">
      <%= select_tag 'tag[color]', options_for_select((COLORS_TABLE + [customised_color_verification(@tag[:color])]).compact.uniq, @tag[:color]), include_blank: '#000000' %> <i class="fa fa-paint-brush" id="customised_color_picker" title="<%= t('activerecord.attributes.vehicle.customised_color') %>"></i>
      <%= color_field :tag, :color, option = { value: customised_color_verification(@tag[:color]), id: 'color_picker', name: 'fff' } %>
      <p class="help-block"><%= t '.color_help' %></p>
    </div>
  </div>
  <%= f.select :icon, [], Tag::ICONS_TABLE, { include_blank: t('.icon_default') } do %>
    <p class="help-block"><%= t '.icon_help' %></p>
  <% end %>
  <%= f.actions do %>
    <%= f.submit %>
  <% end %>
<% end %>
