<% content_for :title, t('.title') %>
<div id="edit-zoning" class="sidebar">
  <div class="sidebar-tabs">
    <ul role="tablist">
      <li><a href="#zoning" role="tab"><i class="fa fa-caret-left"></i></a></li>
    </ul>
  </div>
  <div class="sidebar-content">
    <div class="sidebar-pane" id="zoning">
      <div class="pull-right">
        <button type="button" class="btn btn-default btn-sm sidebar-close" title="<%= t '.collapse_zoning_panel' %>"><i class="fa fa-caret-right"></i></button>
      </div>
      <h1><% if @manage_zoning.include? :edit %><%= t '.title' %><% else %><%= @zoning.name %><% end %></h1>

      <%= render 'zonings/form' %>
    </div>
  </div>
</div>

<div id="map" class="sidebar-map"></div>

<%= render 'zonings/isoline' %>
