<%= twitter_bootstrap_form_for @zoning, layout: :horizontal do |f| %>
  <%= render 'shared/error_messages', model: @zoning %>
  <% if @planning %>
    <input id="planning_id" type="hidden" value="<%= @planning.id %>" name="planning_id">
  <% end %>
  <%= f.text_field :name %>
  <%= f.actions do %>
    <%= f.submit %>
  <% end %>

  <div id="zones"></div>
<% end %>
<%
controller.js(
  zoning_id: @zoning.id,
  planning_id: @planning ? @planning.id : nil,
  map_layer_url: request.ssl? ? current_user.layer.urlssl : current_user.layer.url,
  map_lat: current_user.customer.stores[0].lat,
  map_lng: current_user.customer.stores[0].lng,
  map_attribution: t('all.osm_attribution_html', layer_attribution: current_user.layer.attribution),
  vehicles_array: current_user.customer.vehicles.collect{ |vehicle|
    {id: vehicle.id, name: vehicle.name, color: vehicle.color}
  },
  vehicles_map: Hash[current_user.customer.vehicles.collect{ |vehicle|
    [vehicle.id, {id: vehicle.id, name: vehicle.name, color: vehicle.color, marker: asset_path("point-#{vehicle.color.gsub('#','')}.svg")}]
  }]
)
%>
