<%= twitter_bootstrap_form_for @zoning, layout: :horizontal do |f| %>
  <%= render 'shared/error_messages', model: @zoning %>
  <% if @planning %>
    <input id="planning_id" type="hidden" value="<%= @planning.id %>" name="planning_id">
  <% end %>
  <%= f.text_field :name %>
  <%= f.actions do %>
    <%= f.submit %>
  <% end %>
  <% if @zoning.id %>
    <div id="zoning_div_input" class="form-group">
      <div class="col-md-offset-2 col-md-6">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-magic fa-fw"></i> <%= t '.generate' %> <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" id="from_planning"><i class="fa fa-magic fa-fw"></i> <%= t '.from_planning' %></a></li>
          <li class="divider"></li>
          <% @zoning.customer.vehicles.size.times{ |n| %>
          <li><a href="#" class="automatic" data-n="<%= n + 1 %>"><i class="fa fa-magic fa-fw"></i> <%= t('.automatic', count: n + 1) %></a></li>
          <% } %>
        </ul>
      </div>
    </div>
  <% end %>

  <div id="zones"></div>
<% end %>
<%
controller.js(
  zoning_id: @zoning.id,
  planning_id: @planning ? @planning.id : nil,
  map_layer_url: request.ssl? ? current_user.layer.urlssl : current_user.layer.url,
  map_lat: @zoning.customer.stores[0].lat,
  map_lng: @zoning.customer.stores[0].lng,
  map_attribution: current_user.layer.map_attribution,
  vehicles_array: @zoning.customer.vehicles.collect{ |vehicle|
    {id: vehicle.id, name: vehicle.name, color: vehicle.color}
  },
  vehicles_map: Hash[@zoning.customer.vehicles.collect{ |vehicle|
    [vehicle.id, {id: vehicle.id, name: vehicle.name, color: vehicle.color}]
  }]
)
%>
