<%= form_for @zoning, html:{class:"form-horizontal"} do |f| %>
  <%= render 'shared/error_messages', model: @zoning %>
  <div class="row">
    <%= f.label :name, class:"col-lg-2 control-label" %>
    <span class="col-lg-4"><%= f.text_field :name, class:"form-control" %></span>
  </div>
  <div class="row">
    <div class="col-lg-offset-2">
      <%= f.submit class:"btn btn-primary" %>
    </div>
  </div>

  <div id="zones" class="col-lg-3"></div>
  <div class="fill col-lg-9">
  <div id="map"></div>
<% end %>
<%
controller.js(
  zoning_id: @zoning.id,
  planning_id: @planning ? @planning.id : nil,
  map_layer_url: current_user.layer.url,
  map_lat: current_user.customer.store.lat,
  map_lng: current_user.customer.store.lng,
  map_attribution: t('all.osm_attribution_html', layer_attribution: current_user.layer.attribution),
  vehicles_array: current_user.customer.vehicles.collect{ |vehicle|
    {id: vehicle.id, name: vehicle.name, color: vehicle.color}
  },
  vehicles_map: Hash[current_user.customer.vehicles.collect{ |vehicle|
    [vehicle.id, {id: vehicle.id, name: vehicle.name, color: vehicle.color}]
  }]
)
%>
