<% content_for :title, t('.title') %>
<div id="edit-zoning" class="sidebar">
  <div class="sidebar-tabs">
    <ul role="tablist">
      <li><a href="#zoning" role="tab"><i class="fa fa-caret-left"></i></a></li>
    </ul>
  </div>
  <div class="sidebar-content">
    <div class="sidebar-pane" id="zoning">
      <div class="pull-right">
        <button type="button" class="btn btn-default btn-sm sidebar-close" title="<%= t '.collapse_zoning_panel' %>"><i class="fa fa-caret-right"></i></button>
      </div>
      <h1><%= t '.title' %></h1>

      <%= render 'form' %>
    </div>
  </div>
</div>

<div id="map" class="sidebar-map"></div>

<div class="modal fade" id="isochrone-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t 'zonings.form.dialog.isochrone.title' %></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <form>
              <% if @isochrone && @isochrone.size <= 1 %>
                <input id="isochrone_vehicle_usage_set_id" type="hidden" value="<%= @zoning.customer.vehicle_usage_sets[0].id %>"/>
              <% else %>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="vehicle_use_set"><%= t 'zonings.form.dialog.isochrone.vehicle_usage_set' %></label>
                  <div class="col-md-8 input-append">
                    <div class="input-group">
                      <%= select_tag :isochrone_vehicle_usage_set_id, options_for_select(Hash[@isochrone.collect{ |i| [i[0].name, i[0].id] }], disabled: @isochrone.select{ |i| i[-1] }.collect(&:first)), class: 'form-control' %>
                      <span class="input-group-addon">
                        <i class="fa fa-truck fa-fw"></i>
                      </span>
                    </div>
                    <p class="help-block">
                      <%= t 'zonings.form.dialog.isochrone.vehicle_usage_set_help' %>
                    </p>
                  </div>
                </div>
              <% end %>
              <div class="form-group">
                <label class="col-md-4 control-label" for="size"><%= t 'zonings.form.dialog.isochrone.size' %></label>
                <div class="col-md-8 input-append">
                  <div class="input-group">
                    <input type="text" class="form-control" id="isochrone_size" value="00:20"/>
                    <span class="input-group-addon">
                      <%= t('all.unit.hour_minute') %>
                    </span>
                  </div>
                  <p class="help-block">
                    <%= t 'zonings.form.dialog.isochrone.size_help' %>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t 'all.verb.dismiss' %></button>
        <button type="button" class="btn btn-primary" id="isochrone"><%= t 'zonings.form.dialog.validate' %></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="isochrone-progress-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t 'zonings.form.dialog.isochrone-progress.title' %></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" style="width: 100%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="isodistance-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t 'zonings.form.dialog.isodistance.title' %></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <form>
              <% if @isodistance && @isodistance.size <= 1 %>
                <input id="isodistance_vehicle_usage_set_id" type="hidden" value="<%= @zoning.customer.vehicle_usage_sets[0].id %>"/>
              <% else %>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="vehicle_use_set"><%= t 'zonings.form.dialog.isodistance.vehicle_usage_set' %></label>
                  <div class="col-md-8 input-append">
                    <div class="input-group">
                      <%= select_tag :isodistance_vehicle_usage_set_id, options_for_select(Hash[@isodistance.collect{ |i| [i[0].name, i[0].id] }], disabled: @isodistance.select{ |i| i[-1] }.collect(&:first)), class: 'form-control' %>
                      <span class="input-group-addon">
                        <i class="fa fa-truck fa-fw"></i>
                      </span>
                    </div>
                    <p class="help-block">
                      <%= t 'zonings.form.dialog.isodistance.vehicle_usage_set_help' %>
                    </p>
                  </div>
                </div>
              <% end %>
              <div class="form-group">
                <label class="col-md-4 control-label" for="size"><%= t 'zonings.form.dialog.isodistance.size' %></label>
                <div class="col-md-8 input-append">
                  <div class="input-group">
                    <input type="text" class="form-control" id="isodistance_size" value="10"/>
                    <span class="input-group-addon">
                      <%= t('all.unit.km') %>
                    </span>
                  </div>
                  <p class="help-block">
                    <%= t 'zonings.form.dialog.isodistance.size_help' %>
                  </p>
                  <% if @zoning.id && @zoning.customer.vehicles.find{ |vehicle| !vehicle.default_router.isodistance? } %>
                    <p class="help-block"><%= t '.isodistance_missing_vehicle' %></p>
                  <% end %>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t 'all.verb.dismiss' %></button>
        <button type="button" class="btn btn-primary" id="isodistance"><%= t 'zonings.form.dialog.validate' %></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="isodistance-progress-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t 'zonings.form.dialog.isodistance-progress.title' %></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" style="width: 100%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
