<div id="edit-zoning" class="sidebar">
  <div class="sidebar-tabs">
    <ul role="tablist">
      <li><a href="#zoning" role="tab"><i class="fa fa-caret-left"></i></a></li>
    </ul>
  </div>
  <div class="sidebar-content">
    <div class="sidebar-pane" id="zoning">
      <div class="pull-right">
        <button type="button" class="btn btn-default btn-sm sidebar-close" title="<%= t '.collapse_zoning_panel' %>"><i class="fa fa-caret-right"></i></button>
      </div>
      <h1><%= t '.title' %></h1>

      <%= render 'form' %>
    </div>
  </div>
</div>

<div id="map" class="sidebar-map"></div>

<div class="modal fade" id="isochrone-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t 'zonings.form.dialog.isochrone.title' %></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <form>
              <div class="form-group">
                <label class="col-md-4 control-label" for="size"><%= t 'zonings.form.dialog.isochrone.size' %></label>
                <div class="col-md-8 input-append">
                  <div class="input-group">
                    <input type="text" class="form-control" id="isochrone_size" value="00:20"/>
                    <span class="input-group-addon">
                      <%= t('all.unit.hour_minute') %>
                    </span>
                  </div>
                  <p class="help-block">
                    <%= t 'zonings.form.dialog.isochrone.size_help' %>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t 'all.verb.dismiss' %></button>
        <button type="button" class="btn btn-primary" id="isochrone"><%= t 'zonings.form.dialog.validate' %></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="isochrone-progress-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t 'zonings.form.dialog.isochrone-progress.title' %></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" style="width: 100%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
