<h1><%= t '.title' %></h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.zoning.name' %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @zonings.each do |zoning| %>
      <tr>
        <td><%= zoning.name %></td>
        <td><%= link_to edit_zoning_path(zoning) do %><i class="icon-edit icon-fixed-width"></i> <%= t 'all.verb.edit' %><% end %></td>
        <td><%= link_to zoning, method: :delete, data: { confirm: t('all.verb.destroy_confirm') } do %><i class="icon-remove icon-fixed-width"></i> <%= t 'all.verb.destroy' %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row col-lg-1">
  <%= link_to new_zoning_path, class:"btn btn-default btn-sm" do %><i class="icon-plus icon-fixed-width"></i> <%= t '.new' %><% end %>
</div>
