<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= t '.content' %></p>
    <p><%= "%s: %s" % [t(".vehicle"), vehicle.name] %></p>
    <% if route.planning.date %>
      <p><%= "%s: %s (%s)" % [t(".planning"), route.planning.name, l(route.planning.date)] %></p>
    <% else %>
      <p><%= "%s: %s" % [t(".planning"), route.planning.name] %></p>
    <% end %>
    <p><%= "%s: %s" % [t(".planning_ref"), route.planning.ref] if route.planning.ref %></p>
    <p><%= "%s: %s" % [t(".route_ref"), route.ref] if route.ref %></p>
    <p><%= "%s: %s" % [t(".order_array"), route.planning.order_array.name] if route.planning.customer.enable_orders && route.planning.order_array %></p>
  </body>
</html>
