<table cellspacing="0" cellpadding="0" width="600" class="w320">
  <tr>
    <td width="50">&nbsp;</td>
    <td width="1000" align="center">
      <div align="justify">
        <p><%= t('.hello') + ',' %></p>

        <p><%= t('.content', s: user.customer.reseller.name) %></p>

        <br/>

        <% unless infos.nil? %>
          <% infos.each do |info| %>
            <ul>
              <li>
                <%= t('.vehicle', name: info[:vehicle].name) %>
              </li>

              <% info[:routes].each do |route_details| %>
                <li>
                  <%= t('.planning', name: route_details[:route].planning.name, date: route_details[:route].planning.date ? "(#{l(route_details[:route].planning.date)})" : '') %>
                </li>
                <li>
                  <%= t('.link', link: user.customer.reseller.url_protocol + '://' + user.customer.reseller.host + route_details[:url]).html_safe %>
                </li>
                <% if route_details[:route].planning.ref %>
                  <li>
                    <%= t('.planning_ref', ref: route_details[:route].planning.ref) %>
                  </li>
                <% end %>
                <% if route_details[:route].ref %>
                  <li>
                    <%= t('.route_ref', ref: route_details[:route].ref) %>
                  </li>
                <% end %>
                <% if route_details[:route].planning.customer.enable_orders && route_details[:route].planning.order_array %>
                  <li>
                    <%= t('.order_array', name: route_details[:route].planning.order_array.name) %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        <% end %>

        <br/>

        <p>
          <%= I18n.t('user_mailer.layout.staff.greetings').html_safe %>
        </p>
        <p class="signature">
          <%= I18n.t('user_mailer.layout.staff.signature', name: @name).html_safe %>
        </p>
      </div>
    </td>
    <td width="50">&nbsp;</td>
  </tr>
</table>

<% content_for :footer do %>
  <td align="center" valign="top" height="100px" width="100%" style="background-color: #ffffff;  border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;">
  </td>
<% end %>
