<li class="route_print">
  <h1><i class="fa fa-calendar fa-fw"></i>
    <%= route.planning.name %> -
    <% if route.ref %>
      <%= route.ref %> -
    <% end %>
    <i class="fa fa-truck fa-fw"></i><%= route.vehicle.name %>
  </h1>
  <% if route.planning.customer.print_header %>
    <div>
      <%= raw(route.planning.customer.print_header) %>
    </div>
  <% end %>
  <span>
    <i class="fa fa-check-square fa-fw"></i> <%= route.size_active %>&nbsp;<%= I18n.t 'plannings.edit.stops' %>
    <i class="fa fa-clock-o fa-fw"></i> <%= ("%i:%02i" % [(route.end - route.start)/60/60, (route.end - route.start)/60%60]) if route.start && route.end %>
    <i class="fa fa-road fa-fw"></i> <%= number_to_human(route.distance, units: :distance, precision: 3, format: '%n %u') %>
  </span>

  <ol class="stops" start="0">
    <li class="list-group-item" style="border-left: 3px solid <%= route.vehicle.color %>">
      <div class="row no-gutter">
        <div class="title col-md-2 col-sm-2 col-xs-3">
          <span class="time"><%= route.start.strftime("%H:%M") if route.start %></span>
        </div>

        <% if current_user.customer.print_planning_annotating %>
          <div class="col-md-5 col-sm-6 col-xs-6">
        <% else %>
          <div class="col-md-6 col-sm-6 col-xs-9">
        <% end %>
          <span class="name"><%= route.vehicle.store_start.name %></span><br/>
          <span class="address">
            <%= route.vehicle.store_start.street %>
            </br>
            <%= route.vehicle.store_start.postalcode %> <%= route.vehicle.store_start.city %>
          </span>
        </div>
      </div>
    </li>

  <%
  index = 0
  route.stops.each{ |stop|
    if stop.active && stop.destination.lat != nil && stop.destination.lng != nil
  %>
    <li class="list-group-item" style="border-left: 3px solid <%= route.vehicle.color %>">
      <% if stop.wait_time && stop.wait_time > 60 %>
        <div class="row no-gutter">
          <div class="col-md-12">
            <i class="fa fa-clock-o fa-fw"></i><%= t'.wait' %> <%= "%i:%02i" % [stop.wait_time/60/60, stop.wait_time/60%60] %>
          </div>
        </div>
        <hr/>
      <% end %>
      <div class="row no-gutter">

        <div class="title col-md-2 col-sm-2 col-xs-3">
          <span class="number">#<%= index += 1 %></span>
          <span class="time"><%= stop.time.strftime("%H:%M") if stop.time %></span>
          <% if stop.destination.open or stop.destination.close %>
            <span class="window">
              <%= stop.destination.open.strftime("%H:%M") if stop.destination.open %>-<%= stop.destination.close.strftime("%H:%M") if stop.destination.close %>
            </span>
          <% end %>
          <% if stop.destination.tags.size > 0 %>
            <div class="tags">
              <% stop.destination.tags.each { |tag| %>
                <i class="fa fa-tag fa-fw"></i><%= tag.label %>
              <% } %>
            </div>
          <% end %>
          <% if stop.destination.quantity && stop.destination.quantity > 1 %>
            <div class="quantity">
              <i class="fa fa-archive fa-fw"></i>⨯<%= stop.destination.quantity %>
            </div>
          <% end %>
          <% if stop.destination.take_over %>
            <span class="take_over">(<%= stop.destination.take_over.strftime("%H:%M:%S") %>)</span>
          <% end %>
        </div>

        <% if current_user.customer.print_planning_annotating %>
          <div class="col-md-5 col-sm-6 col-xs-6">
        <% else %>
          <div class="col-md-6 col-sm-6 col-xs-9">
        <% end %>
          <span class="ref"><%= stop.destination.ref %></span>
          <span class="name"><%= stop.destination.name %></span><br/>
          <span class="address">
            <%= stop.destination.street %><% if stop.destination.detail && !stop.destination.detail.empty? %>, <%= stop.destination.detail %><% end %>
            <% if (stop.destination.street && !stop.destination.street.empty?) || (stop.destination.detail && !stop.destination.detail.empty?) %>
              </br>
            <% end %>
            <%= stop.destination.postalcode %> <%= stop.destination.city %>
          </span>
          <% if stop.destination.comment && stop.destination.comment.length > 0 %>
            <div class="comment visible-sm visible-xs"><%= stop.destination.comment %></div>
          <% end %>
        </div>

        <% if current_user.customer.print_planning_annotating %>
          <div class="comment col-md-2 hidden-sm hidden-xs"><%= stop.destination.comment %></div>
        <% else %>
          <div class="comment col-md-4 col-sm-4 hidden-xs"><%= stop.destination.comment %></div>
        <% end %>

        <% if current_user.customer.print_planning_annotating %>
          <div class="annotating col-md-3 col-sm-3 col-xs-3">
            <div><%= t '.annotating.hour' %></div>
            <div class="signature"><%= t '.annotating.signature' %></div>
          </div>
        <% end %>
      </div>

      <% if stop.out_of_window || stop.out_of_capacity || stop.out_of_drive_time %>
        <div class="row">
          <span class="col-md-offset-1 col-md-11 ui-state-error">
            <% if stop.out_of_window %>
              <span><i class="fa fa-clock-o fa-fw"></i> <%= t 'plannings.edit.error.out_of_window' %></span>
            <% end %>
            <% if stop.out_of_capacity %>
              <span><i class="fa fa-archive fa-fw"></i> <%= t 'plannings.edit.error.out_of_capacity' %></span>
            <% end %>
            <% if stop.out_of_drive_time %>
              <span><i class="fa fa-power-off fa-fw"></i> <%= t 'plannings.edit.error.out_of_drive_time' %></span>
            <% end %>
          </span>
        </div>
       <% end %>
    </li>
  <%
    end
  }
  %>

    <li class="list-group-item" style="border-left: 3px solid <%= route.vehicle.color %>">
      <div class="row no-gutter">

        <div class="title col-md-2 col-sm-2 col-xs-3">
          <span class="time"><%= route.end.strftime("%H:%M") if route.end %></span>
        </div>

        <% if current_user.customer.print_planning_annotating %>
          <div class="col-md-5 col-sm-6 col-xs-6">
        <% else %>
          <div class="col-md-6 col-sm-6 col-xs-9">
        <% end %>
          <span class="name"><%= route.vehicle.store_stop.name %></span><br/>
          <span class="address">
            <%= route.vehicle.store_stop.street %>
            </br>
            <%= route.vehicle.store_stop.postalcode %> <%= route.vehicle.store_stop.city %>
          </span>
        </div>

        <% if route.stop_out_of_drive_time %>
          <div class="row">
            <span class="col-md-offset-1 col-md-11 ui-state-error">
              <% if route.stop_out_of_drive_time %>
                <span><i class="fa fa-power-off fa-fw"></i> <%= t 'plannings.edit.error.out_of_drive_time' %></span>
              <% end %>
            </span>
          </div>
       <% end %>
    </li>

  </ol>
</li>
