<li class="route-print">
  <h1><i class="fa fa-calendar fa-fw"></i>
    <%= route.planning.name %> -
    <% if route.ref %>
      <%= route.ref %> -
    <% end %>
    <i class="fa fa-truck fa-fw"></i><%= route.vehicle_usage.vehicle.name %>
    <% if route.planning.customer.enable_orders && route.planning.order_array %>
      -
      <i class="fa fa-check-square-o fa-fw"></i>
      <%= route.planning.order_array.name %>
    <% end %>
    <% if route.planning.date %>
      -
      <%= l(route.planning.date) %>
    <% end %>
  </h1>
  <% if route.planning.customer.print_header %>
    <div>
      <%= raw(route.planning.customer.print_header) %>
    </div>
  <% end %>
  <% if route.planning.customer.print_map %>
    <div>
      <iframe src="/api-web/0.1/plannings/<%= route.planning.id %>/routes?ids=<%= route.id %>&layer_id=<%= route.planning.customer.profile.layers.where(print: true).first.try(&:id) %>"></iframe>
    </div>
  <% end %>
  <span>
    <i class="fa fa-check-square fa-fw"></i> <%= route.size_active %>&nbsp;<%= I18n.t 'plannings.edit.stops' %>
    <i class="fa fa-clock-o fa-fw"></i> <%= ("%i:%02i" % [(route.end - route.start)/60/60, (route.end - route.start)/60%60]) if route.start && route.end %>
    <i class="fa fa-road fa-fw"></i> <%= number_to_human(route.distance, units: :distance, precision: 3, format: '%n %u') %>
    <i class="fa fa-archive fa-fw"></i> <%= route.quantity %>&nbsp;<%= route.vehicle_usage.vehicle.capacity_unit %>
  </span>

  <ol class="stops" start="0">
    <% if route.vehicle_usage.default_store_start %>
      <li class="list-group-item store" style="border-left: 5px solid <%= route.color || route.vehicle_usage.vehicle.color %>">
        <div class="row no-gutter">
          <% if route.planning.customer.print_planning_annotating %>
            <div class="col-md-5 col-sm-6 col-xs-6">
          <% else %>
            <div class="col-md-6 col-sm-6 col-xs-9">
          <% end %>
            <i class="fa fa-2x <%= route.vehicle_usage.default_store_start.icon || 'fa-home' %>" style="color: <%= route.vehicle_usage.default_store_start.color || 'black' %>;"></i>
            <span class="name"><%= route.vehicle_usage.default_store_start.name %></span><br/>
            <span class="address">
              <%= route.vehicle_usage.default_store_start.street %>
              <%= route.vehicle_usage.default_store_start.postalcode %> <%= route.vehicle_usage.default_store_start.city %>  <%= route.vehicle_usage.default_store_start.country %>
            </span>
          </div>

          <div class="title col-md-2 col-sm-2 col-xs-3">
            <span class="time">
              <%= l(route.start.utc, format: :hour_minute) if route.start %>
              <% if display_start_time(route) %>
                - <%= l(display_start_time(route).utc, format: :hour_minute) %>
              <% end %>
            </span>
          </div>
        </div>
      </li>
    <% end %>

  <%
  index = 0
  route.stops.each{ |stop|
    if stop.active && (stop.position? || stop.is_a?(StopRest))
  %>
    <li class="list-group-item stop" style="border-left: 5px solid <%= route.color || route.vehicle_usage.vehicle.color %>">
      <% if stop.wait_time && stop.wait_time > 60 %>
        <div class="row no-gutter">
          <div class="col-md-12">
            <i class="fa fa-clock-o fa-fw"></i><%= t'.wait' %> <%= "%i:%02i" % [stop.wait_time/60/60, stop.wait_time/60%60] %>
          </div>
        </div>
        <hr/>
      <% end %>
      <div class="row no-gutter">
        <% if route.planning.customer.print_planning_annotating %>
          <div class="col-md-5 col-sm-6 col-xs-6">
        <% else %>
          <div class="col-md-6 col-sm-6 col-xs-9">
        <% end %>
          <span class="number"><%= index += 1 %></span>
          <span class="name"><% if stop.is_a?(StopRest) %><i class="fa fa-coffee fa-fw"></i> <% end %><%= stop.name %></span>
          <% if stop.ref %>
            (<span class="ref"><%= stop.ref %></span>)
          <% end %>
          <br/>
          <span class="address">
            <%= stop.street %><% if stop.detail && !stop.detail.empty? %>, <%= stop.detail %><% end %>
            <%= stop.postalcode %> <%= stop.city %> <%= stop.country %>
          </span>
          <% if !stop.comment.blank? %>
            <div class="comment wrapped-text visible-sm visible-xs"><%= stop.comment %></div>
          <% end %>
          <% if stop.phone_number && stop.phone_number.length > 0 %>
            <div class="phone_number wrapped-text visible-sm visible-xs"><i class="fa fa-phone fa-fw"></i><%= stop.phone_number %></div>
          <% end %>
        </div>

        <div class="title col-md-2 col-sm-2 col-xs-3">
          <% if route.planning.customer.print_stop_time %>
            <span class="time"><%= l(stop.time.utc, format: :hour_minute) if stop.time %></span>
          <% end %>
          <% if stop.open || stop.close %>
            <span class="window">
              <%= l(stop.open.utc, format: :hour_minute) if stop.open %>-<%= l(stop.close.utc, format: :hour_minute) if stop.close %>
            </span>
          <% end %>
          <% if stop.is_a?(StopVisit) %>
            <% tags = (stop.visit.tags | stop.visit.destination.tags) %>
            <% if tags.size > 0 %>
              <div class="tags">
                <% tags.each { |tag| %>
                  <i class="fa fa-tag fa-fw"></i><%= tag.label %>
                <% } %>
              </div>
            <% end %>
            <% if route.planning.customer.enable_orders %>
              <% order = stop.order %>
              <% if order %>
                <% products = order.products.collect(&:code).join(', ') %>
                <% if !products.blank? %>
                  <i class="fa fa-cube fa-fw"></i> <%= products %>
                <% end %>
              <% end %>
            <% else %>
              <% if stop.visit.quantity && stop.visit.quantity > 1 %>
                <div class="quantity">
                  <i class="fa fa-archive fa-fw"></i> <%= stop.visit.quantity %>&nbsp;<%= route.vehicle_usage.vehicle.capacity_unit %>
                </div>
              <% end %>
            <% end %>
            <% if stop.visit.take_over %>
              <span class="duration">(<%= l(stop.visit.take_over.utc, format: :hour_minute_second) %>)</span>
            <% end %>
          <% end %>
          <% if stop.is_a?(StopRest) %>
            <span class="duration">(<%= l(route.vehicle_usage.default_rest_duration.utc, format: :hour_minute_second) %>)</span>
          <% end %>
        </div>

        <% if route.planning.customer.print_planning_annotating %>
          <div class="comment col-md-2 hidden-sm hidden-xs">
            <%= stop.comment %></br>
            <% if stop.phone_number && stop.phone_number.length > 0 %>
              <span class="fa fa-phone fa-fw"></span><%= stop.phone_number %>
            <% end %>
          </div>
        <% else %>
          <div class="comment wrapped-text col-md-4 col-sm-4 hidden-sm hidden-xs"><%= stop.comment %></div>
          <% if stop.phone_number && stop.phone_number.length > 0 %>
            <div class="phone_number wrapped-text col-md-4 col-sm-4 hidden-sm hidden-xs"><i class="fa fa-phone fa-fw"></i><%= stop.phone_number %></div>
          <% end %>
        <% end %>

        <% if route.planning.customer.print_planning_annotating %>
          <div class="annotating col-md-3 col-sm-3 col-xs-3">
            <div><%= t '.annotating.hour' %></div>
            <div class="signature"><%= t '.annotating.signature' %></div>
          </div>
        <% end %>
      </div>

      <% if stop.out_of_window || stop.out_of_capacity || stop.out_of_drive_time %>
        <div class="row errors">
          <span class="col-md-offset-1 col-md-11 ui-state-error">
            <% if stop.out_of_window %>
              <span><i class="fa fa-clock-o fa-fw"></i> <%= t 'plannings.edit.error.out_of_window' %></span>
            <% end %>
            <% if stop.out_of_capacity %>
              <span><i class="fa fa-archive fa-fw"></i> <%= t 'plannings.edit.error.out_of_capacity' %></span>
            <% end %>
            <% if stop.out_of_drive_time %>
              <span><i class="fa fa-power-off fa-fw"></i> <%= t 'plannings.edit.error.out_of_drive_time' %></span>
            <% end %>
          </span>
        </div>
       <% end %>
    </li>
  <%
    end
  }
  %>

    <% if route.vehicle_usage.default_store_stop %>
      <li class="list-group-item store" style="border-left: 5px solid <%= route.color || route.vehicle_usage.vehicle.color %>">
        <div class="row no-gutter">

          <% if route.planning.customer.print_planning_annotating %>
            <div class="col-md-5 col-sm-6 col-xs-6">
          <% else %>
            <div class="col-md-6 col-sm-6 col-xs-9">
          <% end %>
            <i class="fa fa-2x <%= route.vehicle_usage.default_store_stop.icon || 'fa-home' %>" style="color: <%= route.vehicle_usage.default_store_stop.color || 'black' %>;"></i>
            <span class="name"><%= route.vehicle_usage.default_store_stop.name %></span><br/>
            <span class="address">
              <%= route.vehicle_usage.default_store_stop.street %>
              <%= route.vehicle_usage.default_store_stop.postalcode %> <%= route.vehicle_usage.default_store_stop.city %> <%= route.vehicle_usage.default_store_stop.country %>
            </span>
          </div>

          <div class="title col-md-2 col-sm-2 col-xs-3">
            <% if route.planning.customer.print_stop_time %>
              <span class="time">
                <% if display_end_time(route) %>
                  <%= l(display_end_time(route).utc, format: :hour_minute) %> -
                <% end %>
                <%= l(route.end.utc, format: :hour_minute) if route.end %>
              </span>
            <% end %>
          </div>
        </div>

        <% if route.stop_out_of_drive_time %>
          <div class="row errors">
            <span class="col-md-offset-1 col-md-11 ui-state-error">
              <% if route.stop_out_of_drive_time %>
                <span><i class="fa fa-power-off fa-fw"></i> <%= t 'plannings.edit.error.out_of_drive_time' %></span>
              <% end %>
            </span>
          </div>
        <% end %>
      </li>
    <% end %>

  </ol>
</li>
