<%= twitter_bootstrap_form_for @vehicle, layout: :horizontal do |f| %>
  <%= render 'shared/error_messages', model: @vehicle %>
  <%= f.text_field :ref do %>
    <p class="help-block"><%= t '.ref_help' %></p>
  <% end %>
  <%= f.text_field :name %>
  <%= f.select :emission, [], Vehicle.emissions_table, {}, {input_group: t('all.unit.kgco2e_l_html')} do %>
    <p class="help-block"><%= t '.emissions_help' %></p>
  <% end %>
  <%= f.number_field :consumption, {input_group: t('all.unit.l_100km')} do %>
    <p class="help-block"><%= t '.consumption_help' %></p>
  <% end %>
  <%= f.number_field :capacity, {min:1, input_group: content_tag('i', '', class: 'fa fa-check-square fa-fw')} do %>
    <p class="help-block"><%= t '.capacity_help' %></p>
  <% end %>
  <%= f.collection_select :router_id, [], @vehicle.customer.profile.routers, :id, :name, {include_blank: t('.router_default') + ' (' + @vehicle.customer.router.name + ')' }, {input_group: content_tag('i', '', class: 'fa fa-gear fa-fw')} do %>
    <p class="help-block"><%= t '.router_help' %></p>
  <% end %>
  <%= f.number_field :speed_multiplicator, {min:50, max: 150, placeholder: t('.speed_multiplicator_default', n: 100), input_group: '%'} do %>
    <p class="help-block"><%= t '.speed_multiplicator_help' %></p>
  <% end %>
  <% if @vehicle.customer.enable_tomtom && !@vehicle.customer.tomtom_account.blank? && !@vehicle.customer.tomtom_user.blank? && !@vehicle.customer.tomtom_password.blank? %>
    <%= f.select :tomtom_id, t('.tomtom_id'), [@vehicle.tomtom_id] %>
  <% end %>
  <% if @vehicle.customer.enable_masternaut && !@vehicle.customer.masternaut_user.blank? && !@vehicle.customer.masternaut_password.blank? %>
    <%= f.text_field :masternaut_ref %>
  <% end %>
  <%= f.select :color, [], Vehicle.colors_table %>
  <%= f.actions do %>
    <%= f.submit %>
  <% end %>
<% end %>
