<%= form_for @vehicle, html:{class:"form-horizontal"} do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.label :name, class:"col-lg-2 control-label" %>
    <span class="col-lg-4"><%= f.text_field :name, class:"form-control" %></span>
  </div>
  <div class="row">
    <%= f.label :open, class:"col-lg-2 control-label" %><br>
    <span class="col-lg-4"><%= f.time_select :open %></span>
  </div>
  <div class="row">
    <%= f.label :close, class:"col-lg-2 control-label" %><br>
    <span class="col-lg-4"><%= f.time_select :close %></span>
  </div>
  <div class="row">
    <%= f.label :emission, class:"col-lg-2 control-label" %>
    <span class="col-lg-4">
      <div class="input-group">
        <%= f.select :emission, Vehicle.emissions_table, {}, class:"form-control" %>
        <span class="input-group-addon">kgCO<sub>2</sub>e/l</span>
      </div>
    </span>
  </div>
  <div class="row">
    <%= f.label :consumption, class:"col-lg-2 control-label" %>
    <span class="col-lg-4">
      <div class="input-group">
        <%= f.number_field :consumption, class:"form-control" %>
        <span class="input-group-addon">l/100Km</span>
      </div>
    </span>
  </div>
  <div class="row">
    <%= f.label :capacity, class:"col-lg-2 control-label" %>
    <span class="col-lg-4"><%= f.number_field :capacity, min:1, class:"form-control" %></span>
  </div>
  <div class="row">
    <%= f.label :color, class:"col-lg-2 control-label" %>
    <span class="col-lg-4"><%= f.text_field :color, class:"form-control simple_color" %>
<script>
$('.simple_color').simpleColor({
    cellWidth: 40,
    cellHeight: 40,
    border: '1px solid #CCCCCC',
    buttonClass: 'button',
    boxWidth: '100%',
    boxHeight: 40,
    colors: ["<%= Vehicle.colors_table.join('", "').html_safe %>"],
    columns: <%= Vehicle.colors_table.size %>
});
</script>
    </span>
  </div>
  <div class="row">
    <div class="col-lg-offset-2">
      <%= f.submit class:"btn btn-primary" %>
    </div>
  </div>
<% end %>
