<%= twitter_bootstrap_form_for @vehicle, layout: :horizontal do |f| %>
  <%= render 'shared/error_messages', model: @vehicle %>
  <%= f.text_field :name %>
  <%= f.text_field :open, {value: @vehicle.open ? @vehicle.open.strftime("%H:%M") : nil, input_group: t('all.unit.hour_minute')} do %>
    <p class="help-block"><%= t '.open_help' %></p>
  <% end %>
  <%= f.text_field :close, {value: @vehicle.close ? @vehicle.close.strftime("%H:%M") : nil, input_group: t('all.unit.hour_minute')} do %>
    <p class="help-block"><%= t '.close_help' %></p>
  <% end %>
  <%= f.select :emission, [], Vehicle.emissions_table, {}, {input_group: t('all.unit.kgco2e_l_html')} do %>
    <p class="help-block"><%= t '.emissions_help' %></p>
  <% end %>
  <%= f.number_field :consumption, {input_group: t('all.unit.l_100km')} do %>
    <p class="help-block"><%= t '.consumption_help' %></p>
  <% end %>
  <%= f.number_field :capacity, {min:1, input_group: content_tag('i', '', class: 'fa fa-check-square fa-fw')} do %>
    <p class="help-block"><%= t '.capacity_help' %></p>
  <% end %>
  <%= f.collection_select :router_id, [], Router.all, :id, :name, {include_blank: t('.router_default') + ' (' + @vehicle.customer.router.name + ')' }, {input_group: content_tag('i', '', class: 'fa fa-gear fa-fw')} do %>
    <p class="help-block"><%= t '.router_help' %></p>
  <% end %>
  <%= f.collection_select :store_start_id, [], @vehicle.customer.stores, :id, :name, {}, {input_group: content_tag('i', '', class: 'fa fa-home fa-fw')} %>
  <%= f.collection_select :store_stop_id, [], @vehicle.customer.stores, :id, :name, {}, {input_group: content_tag('i', '', class: 'fa fa-home fa-fw')} %>
  <% if !@vehicle.customer.tomtom_account.blank? && !@vehicle.customer.tomtom_user.blank? && !@vehicle.customer.tomtom_password.blank? %>
    <%= f.select :tomtom_id, t('.tomtom_id'), [@vehicle.tomtom_id] %>
  <% end %>
  <% if !@vehicle.customer.masternaut_user.blank? && !@vehicle.customer.masternaut_password.blank? %>
    <%= f.text_field :masternaut_ref %>
  <% end %>
  <%= f.select :color, [], Vehicle.colors_table %>
  <%= f.actions do %>
    <%= f.submit %>
  <% end %>
<% end %>
