<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vehicle.name %>
</p>

<p>
  <strong>Emission:</strong>
  <%= @vehicle.emission %>
</p>

<p>
  <strong>Consumption:</strong>
  <%= @vehicle.consumption %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @vehicle.capacity %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vehicle.color %>
</p>

<p>
  <strong>Open:</strong>
  <%= @vehicle.open %>
</p>

<p>
  <strong>Close:</strong>
  <%= @vehicle.close %>
</p>

<p>
  <strong>User:</strong>
  <%= @vehicle.user %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
