<%= form_for(@destination, html:{class:"form-horizontal", "data-destination_id"=>@destination.id}) do |f| %>
  <%= render 'shared/error_messages', model: @destination %>
  <div class="row">
    <%= f.label :name, class:"col-lg-2 control-label" %>
    <span class="col-lg-4"><%= f.text_field :name, class:"form-control" %></span>
  </div>
  <div class="row">
    <%= f.label :street, class:"col-lg-2 control-label" %>
    <span class="col-lg-4">
      <div class="input-group">
        <input class="form-control" type="text" name="destination[street]" value="<%= @destination.street %>"/>
        <span class="input-group-addon pointing"><i class="icon-screenshot"></i></span>
      </div>
    </span>
  </div>
  <div class="row">
    <%= f.label :postalcode, class:"col-lg-2 control-label" %>
    <span class="col-lg-4"><input class="form-control" type="text" maxlength="7" width="7" name="destination[postalcode]" value="<%= @destination.postalcode %>"/></span>
  </div>
  <div class="row">
    <%= f.label :city, class:"col-lg-2 control-label" %>
    <span class="col-lg-4"><input class="form-control" type="text" name="destination[city]" value="<%= @destination.city %>"/></span>
  </div>
  <input type="hidden" name="destination[lat]" value="<%= @destination.lat %>" />
  <input type="hidden" name="destination[lng]" value="<%= @destination.lng %>" />
  <div class="row">
    <span class="col-lg-offset-2 col-lg-4"><div id="map" style="width: 100%; height: 200px;"></div></span>
  </div>
  <% if @destination != current_user.customer.store %>
  <div class="row">
    <%= f.label :quantity, class:"col-lg-2 control-label" %>
    <span class="col-lg-4"><%= f.number_field :quantity, class:"form-control" %></span>
  </div>
  <div class="row">
    <%= f.label :open, class:"col-lg-2 control-label" %>
    <span class="col-lg-4"><%= f.time_select :open, class:"form-control" %></span>
  </div>
  <div class="row">
    <%= f.label :close, class:"col-lg-2 control-label" %>
    <span class="col-lg-4"><%= f.time_select :close, class:"form-control" %></span>
  </div>
  <% end %>
  <div class="row">
    <div class="col-lg-offset-2">
      <input type="hidden" name="live" value="false"/>
      <input type="hidden" name="live_type" value="false"/>
      <% if @destination != current_user.customer.store %>
        <%= f.submit class:"btn btn-primary" %>
      <% else %>
        <%= f.submit(t('.submit_store'), class:"btn btn-primary") %>
      <% end %>
    </div>
  </div>
<% end %>

<script>
var map = addMap(
    '<%= current_user.layer.url %>',
    <%= @destination.lat %>, <%= @destination.lng %>,
    13,
    '<%= j t 'all.osm_attribution_html', layer_attribution: current_user.layer.attribution %>'
);

var layer = L.layerGroup();
var marker;

var change = true;
var pointing = false;
var pointing_cursor;

function wire(row) {
  var id = $(row).attr('data-destination_id');

  $(":input[name=destination\\[street\\]]", row).autocomplete({
    delay: 500,
    source: function(req, add) {
      $.ajax({
        type: "post",
        data: $(row).serialize(),
        url: '/destinations/'+id+'/geocode_complete.json',
        beforeSend: beforeSendWaiting,
        success: function(data) {
          add($.map(data, function(val, i) {
            return {label: val.street+' '+val.postalcode+' '+val.city, value: val.street};
          }));
        },
        complete: completeWaiting
      });
      $("[name=live]").attr('live', 'false');
    },
    select: function(event, ui) {
      event.target.value = ui.item.value;
      $(event.target).trigger('change');
    }
  });

  $(":input", row).change(function(event) {
    if(change) {
      $("[name=live]").attr('value', 'true');
      var name = $(this).attr('name');
      $("[name=live_type]").attr('value', name == 'destination[lat]' || name == 'destination[lng]'? 'lat-lng' : 'address');
      $.ajax({
        type: "put",
        data: $(row).serialize(),
        url: '/destinations/'+id+'.json',
        beforeSend: beforeSendWaiting,
        success: function(data) { update(id, data); },
        complete: completeWaiting
      });
      $("[name=live]").attr('value', 'false');
    }
  });

  $('.pointing', row).click(function (event) {
    pointing = id;
    $('body').css('cursor', 'crosshair');
    pointing_cursor = $('.leaflet-container').css('cursor');
    $('.leaflet-container').css('cursor', 'crosshair');
  });
}

function update(id, destination) {
  var row = $('[data-destination_id='+id+']');
  change = false;
  $('[name=destination\\[name\\]]', row).val(destination.name);
  $('[name=destination\\[street\\]]', row).val(destination.street);
  $('[name=destination\\[postalcode\\]]', row).val(destination.postalcode);
  $('[name=destination\\[city\\]]', row).val(destination.city);
  $('[name=destination\\[lat\\]]', row).val(destination.lat);
  $('[name=destination\\[lng\\]]', row).val(destination.lng);
  change = true;
  marker.setLatLng(new L.LatLng(destination.lat, destination.lng));
  map.setView(marker.getLatLng(), 16);
  row = $('[data-destination_id='+id+']');
}

function sendMove(id, latLng) {
  var row = $('[data-destination_id='+id+']');
  $('[name=destination\\[lat\\]]', row).val(latLng.lat);
  $('[name=destination\\[lng\\]]', row).val(latLng.lng).trigger('change');
}

function dragend(event) {
  sendMove(event.target.options.destination, event.target.getLatLng());
}

function click(mouseEvent) {
  if(pointing) {
    var id = pointing;
    marker.setLatLng(mouseEvent.latlng);
    sendMove(id, mouseEvent.latlng);
    pointing = false;
    $('body').css('cursor', null);
    $('.leaflet-container').css('cursor', pointing_cursor);
  }
}

map.on('click', click);

wire($("form"));

marker = L.marker(new L.LatLng(<%= @destination.lat || current_user.customer.store.lat %>, <%= @destination.lng || current_user.customer.store.lng %>), {
  icon: new L.Icon.Default(),
  draggable: true,
  destination: <%= @destination.id || 0 %>
}).addTo(map);
marker.on('dragend', dragend);
</script>
