<%= twitter_bootstrap_form_for(@destination, layout: :horizontal, html: {class: "form-horizontal", "data-destination_id" => (@destination.id or 0)}) do |f| %>
  <%= render 'shared/error_messages', model: current_user.customer %>
  <%= f.text_field :name %>
  <%= f.text_field :street, {input_group: content_tag('i', '', {class: 'icon-screenshot', title: t('.locate_manually')})} %>
  <%= f.text_field :detail do %>
    <p class="help-block"><%= t '.detail_help' %></p>
  <% end %>
  <%= f.text_field :postalcode, {maxlength: 7, width: 7} %>
  <%= f.text_field :city %>
  <input type="hidden" name="destination[lat]" value="<%= @destination.lat %>" />
  <input type="hidden" name="destination[lng]" value="<%= @destination.lng %>" />
  <div class="form-group">
    <span class="col-md-offset-2 col-md-6"><div id="map" style="width: 100%; height: 200px;"></div></span>
  </div>
  <% if @destination != current_user.customer.store %>
    <%= f.number_field :quantity do %>
      <p class="help-block"><%= t '.quantity_help' %></p>
    <% end %>
    <%= f.text_field :open, {value: @destination.open ? @destination.open.strftime("%H:%M") : nil, input_group: t('all.unit.hour_minute')} %>
    <%= f.text_field :close, {value: @destination.close ? @destination.close.strftime("%H:%M") : nil, input_group: t('all.unit.hour_minute')} %>
    <%= f.collection_select :tag_ids, [], current_user.customer.tags, :id, :label, {}, {multiple: true, input_group: content_tag('i', '', class: 'icon-tags')} do %>
      <p class="help-block"><%= t '.tags_help' %></p>
    <% end %>
  <% end %>
  <%= f.text_field :comment do %>
    <p class="help-block"><%= t '.comment_help' %></p>
  <% end %>
  <%= f.actions do %>
    <% if @destination != current_user.customer.store %>
      <%= f.submit %>
    <% else %>
      <%= f.submit t('.submit_store') %>
    <% end %>
  <% end %>
<% end %>
<%
controller.js(
  destination_id: @destination.id || 0,
  map_layer_url: request.ssl? ? current_user.layer.urlssl : current_user.layer.url,
  map_lat: current_user.customer.store.lat,
  map_lng: current_user.customer.store.lng,
  map_attribution: t('all.osm_attribution_html', layer_attribution: current_user.layer.attribution)
)
%>
