<%= twitter_bootstrap_form_for(@destination, layout: :horizontal, default_div_class: 'col-lg-4', html: {class: "form-horizontal", "data-destination_id" => (@destination.id or 0)}) do |f| %>
  <%= render 'shared/error_messages', model: @destination %>
  <%= f.text_field :name %>
  <%= f.text_field :street, {div_class:'input-group col-lg-4', add_on: 'append'} do %>
    <span class="input-group-addon pointing"><i class="icon-screenshot"></i></span>
  <% end %>
  <%= f.text_field :postalcode, {maxlength: 7, width: 7} %>
  <%= f.text_field :city %>
  <input type="hidden" name="destination[lat]" value="<%= @destination.lat %>" />
  <input type="hidden" name="destination[lng]" value="<%= @destination.lng %>" />
  <div class="row">
    <span class="col-lg-offset-2 col-lg-4"><div id="map" style="width: 100%; height: 200px;"></div></span>
  </div>
  <% if @destination != current_user.customer.store %>
    <%= f.number_field :quantity %>
    <%= f.time_select :open %>
    <%= f.time_select :close %>
  <% end %>
  <input type="hidden" name="live_type" value="false"/>
  <%= f.actions do %>
    <% if @destination != current_user.customer.store %>
      <%= f.submit %>
    <% else %>
      <%= f.submit t('.submit_store') %>
    <% end %>
  <% end %>
<% end %>
<%
controller.js(
  destination_id: @destination.id || 0,
  map_layer_url: current_user.layer.url,
  map_lat: @destination.lat || current_user.customer.store.lat,
  map_lng: @destination.lng || current_user.customer.store.lng,
  map_attribution: t('all.osm_attribution_html', layer_attribution: current_user.layer.attribution)
)
%>
