<%= twitter_bootstrap_form_for(@destination, layout: :horizontal, html: {class: "form-horizontal", "data-destination_id" => (@destination.id or 0)}) do |f| %>
  <%= render 'shared/error_messages', model: @destination %>
  <fieldset id="destination-details">
    <% if @destination.customer.enable_references && !@destination.customer.enable_multi_visits %>
      <%= f.text_field :ref do %>
        <p class="help-block"><%= t '.ref_help' %></p>
      <% end %>
    <% end %>
    <%= f.text_field :name, required: true %>
    <%= f.text_field :street, {class: "form-control pointing", input_group: content_tag('button', content_tag('i', '', class: 'fa fa-crosshairs fa-fw'), class: 'btn btn-default', type: 'button', title: t('.locate_manually'))} %>
    <%= f.text_field :detail do %>
      <p class="help-block"><%= t '.detail_help' %></p>
    <% end %>
    <div id="destination_city_input" class="form-group">
      <label class="sr-only" for="destination_postalcode"><%= t 'activerecord.attributes.destination.postalcode' %></label>
      <label class="sr-only" for="destination_city"><%= t 'activerecord.attributes.destination.city' %></label>
      <label class="col-md-2 control-label"><%= t 'activerecord.attributes.destination.postalcode' %> / <%= t 'activerecord.attributes.destination.city' %></label>
      <div class="col-md-6">
        <div class="input-group">
          <%= text_field :destination, :postalcode, maxlength: 17, class: 'form-control width_1_2' %>
          <%= text_field :destination, :city, class: 'form-control width_1_2' %>
          <span class="input-group-addon"><i class="fa fa-map-o fa-fw"></i></span>
        </div>
      </div>
    </div>

    <% if @destination.customer.with_state %>
      <div id="destination_country_input" class="form-group">
        <label class="col-md-2 control-label"><%= t 'activerecord.attributes.destination.state' %> / <%= t 'activerecord.attributes.destination.country' %></label>
        <div class="col-md-6">
          <div class="input-group">
            <%= text_field :destination, :state, class: 'form-control width_1_2' %>
            <%= text_field :destination, :country, placeholder: t('.country_default', n: @destination.customer.default_country), class: 'form-control width_1_2' %>
            <span class="input-group-addon"><i class="fa fa-map-o fa-fw"></i></span>
          </div>
        </div>
      </div>
    <% else %>
      <%= f.text_field :country, {placeholder: t('.country_default', n: @destination.customer.default_country)} %>
    <% end %>

    <div class="form-group">
      <label class="col-md-2 control-label" for="destination_geocoding"><%= t 'activerecord.attributes.destination.geocoding_accuracy' %></label>
      <div class="col-md-6">
        <div id="geocoding_accuracy"<% unless @destination.geocoding_accuracy %> style="display: none"<% end %>>
          <div id="geocoding-progress" class="progress">
            <input type="hidden" name="destination[geocoding_accuracy]" value="<%= @destination.geocoding_accuracy %>">
            <div class="progress-bar<% if @destination.geocoding_accuracy %> progress-bar-<%= @destination.geocoding_accuracy > Mapotempo::Application.config.geocode_geocoder.accuracy_success ? 'success' : @destination.geocoding_accuracy > Mapotempo::Application.config.geocode_geocoder.accuracy_warning ? 'warning' : 'danger' %><% end %>" style="width: <%= @destination.geocoding_accuracy ? (@destination.geocoding_accuracy * 100).round : 0 %>%;">
              <span><%= @destination.geocoding_accuracy ? (@destination.geocoding_accuracy * 100).round.to_s + '%' : '' %></span>
            </div>
          </div>
          <p class="help-block"><%= t '.geocoding_accuracy_help' %></p>
        </div>
        <div id="geocoding_fail" style="display: none">
          <%= t '.geocoding_fail' %> - <a href="#" role="button" class="pointing"><i class="fa fa-crosshairs fa-fw"></i> <%= t '.locate_manually' %></a>
        </div>
        <div id="no_geocoding_accuracy"<% if @destination.geocoding_accuracy %> style="display: none"<% end %>>
          <%= t '.geocoding_accuracy_none' %>
        </div>
        <div id="geocoding_level"<% unless @destination.geocoding_level %> style="display: none"<% end %>>
          <input type="hidden" name="destination[geocoding_level]" value="<%= @destination.geocoding_level %>">
          <i id="geocoding-level-point" class="fa fa-map-marker fa-fw geocoding-level"<% unless @destination.point? %> style="display: none"<% end %>></i>
          <i id="geocoding-level-house" class="fa fa-home fa-fw geocoding-level"<% unless @destination.house? %> style="display: none"<% end %>></i>
          <i id="geocoding-level-intersection" class="fa fa-times fa-fw geocoding-level"<% unless @destination.intersection? %> style="display: none"<% end %>></i>
          <i id="geocoding-level-street" class="fa fa-road fa-fw geocoding-level"<% unless @destination.street? %> style="display: none"<% end %>></i>
          <i id="geocoding-level-city" class="fa fa-exclamation-triangle fa-fw geocoding-level"<% unless @destination.city? %> style="display: none"<% end %>></i>
          <span><%= t 'activerecord.attributes.destination.geocoding_level' %>: <span id="geocoding-level-value"><%= if @destination.geocoding_level
            t("destinations.form.geocoding_level.#{@destination.geocoding_level}")
            end %></span></span>
        </div>
        <div id="reverse-geocode"></div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-6"><div id="map" class="map-fixed-size"></div></div>
    </div>
    <div id="destination_geoloc_input" class="form-group">
      <label class="sr-only" for="destination_lat"><%= t 'activerecord.attributes.destination.lat' %></label>
      <label class="sr-only" for="destination_lnt"><%= t 'activerecord.attributes.destination.lng' %></label>
      <label class="col-md-2 control-label"><%= t 'activerecord.attributes.destination.lat' %> / <%= t 'activerecord.attributes.destination.lng' %></label>
      <div class="col-md-6">
        <div class="input-group">
          <%= number_field :destination, :lat, step: 'any', class: 'form-control width_1_2' %>
          <%= number_field :destination, :lng, step: 'any', class: 'form-control width_1_2' %>
          <span class="input-group-addon"><i class="fa fa-globe fa-fw"></i></span>
        </div>
      </div>
    </div>
    <% unless @destination.customer.enable_multi_visits %>
      <%= f.select :tag_ids, t('activerecord.attributes.destination.tag_ids'), options_for_select(@destination.customer.tags.map{ |tag| [tag.label, tag.id, {'data-color' => tag.color && tag.color[1..-1], 'data-icon' => tag.icon}]}, @destination.tags.collect(&:id)), {}, {multiple: true, input_group: content_tag('i', '', class: 'fa fa-tags fa-fw')} do %>
        <p class="help-block"><%= t '.tags_help' %></p>
      <% end %>
    <% end %>
    <%= f.text_field :phone_number, {input_group: content_tag('i', '', class: 'fa fa-phone fa-fw')}  %>
    <%= f.text_area :comment do %>
      <p class="help-block"><%= t '.comment_help' %></p>
    <% end %>
  </fieldset>
  <div id="visits">
    <% ((@destination.visits.exists? && @destination.visits) || [@destination.visits.build]).each_with_index do |visit, i| %>
      <%= render 'visits/form', visit: visit, i: i+1 %>
    <% end %>
  </div>
  <% if !@destination.visits.exists? || @destination.customer.enable_multi_visits %>
    <button id="visit-new" type="button" class="btn btn-default btn-sm" title="<%= t('destinations.form.visit.new_help') %>"><i class="fa fa-plus fa-fw"></i> <%= t('destinations.form.visit.new') %></button>
  <% end %>
  <% unless @destination.customer.enable_multi_visits %>
    <p class="help-block">
    <%= t('destinations.form.visit.enable_multi_visits') %>
    </p>
  <% end %>
  <%= f.actions do %>
    <%= f.submit %>
  <% end %>
<% end %>
<div id="visit-fieldset-template">
  <%= render 'visits/form', visit: @destination.visits.build, i: 0 %>
</div>
<%
layers = (current_user.customer.profile.layers + [current_user.layer]).sort_by(&:id).uniq.collect{ |layer|
  {
    name: layer.name,
    url: request.ssl? ? layer.urlssl : layer.url,
    attribution: layer.map_attribution,
    default: layer == current_user.layer,
    overlay: layer.overlay
  }
}
controller.js(
  destination_id: @destination.id || 0,
  map_layers: Hash[layers.map{ |l| l[:name] }.zip(layers)],
  map_lat: @destination.lat || @destination.customer.default_position[:lat],
  map_lng: @destination.lng || @destination.customer.default_position[:lng],
  enable_multi_visits: @destination.customer.enable_multi_visits
)
%>
