<%= form_for(@destination, html:{class:"form-horizontal", "data-destination_id"=>@destination.id}) do |f| %>
  <%= render 'shared/error_messages', model: @destination %>
  <div class="row">
    <%= f.label :name, class:"col-lg-2 control-label" %>
    <span class="col-lg-4"><%= f.text_field :name, class:"form-control" %></span>
  </div>
  <div class="row">
    <%= f.label :street, class:"col-lg-2 control-label" %>
    <span class="col-lg-4">
      <div class="input-group">
        <input class="form-control" type="text" name="destination[street]" value="<%= @destination.street %>"/>
        <span class="input-group-addon pointing"><i class="icon-screenshot"></i></span>
      </div>
    </span>
  </div>
  <div class="row">
    <%= f.label :postalcode, class:"col-lg-2 control-label" %>
    <span class="col-lg-4"><input class="form-control" type="text" maxlength="7" width="7" name="destination[postalcode]" value="<%= @destination.postalcode %>"/></span>
  </div>
  <div class="row">
    <%= f.label :city, class:"col-lg-2 control-label" %>
    <span class="col-lg-4"><input class="form-control" type="text" name="destination[city]" value="<%= @destination.city %>"/></span>
  </div>
  <input type="hidden" name="destination[lat]" value="<%= @destination.lat %>" />
  <input type="hidden" name="destination[lng]" value="<%= @destination.lng %>" />
  <div class="row">
    <span class="col-lg-offset-2 col-lg-4"><div id="map" style="width: 100%; height: 200px;"></div></span>
  </div>
  <% if @destination != current_user.customer.store %>
  <div class="row">
    <%= f.label :quantity, class:"col-lg-2 control-label" %>
    <span class="col-lg-4"><%= f.number_field :quantity, class:"form-control" %></span>
  </div>
  <div class="row">
    <%= f.label :open, class:"col-lg-2 control-label" %>
    <span class="col-lg-4"><%= f.time_select :open, class:"form-control" %></span>
  </div>
  <div class="row">
    <%= f.label :close, class:"col-lg-2 control-label" %>
    <span class="col-lg-4"><%= f.time_select :close, class:"form-control" %></span>
  </div>
  <% end %>
  <div class="row">
    <div class="col-lg-offset-2">
      <input type="hidden" name="live" value="false"/>
      <input type="hidden" name="live_type" value="false"/>
      <% if @destination != current_user.customer.store %>
        <%= f.submit class:"btn btn-primary" %>
      <% else %>
        <%= f.submit(t('.submit_store'), class:"btn btn-primary") %>
      <% end %>
    </div>
  </div>
<% end %>
<%
controller.js(
  destination_id: @destination.id || 0,
  destination_lat: @destination.lat || current_user.customer.store.lat,
  destination_lng: @destination.lng || current_user.customer.store.lng,
  map_layer_url: current_user.layer.url,
  map_lat: current_user.customer.store.lat,
  map_lng: current_user.customer.store.lng,
  map_attribution: t('all.osm_attribution_html', layer_attribution: current_user.layer.attribution)
)
%>
