<% content_for :title, t('.title') %>
<h1><%= t '.title' %></h1>

<div class="panel panel-default accordion">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCsv">
        <%= t '.csv.title' %>
      </a>
    </h2>
  </div>
  <div id="collapseCsv" class="panel-collapse collapse <%= !@import_csv.errors.empty? || @import_tomtom.errors.empty? ? 'in' : '' %>">
    <div class="panel-body">
      <p class="help-block"><%= t '.csv.help' %></p>
      <%= twitter_bootstrap_form_for(@import_csv, url: destinations_import_csv_path, layout: :horizontal, multipart: true) do |f| %>
        <%= render 'shared/error_messages', model: @import_csv %>
        <%= f.file_field :file, required: true do %>
          <p class="help-block">
            <%= t '.csv.file_help' %>
            <a data-toggle="modal" data-target="#import-help-modal" data-keyboard="true" href="#help" title="<%= t('.import_template_help') %>"><i class="fa fa-info-circle fa-fw"></i> <%= t('.import_template_help') %></a>
          </p>
        <% end %>
        <%= f.toggles t '.destinations' do %>
          <%= f.radio_button :replace, t('.replace_no'), 0, checked: true %>
          <p class="help-block"><%= t '.replace_no_help' %></p>
          <%= f.radio_button :replace, t('.replace_yes'), 1 %>
          <p class="help-block"><%= t '.replace_yes_help' %></p>
        <% end %>
        <%= f.toggles t '.plannings' do %>
          <%= f.check_box :delete_plannings, t('.delete_plannings') %>
          <p class="help-block"><%= t '.delete_plannings_help' %></p>
        <% end %>
        <%= f.actions do %>
          <%= f.submit t('all.verb.import'), {}, 'fa-upload' %>
        <% end %>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-6">
            <a href="/destination/import_template.csv" class="btn btn-default" role="button"><i class="fa fa-download fa-fw"></i> <%= t 'import.template_csv' %></a>
            <a href="/destination/import_template.excel" class="btn btn-default" role="button"><i class="fa fa-download fa-fw"></i> <%= t 'import.template_excel' %></a>
          </div>
        </div>

        <div class="modal fade" id="import-help-modal" role="dialog" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><%= t 'destinations.import.dialog.help.title' %></h4>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row">
                    <%= t 'destinations.import.dialog.help.desc' %>
                    <table id="columns-table">
                    <% [:columns_route, :columns_destination, :columns_visit].each do |columns| %>
                      <tr class="column-heading"><td colspan="3"><h5><%= t("destinations.import.dialog.help.#{columns.to_s}") %></h5></td></tr>
                      <% ImporterDestinations.new(current_user.customer).send(columns).each do |key, column| %>
                        <tr class="column">
                          <td>
                            <span class="column-default<% if @columns_default && @columns_default[key.to_s] %> hide<% end %>">&bull; <b><%= column[:title] %></b></span>
                            <%= text_field_tag 'import_csv[column_def][' + key.to_s + ']', @columns_default && @columns_default[key.to_s], class: (@columns_default && @columns_default[key.to_s]) ? 'column-def' : 'column-def hide', placeholder: column[:title] %>
                            <a class="column-edit<% if @columns_default && @columns_default[key.to_s] %> hide<% end %>" title="<%= t 'destinations.import.dialog.help.def_help' %>"><i class="fa fa-edit fa-fw"></i></a>
                          </td>
                          <td><%= column[:format] %></td>
                          <td><%= column[:required] %></td>
                        </tr>
                        <tr class="column-desc">
                          <td colspan="3"><p class="help-block"><%= column[:desc] %></p></td>
                        </tr>
                      <% end %>
                    <% end %>
                    </table>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><%= t 'all.verb.dismiss' %></button>
                <button name="columns-save" type="button" class="btn btn-primary" data-dismiss="modal"<% if !@columns_default || @columns_default.empty? %>style=" display: none;"<% end %>><i class="fa fa-floppy-o fa-fw"></i> <%= t 'all.verb.save' %></button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if current_user.customer.device.configured?(:tomtom) %>
  <div class="panel panel-default accordion">
    <div class="panel-heading">
      <h2 class="panel-title">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTomTom">
          <%= t '.tomtom.title' %>
        </a>
      </h2>
    </div>
    <div id="collapseTomTom" class="panel-collapse collapse <%= !@import_tomtom.errors.empty? ? 'in' : '' %>">
      <div class="panel-body">
        <p class="help-block"><%= t '.tomtom.help' %></p>
          <%= twitter_bootstrap_form_for(@import_tomtom, url: destinations_import_tomtom_path, layout: :horizontal, multipart: true) do |f| %>
            <%= render 'shared/error_messages', model: @import_tomtom %>
            <%= f.toggles t '.destinations' do %>
              <%= f.radio_button :replace, t('.replace_no'), 0, checked: true %>
              <p class="help-block"><%= t '.replace_no_help' %></p>
              <%= f.radio_button :replace, t('.replace_yes'), 1 %>
              <p class="help-block"><%= t '.replace_yes_help' %></p>
            <% end %>
            <%= f.actions do %>
              <%= f.submit t('all.verb.import'), {}, 'fa-upload' %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>

<%
controller.js(
  customer_id: current_user.customer.id
)
%>
