<% content_for :title, t('.title') %>
<h1><%= t '.title' %></h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCsv">
        <%= t '.csv.title' %>
      </a>
    </h2>
  </div>
  <div id="collapseCsv" class="panel-collapse collapse <%= !@import_csv.errors.empty? || @import_tomtom.errors.empty? ? 'in' : '' %>">
    <div class="panel-body">
      <p class="help-block"><%= t '.csv.help' %></p>
      <%= twitter_bootstrap_form_for(@import_csv, url: destinations_import_csv_path, layout: :horizontal, multipart: true) do |f| %>
        <%= render 'shared/error_messages', model: @import_csv %>
        <%= f.file_field :file do %>
          <p class="help-block"><%= t '.csv.file_help' %></p>
        <% end %>
        <%= f.toggles t '.destinations' do %>
          <%= f.radio_button :replace, t('.replace_no'), 0, checked: true %>
          <p class="help-block"><%= t '.replace_no_help' %></p>
          <%= f.radio_button :replace, t('.replace_yes'), 1 %>
          <p class="help-block"><%= t '.replace_yes_help' %></p>
        <% end %>
        <%= f.toggles t '.plannings' do %>
          <%= f.check_box :delete_plannings, t('.delete_plannings') %>
          <p class="help-block"><%= t '.delete_plannings_help' %></p>
        <% end %>
        <%= f.actions do %>
          <%= f.submit t('all.verb.import'), {}, 'fa-upload' %>
        <% end %>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-6">
            <a href="import_template.csv" class="btn btn-default" role="button"><i class="fa fa-download fa-fw"></i> <%= t 'import.template_csv' %></a>
            <a href="import_template.excel" class="btn btn-default" role="button"><i class="fa fa-download fa-fw"></i> <%= t 'import.template_excel' %></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if current_user.customer.tomtom? %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTomTom">
        <%= t '.tomtom.title' %>
      </a>
    </h2>
  </div>
  <div id="collapseTomTom" class="panel-collapse collapse <%= !@import_tomtom.errors.empty? ? 'in' : '' %>">
    <div class="panel-body">
      <p class="help-block"><%= t '.tomtom.help' %></p>
        <%= twitter_bootstrap_form_for(@import_tomtom, url: destinations_import_tomtom_path, layout: :horizontal, multipart: true) do |f| %>
          <%= render 'shared/error_messages', model: @import_tomtom %>
          <%= f.toggles t '.destinations' do %>
            <%= f.radio_button :replace, t('.replace_no'), 0, checked: true %>
            <p class="help-block"><%= t '.replace_no_help' %></p>
            <%= f.radio_button :replace, t('.replace_yes'), 1 %>
            <p class="help-block"><%= t '.replace_yes_help' %></p>
          <% end %>
          <%= f.actions do %>
            <%= f.submit t('all.verb.import'), {}, 'fa-upload' %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
<% end %>

<div id="dialog-upload" title="<%= t 'import.dialog.title' %>" style="display:none">
  <p><%= t 'import.dialog.import_in_progress' %></p>
  <div class="progress progress-striped">
    <div class="progress-bar" style="width: 100%"></div>
  </div>
</div>
