<% content_for :title, t('.title') %>
<h1><%= t '.title' %></h1>

<%= twitter_bootstrap_form_for(@import_csv, url: destinations_imports_path, layout: :horizontal, multipart: true) do |f| %>
  <%= render 'shared/error_messages', model: @import_csv %>
  <%= f.file_field :file do %>
    <p class="help-block"><%= t '.file_help' %></p>
  <% end %>
  <%= f.toggles t 'activemodel.attributes.import_csv.replace' do %>
    <%= f.check_box :replace %>
    <p class="help-block"><%= t '.replace_help' %></p>
  <% end %>
  <%= f.actions do %>
    <%= f.submit t('all.verb.send'), {}, 'fa-upload' %>
  <% end %>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <a href="import_template.csv" class="btn btn-default" role="button"><i class="fa fa-download fa-fw"></i> <%= t 'import.template_csv' %></a>
      <a href="import_template.excel" class="btn btn-default" role="button"><i class="fa fa-download fa-fw"></i> <%= t 'import.template_excel' %></a>
    </div>
  </div>
<% end %>

<div id="dialog-upload" title="<%= t 'import.dialog.title' %>" style="display:none">
  <p><%= t 'import.dialog.import_in_progress' %></p>
  <div class="progress progress-striped">
    <div class="progress-bar" style="width: 100%"></div>
  </div>
</div>
