<h1><%= t '.title' %></h1>

<%= form_tag({action:'upload'}, {multipart:true, class:"form-horizontal"}) do %>
  <div class="form-group">
    <%= label_tag :datafile, t('.file'), class:"col-md-2 control-label" %>
    <div class="col-md-6">
      <%= file_field 'upload', 'datafile' %>
      <p class="help-block"><%= t '.file_help' %></p>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :replace, t('.replace'), class:"col-md-2 control-label" %>
    <div class="col-md-6">
      <%= check_box_tag :replace %>
      <p class="help-block"><%= t '.replace_help' %></p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-2">
      <%= submit_tag nil, class:"btn btn-primary" %>
    </div>
  </div>
<% end %>

<div id="dialog-upload" title="<%= t '.dialog.title' %>" style="display:none">
  <p><%= t '.dialog.import_in_progress' %></p>
  <div class="progress progress-striped active">
    <div class="progress-bar" style="width: 100%">
  </div>
</div>
