<h1><%= t '.title' %></h1>

<div class="row">
  <div class="col-md-8">
    <button id="add" type="button" class="btn btn-primary btn-sm"><i class="icon icon-plus icon-fixed-width"></i> <%= t '.new' %></button>
  </div>
  <div class="col-md-4">
    <%= t '.count' %> <span id="count"></span>
  </div>
</div>

<div id="destination_box" class="row">
  <div class="col-md-12">
    <table class="tablesorter">
      <thead><tr>
        <th><%= t 'activerecord.attributes.destination.ref_small' %></th>
        <th><%= t 'activerecord.attributes.destination.name' %></th>
        <th>
          <span><%= t 'activerecord.attributes.destination.street' %></span>
          <span><%= t 'activerecord.attributes.destination.postalcode' %></span>
          <span><%= t 'activerecord.attributes.destination.detail' %></span>
          <span><%= t 'activerecord.attributes.destination.city' %></span>
        </th>
        <th><%= t 'activerecord.attributes.destination.quantity_small' %></th>
        <th><%= t 'activerecord.attributes.destination.take_over_small' %></th>
        <th><%= t 'activerecord.attributes.destination.open_close_small' %></th>
        <th><%= t 'activerecord.attributes.destination.comment' %></th>
        <th><%= t 'activerecord.attributes.destination.tags' %></th>
        <th></th>
      </tr></thead>
      <tbody class="destinations"></tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12 map-container">
    <div id="map"></div>
  </div>
</div>

<div id="dialog-geocoding" title="<%= t '.dialog.geocoding.title' %>" style="display:none">
  <div class="dialog-progress">
    <p><%= t '.dialog.geocoding.in_progress' %></p>
    <div class="progress progress-striped active">
      <div class="progress-bar" style="width: 0%"></div>
    </div>
  </div>
  <p class="dialog-error" style="display: none"><%= t '.dialog.geocoding.error' %></p>
  <p class="dialog-attempts" style="display: none"><%= t '.dialog.geocoding.attempts' %> <span class="dialog-attempts-number"></span></p>
</div>
<%
controller.js(
  map_layer_url: request.ssl? ? current_user.layer.urlssl : current_user.layer.url,
  map_lat: current_user.customer.store.lat,
  map_lng: current_user.customer.store.lng,
  map_attribution: t('all.osm_attribution_html', layer_attribution: current_user.layer.attribution),
  default_city: current_user.customer.store.city
)
%>
