<% content_for :title, t('.title') %>
<h1><%= t '.title' %></h1>

<div class="row row-top">
  <div class="col-md-6">
    <button id="add" type="button" class="btn btn-primary btn-sm"><i class="fa fa-plus fa-fw"></i> <%= t '.new' %></button>
    <button id="multiple-delete" class="btn btn-danger btn-sm"><i class="fa fa-trash-o fa-fw"></i> <%= t('all.verb.destroy_selection') %></button>
  </div>
  <div class="col-md-4">
    <span id="count"></span> <%= t 'activerecord.models.destinations', count: 10 %>
    - <span id="count-visits"></span> <%= t 'activerecord.models.visits', count: 10 %>
  </div>
  <div class="col-md-2">
    <div class="pull-right">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"><%= t '.columns' %> <span class="caret"></span></button>
      <ul id="columnSelector" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      </ul>
    </div>
  </div>
</div>

<div id="destination_box" class="row">
  <div class="col-md-12">
    <table class="tablesorter">
      <thead><tr>
        <th data-sorter="false" class="filter-false columnSelector-disable">
          <button type="button" class="btn btn-default btn-xs index_toggle_selection" title="<%= t 'all.verb.toggle_selection' %>"><i class="fa fa-check fa-fw"></i></button>
        </th>
        <% if @customer.enable_references && !@customer.enable_multi_visits %>
          <th class="ref columnSelector-disable">
            <div class="col-title"><%= t 'activerecord.attributes.destination.ref_small' %></div>
          </th>
        <% end %>
        <th class="name columnSelector-disable">
          <div class="col-title"><%= t 'activerecord.attributes.destination.name' %></div>
        </th>
        <th class="address columnSelector-disable">
          <div class="col-title">
            <span><%= t 'activerecord.attributes.destination.street' %></span>,
            <span><%= t 'activerecord.attributes.destination.detail' %></span>,
            <span><%= t 'activerecord.attributes.destination.postalcode' %></span>,
            <span><%= t 'activerecord.attributes.destination.city' %></span>
          </div>
        </th>
        <%
        # class="columnSelector-false" allows to uncheck columns in columnSelector
        # data-priority is used to hide columns depending the width of table
        # http://view.jquerymobile.com/1.3.2/dist/demos/widgets/table-column-toggle/
        %>
        <th class="country">
          <div class="col-title"><%= t 'activerecord.attributes.destination.country' %></div>
        </th>
        <th class="comment">
          <div class="col-title"><%= t 'activerecord.attributes.destination.comment_small' %></div>
        </th>
        <th data-sorter="digit" class="phone">
          <div class="col-title"><%= t 'activerecord.attributes.destination.phone_number_small' %></div>
        </th>
        <% if !@customer.enable_multi_visits %>
          <th class="tags">
            <div class="col-title"><%= t 'activerecord.attributes.destination.tags' %></div>
          </th>
        <% end %>
        <th title="<%= t '.geocoding_column_help' %>" class="geocoding filter-false">
          <div class="col-title"><%= t 'activerecord.attributes.destination.geocoding_accuracy_small' %></div>
        </th>
        <% visit_width = {}
        visit_width[:ref] = 3 if @customer.enable_references && @customer.enable_multi_visits
        visit_width[:quantity] = 3 if !@customer.enable_orders
        visit_width[:tags] = 8 if @customer.enable_multi_visits
        visit_width[:take_over] = 4
        visit_width[:open1] = 2.5
        visit_width[:close1] = 2.5
        visit_width[:open2] = 2.5
        visit_width[:close2] = 2.5
        %>
        <th data-sorter="false" class="visit columnSelector-disable" style="min-width:<%= visit_width.values.reduce(&:+) %>em;">
          <div class="col-title"><%= t 'activerecord.models.visit' %></div>
          <div id="visit-subtitles" style="width: 100%;">
            <% if @customer.enable_references && @customer.enable_multi_visits %>
              <div class="visit-subtitle" style="min-width: <%= visit_width[:ref] %>em;"><%= t 'activerecord.attributes.visit.ref_small' %></div>
            <% end %>
            <% if !@customer.enable_orders %>
            <div class="visit-subtitle" style="width: <%= visit_width[:quantity] %>em;"><%= t '.quantity_small' %></div>
            <% end %>
            <% if @customer.enable_multi_visits %>
              <div class="visit-subtitle" style="width: <%= visit_width[:tags] %>em;"><%= t 'activerecord.attributes.visit.tags' %></div>
            <% end %>
            <div class="visit-subtitle" style="width: <%= visit_width[:take_over] %>em;"><%= t 'activerecord.attributes.visit.take_over_small' %></div>
            <div class="visit-subtitle" style="width: <%= visit_width[:open1] %>em;"><%= t 'activerecord.attributes.visit.open1_small' %></div>
            <div class="visit-subtitle" style="width: <%= visit_width[:close1] %>em;"><%= t 'activerecord.attributes.visit.close1_small' %></div>
            <div class="visit-subtitle" style="width: <%= visit_width[:open2] %>em;"><%= t 'activerecord.attributes.visit.open2_small' %></div>
            <div class="visit-subtitle" style="width: <%= visit_width[:close2] %>em;"><%= t 'activerecord.attributes.visit.close2_small' %></div>
          </div>
        </th>
        <th data-sorter="false" class="filter-false columnSelector-disable"></th>
      </tr></thead>
      <tbody class="destinations"></tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12 map-container">
    <div id="map"></div>
  </div>
</div>

<div class="modal fade" id="geocoding-danger-modal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-warning fa-fw"></i> <%= t 'destinations.index.dialog.geocoding_danger.title' %></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <%= t 'destinations.index.dialog.geocoding_danger.infos' %>
          </div>
          <p class="help-block"><%= t 'destinations.index.dialog.geocoding_danger.hide_help' %><br/>
            - <%= t 'destinations.index.dialog.geocoding_danger.correct_help' %><br/>
            - <%= t 'destinations.index.dialog.geocoding_danger.move_help' %><br/>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t 'destinations.index.dialog.geocoding_danger.dismiss' %></button>
        <button type="button" class="btn btn-primary" id="sort-geocoding"><%= t 'destinations.index.dialog.geocoding_danger.sort_geocoding' %></button>
      </div>
    </div>
  </div>
</div>

<%
layers = (@customer.profile.layers + [current_user.layer]).sort_by(&:id).uniq.collect{ |layer|
  {
    name: layer.name,
    url: request.ssl? ? layer.urlssl : layer.url,
    attribution: layer.map_attribution,
    default: layer == current_user.layer,
    overlay: layer.overlay
  }
}
controller.js(
  data: render(:template => "destinations/index.json"),
  map_layers: Hash[layers.map{ |l| l[:name] }.zip(layers)],
  map_lat: @customer.default_position[:lat],
  map_lng: @customer.default_position[:lng],
  default_city: @customer.stores[0].city,
  default_country: @customer.default_country,
  take_over_default: @customer.take_over && l(@customer.take_over.utc, format: :hour_minute_second),
  url_click2call: current_user.link_phone_number,
  enable_references: @customer.enable_references,
  enable_multi_visits: @customer.enable_multi_visits,
  enable_orders: @customer.enable_orders
)
%>
