<% content_for :title, t('.title') %>
<h1><%= t '.title' %></h1>

<%= twitter_bootstrap_form_for [:admin, @user], layout: :horizontal do |f| %>
  <%= render 'shared/error_messages', model: @user %>
  <%= hidden_field_tag :url, params[:url] %>
  <%= f.email_field :email, autocomplete: "off" %>
  <%= render partial: 'users/time_zone' %>
  <%= f.collection_select :customer_id, [], @customers, :id, :name, {}, {class: 'form-control'} %>
  <%= f.toggles t '.send_email' do %>
    <%= check_box_tag :send_email, 1, true %>
  <% end %>
  <%= f.actions do %>
    <%= f.submit %>
  <% end %>
<% end %>
