<% reseller_name = request.env['reseller'].name %>
<title><%= [yield(:title), reseller_name].select{ |t| !t.empty? }.join(' – ') %></title>
<%= csrf_meta_tags %>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

<%= favicon_link_tag 'apple-touch-57.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
<%= favicon_link_tag 'apple-touch-72.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '72x72' %>
<%= favicon_link_tag 'apple-touch-114.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '114x114' %>
<%= favicon_link_tag 'apple-touch-144.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '144x144' %>
<%= favicon_link_tag 'touch-icon-192.png', :rel => 'icon', :type => 'image/png', :sizes => '192x192' %>
<%= favicon_link_tag request.env['reseller'].favicon.url || 'favicon.ico', :rel => 'shortcut icon' %>

<script type="text/javascript">
  I18n = {};
  I18n.defaultLocale = "<%= I18n.default_locale %>";
  I18n.locale = "<%= I18n.locale %>";
</script>

<!-- Javascripts -->
<!-- Placed inside head element to support turbolinks -->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<% if user_signed_in? %>
  <script type="text/javascript">
    var reseller_name = <%= reseller_name.to_json.html_safe %>
  </script>
<% end %>
