<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render partial: 'layouts/head' %>
  </head>

  <body data-controller="<%= controller.controller_path.gsub('/', '_') %>" data-action="<%= controller.action_name %>">
    <div id="wrapper">
      <div class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
          <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="fa fa-bars fa-fw"></span>
          </button>

          <!-- Be sure to leave the brand out there if you want it shown -->
          <a class="navbar-brand" href="/"><%= image_tag request.env['reseller'].logo_small.url || "logo_mapotempo.svg", width: 150, height: 40, alt: request.env['reseller'].name %></a>
        </div>

        <!-- Place everything within .navbar-collapse to hide it until above 768px -->
        <div class="collapse navbar-collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <% if user_signed_in? && current_user.admin? %>
              <% if can?(:manage, Customer) %>
                <li><%= link_to edit_admin_reseller_path(current_user.reseller) do %><i class="fa fa-bank fa-fw"></i> <%= t 'admin.resellers.menu.reseller' %><% end %></li>
                <li><%= link_to customers_path do %><i class="fa fa-user fa-fw"></i> <%= t 'customers.menu.customers' %><% end %></li>
                <li><%= link_to admin_users_path do %><i class="fa fa-user fa-fw"></i> <%= t 'admin.users.menu.users' %><% end %></li>
                <li><%= link_to admin_profiles_path do %><i class="fa fa-gear fa-fw"></i> <%= t 'admin.profiles.menu.profiles' %><% end %></li>
              <% end %>
            <% end %>
            <% if user_signed_in? && current_user.customer %>
              <% if !@unsubscribed %>
                <li class="dropdown">
                  <%= link_to plannings_path, :class=>"dropdown-toggle", 'data-toggle'=>"dropdown" do %><i class="fa fa-calendar-o fa-fw"></i> <span class="menu_label"><%= t 'plannings.menu.plannings' %></span> <span class="caret"></span><% end %>
                  <ul class="dropdown-menu">
                    <li<% if current_user.customer.too_many_plannings? %> class="disabled"<% end %>><%= link_to new_planning_path do %><i class="fa fa-plus fa-fw"></i> <%= t 'all.verb.new' %><% end %></li>
                    <li><%= link_to plannings_path do %><i class="fa fa-calendar-o fa-fw"></i> <%= t 'all.verb.list' %><% end %></li>
                    <li class="divider"></li>
                    <li><%= link_to zonings_path do %><i class="fa fa-object-ungroup fa-fw"></i> <%= t 'zonings.menu.zonings' %><% end %></li>
                    <li class="divider"></li>
                    <% if current_user.customer.default_max_plannings %>
                      <li>
                        <div class="dropdown-spacing">
                          <% if current_user.customer.too_many_plannings? %>
                            <i class="fa text-warning fa-calendar-times-o" aria-hidden="true"></i>
                            <span class="text-warning"><%= current_user.customer.plannings.length %></span> /
                            <span><%= current_user.customer.default_max_plannings %></span> - <%= t 'plannings.menu.plannings' %>
                          <% else %>
                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                            <span><%= current_user.customer.plannings.length %></span> /
                            <span><%= current_user.customer.default_max_plannings %></span> - <%= t 'plannings.menu.plannings' %>
                          <% end %>
                        </div>
                      </li>
                    <% end %>
                    <li>
                      <% if current_user.customer.too_many_plannings? %>
                        <p class="padding-list" href=""><i class="fa fa-fw text-warning fa-exclamation-triangle"></i> <span class="text-warning"><%= t 'plannings.menu.plannings_limit.menu_message' %></span> </p>
                      <% else %>
                        <% current_user.customer.plannings.select(&:id).each do |planning| %>
                          <%= link_to edit_planning_path(planning) do %><i class="fa fa-calendar fa-fw"></i> <%= planning.name %><% end %>
                        <% end %>
                      <% end %>
                    </li>
                  </ul>
              <% else %>
                <li class="disabled" id="disabled-planning"><a href="#"><i class="fa fa-calendar-o fa-fw"></i> <%= t 'plannings.menu.plannings' %></a></li>
              <% end %>
              </li>
              <% if can?(:manage, OrderArray) %>
                <li class="dropdown">
                  <%= link_to order_arrays_path, :class=>"dropdown-toggle", 'data-toggle'=>"dropdown" do %><i class="fa fa-check-square-o fa-fw"></i> <span class="menu_label"><%= t 'order_arrays.menu.order_arrays' %></span> <span class="caret"></span><% end %>
                  <ul class="dropdown-menu">
                    <li><%= link_to new_order_array_path do %><i class="fa fa-plus fa-fw"></i> <%= t 'all.verb.new' %><% end %></li>
                    <li><%= link_to order_arrays_path do %><i class="fa fa-check-square-o fa-fw"></i> <%= t 'all.verb.list' %><% end %></li>
                    <li class="divider"></li>
                    <li><%= link_to products_path do %><i class="fa fa-cubes fa-fw"></i> <%= t 'products.menu.products' %><% end %></li>
                    <li class="divider"></li>
                    <% current_user.customer.order_arrays.select(&:id).each do |order_array| %>
                      <li><%= link_to edit_order_array_path(order_array) do %><i class="fa fa-check-square-o fa-fw"></i> <%= order_array.name %><% end %></li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
              <li class="dropdown">
                <%= link_to destinations_path, :class=>"dropdown-toggle", 'data-toggle'=>"dropdown" do %><i class="fa fa-map-marker fa-fw"></i> <span class="menu_label"><%= t 'destinations.menu.destinations' %></span> <span class="caret"></span><% end %>
                <ul class="dropdown-menu">
                  <li><%= link_to new_destination_path do %><i class="fa fa-plus fa-fw"></i> <%= t 'all.verb.new' %><% end %></li>
                  <li><%= link_to destinations_path do %><i class="fa fa-map-marker fa-fw"></i> <%= t 'all.verb.list' %><% end %></li>
                  <li class="divider"></li>
                  <li><%= link_to tags_path do %><i class="fa fa-tags fa-fw"></i> <%= t 'destinations.menu.tags' %><% end %></li>
                  <li class="divider"></li>
                  <li><%= link_to destination_import_path do %><i class="fa fa-upload fa-fw"></i> <%= t 'destinations.menu.import' %><% end %></li>
                  <li><%= link_to destinations_path({format: :csv}) do %><i class="fa fa-download fa-fw"></i> <%= t 'destinations.menu.export_spreadsheet_standard' %><% end %></li>
                  <li><%= link_to destinations_path({format: :excel}) do %><i class="fa fa-download fa-fw"></i> <%= t 'destinations.menu.export_spreadsheet_excel' %><% end %></li>
                  <li class="divider"></li>
                  <li><%= link_to destinations_path, method: :delete, data: { confirm: t('destinations.menu.clear_confirm') } do %><i class="fa fa-trash-o fa-fw"></i> <%= t 'destinations.menu.clear' %><% end %></li>
                </ul>
              </li>
              <li class="dropdown">
                <%= link_to vehicle_usage_sets_path, :class=>"dropdown-toggle", 'data-toggle'=>"dropdown" do %><i class="fa fa-truck fa-fw"></i> <span class="menu_label"><%= t 'vehicle_usage_sets.menu.vehicle_usage_sets' %></span> <span class="caret"></span><% end %>
                <ul class="dropdown-menu">
                  <li><%= link_to vehicle_usage_sets_path do %><i class="fa fa-truck fa-fw"></i> <%= t 'all.verb.list' %><% end %></li>
                  <li><%= link_to import_vehicle_usage_sets_path do %><i class="fa fa-upload fa-fw"></i> <%= t 'vehicle_usage_sets.menu.import_vehicle_usage_sets' %><% end %></li>
                  <li class="divider"></li>
                  <% unless can?(:manage, OrderArray) %>
                  <li><%= link_to deliverable_units_path do %><i class="fa fa-archive fa-fw"></i> <%= t 'vehicle_usage_sets.menu.deliverable_units' %><% end %></li>
                  <% end %>
                  <li><%= link_to stores_path do %><i class="fa fa-home fa-fw"></i> <%= t 'destinations.menu.stores' %><% end %></li>
                  <li><%= link_to store_import_path do %><i class="fa fa-upload fa-fw"></i> <%= t 'destinations.menu.import_stores' %><% end %></li>
                  <% if @vehicle_usage_sets.try(:length) == 1 %>
                    <li class="divider"></li>
                    <% @vehicle_usage_sets[0].vehicle_usages.each do |vehicle_usage| %>
                      <li><%= link_to edit_vehicle_usage_path(vehicle_usage) do %><i class="fa fa-truck fa-fw"></i> <%= vehicle_usage.vehicle.name %><% end %></li>
                    <% end %>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>

          <ul class="nav navbar-nav pull-right">
            <% if user_signed_in? %>
              <% if current_user.customer && request.env['reseller'].subscription_url && (current_user.customer.test? || (current_user.customer.end_subscription && current_user.customer.end_subscription < Time.now)) %>
                <li class="subscription">
                  <%= link_to request.env['reseller'].subscription_url.gsub('{LG}', I18n.locale.to_s), target: '_blank' do %>
                    <i class="fa fa-rocket fa-fw"></i> <span class="menu_label"><%= t 'web.subscription' %></span>
                  <% end %>
                </li>
              <% end %>

              <% if [request.env['reseller'].help_url, request.env['reseller'].help_search_url, request.env['reseller'].contact_url].compact.size > 1 %>
                <li class="dropdown help">
                  <%= link_to request.env['reseller'].help_url.gsub('{LG}', I18n.locale.to_s), class: 'dropdown-toggle', 'data-toggle' => "dropdown" do %>
                    <i class="fa fa-info-circle fa-fw"></i> <span class="menu_label"><%= t 'web.help_menu' %></span>
                    <span class="caret"></span>
                  <% end %>
                  <ul class="dropdown-menu">
              <% end %>
              <% if request.env['reseller'].help_search_url %>
                <li style="padding-left: 10px; padding-right: 15px;">
                  <%= form_tag request.env['reseller'].help_search_url, method: 'get', target: '_blank' do %>
                    <%= text_field_tag :q, nil, class: 'form-control', placeholder: t('web.help_search_placeholder') %>
                  <% end %>
                </li>
              <% end %>
              <% if request.env['reseller'].help_url %>
                <li<% if !request.env['reseller'].help_search_url && !request.env['reseller'].contact_url %> class="help"<% end %>>
                  <%= link_to request.env['reseller'].help_url.gsub('{LG}', I18n.locale.to_s), target: '_blank' do %>
                    <i class="fa fa-info-circle fa-fw"></i> <%= t 'web.help' %>
                  <% end %>
                </li>
              <% end %>
              <% if request.env['reseller'].contact_url %>
                <li>
                  <%= link_to request.env['reseller'].contact_url.gsub('{LG}', I18n.locale.to_s), target: '_blank' do %>
                    <i class="fa fa-phone fa-fw"></i> <%= t 'web.contact' %>
                  <% end %>
                </li>
              <% end %>
              <% if [request.env['reseller'].help_url, request.env['reseller'].help_search_url, request.env['reseller'].contact_url].compact.size > 1 %>
                </ul>
                </li>
              <% end %>
              <li class="dropdown">
                <% if current_user.customer %>
                  <%= link_to [:edit, current_user.customer], class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>
                    <i class="fa fa-user fa-fw"></i> <span class="menu_label"><%= current_user.customer.name %></span>
                    <span class="caret"></span>
                  <% end %>
                <% else %>
                  <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user fa-fw"></i>
                    <span class="menu_label"><%= current_user.email %></span> <span class="caret"></span>
                  </a>
                <% end %>

                <ul class="dropdown-menu pull-right">
                  <% if current_user.customer %>
                    <li><%= link_to edit_customer_path(current_user.customer) do %>
                        <i class="fa fa-wrench fa-fw"></i> <%= t 'customers.menu.customer' %>
                      <% end %>
                    </li>
                  <% end %>

                  <li>
                    <%= link_to edit_user_path(current_user) do %>
                      <i class="fa fa-user fa-fw"></i> <%= t 'customers.menu.user_settings' %>
                    <% end %>
                  </li>

                  <li class="divider"></li>

                  <li><%= link_to destroy_user_session_path, method: :delete do %>
                      <i class="fa fa-power-off fa-fw"></i> <%= t 'users.menu.sign_out' %>
                    <% end %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li>
                <%= link_to new_user_session_path, class: 'btn' do %>
                  <i class="fa fa-user fa-fw"></i> <%= t 'devise.sessions.new.sign_in' %>
                <% end %>
              </li>

              <% if Mapotempo::Application.config.self_care %>
                <li>
                  <%= link_to new_user_registration_path, class: 'btn' do %>
                    <i class="fa fa-user fa-fw"></i> <%= t 'devise.registrations.new.sign_up' %>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>

      </div>

      <div class="main container">
        <div>
          <iframe name="click2call_iframe" style="display: none"></iframe>
        </div>
        <%= yield %>
      </div>

      <footer class="hidden-print">
        <div class="col-md-12">
        </div>
      </footer>
    </div>

    <div id="default-modal" class="modal bootstrap-dialog type-primary fade size-small in" data-toggle="modal" data-backdrop="static" role="dialog" aria-hidden="false" tabindex="-1" style="display:none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4>
              <i class="fa fa-2 modal-icon" style="display:none;"></i>
              <span class="modal-title"></span>
              <button type="button" class="close" data-dismiss="modal" style="display:none;">&times;</button>
            </h4>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" style="display:none;"><%= t 'web.dialog.close' %></button>
          </div>
        </div>
      </div>
    </div>

    <%= render 'shared/flash_messages' %>

    <%= render 'layouts/javascript' %>
  </body>
</html>
