<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render partial: 'layouts/head' %>
  </head>

  <body class="main container" data-controller="<%= controller.controller_path.gsub('/', '_') %>" data-action="<%= controller.action_name %>">
    <div class="row">
      <div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4" id="registration-header">
        <% if request.env['reseller'].website_url %>
          <a href="<%= request.env['reseller'].website_url %>" target="_blank">
        <% end %>
        <%= image_tag request.env['reseller'].logo_large.url || "logo_mapotempo.svg", alt: request.env['reseller'].name, class: "mapotempo-logo" %>
        <% if request.env['reseller'].website_url %>
          </a>
        <% end %>
      </div>
    </div>

    <%= yield %>

    <div class="row">
      <div class="col-md-offset-2 col-md-8" id="registration-footer">
        <ul>
        <% if request.env['reseller'].help_url %>
          <li><%= link_to request.env['reseller'].help_url, target: '_blank' do %><i class="fa fa-info-circle fa-fw"></i> <%= t 'web.help' %><% end %></li>
        <% end %>
        <% if request.env['reseller'].contact_url %>
          <li><%= link_to request.env['reseller'].contact_url, target: '_blank' do %><i class="fa fa-phone fa-fw"></i> <%= t 'web.contact' %><% end %></li>
        <% end %>
        </ul>
      </div>
    </div>

    <%= render partial: "shared/flash_messages" %>
    <%= insert_paloma_hook %>
  </body>
</html>
