<% content_for :title, t('.title') %>

<div id="edit-planning" class="sidebar">
  <div class="sidebar-tabs">
    <ul role="tablist">
      <li><a href="#planning-pane" role="tab"><i class="fa fa-caret-left"></i></a></li>
    </ul>
  </div>
  <div class="sidebar-content">
    <div class="sidebar-pane" id="planning-pane">
      <div class="pull-right">
        <button type="button" class="btn btn-default btn-sm extend" title="<%= t '.open_planning_panel' %>"><i class="fa fa-arrows-alt"></i></button>
        <button type="button" class="btn btn-default btn-sm sidebar-close" title="<%= t '.collapse_planning_panel' %>"><i class="fa fa-caret-right"></i></button>
      </div>
      <h1><% if @manage_planning.include? :edit %><%= t '.title' %><% else %><%= @planning.name %><% end %></h1>

      <% if @callback_button && @planning.customer.enable_external_callback && @planning.customer.external_callback_url %>
        <p class="text-center">
          <button type="button" class="btn btn-primary btn-sm customer_external_callback_url" id="external-callback-btn" data-url="<%= @planning.customer.external_callback_url %>">
            <i class="fa fa-desktop fa-fw"></i>
            <%= @planning.customer.external_callback_name || I18n.t('plannings.edit.customer_external_callback_url.action') %>
          </button>
        </p>
      <% end %>

      <% if @manage_planning.include? :edit %>
        <%= render 'form' %>
      <% end %>

      <% if @manage_planning.include? :zoning %>
        <%= twitter_bootstrap_form_for [:apply_zonings, @planning], { layout: :horizontal, default_div_class: 'col-lg-10 col-md-10', html: { id: "planning_zoning_#{@planning.id}", class: 'form-horizontal update-zonings-form' }} do |f| %>
          <%= zoning_select f, @planning, t('plannings.edit.zonings.label') %>
          <%= f.actions do %>
            <%= f.submit t('plannings.edit.zonings.action'), { id: 'planning_zoning_button', class: 'btn ' + (@planning.zoning_outdated ? 'btn-warning' : 'btn-default'), title: @planning.zoning_outdated ? t('.outdated_zoning') : nil }, 'fa-object-ungroup' %>
          <% end %>
        <% end %>
      <% end %>

      <div id="global_tools" class="btn-group pull-right">

        <%= render 'plannings/optimization' %>

        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="<%= t '.toggle_routes' %>">
            <i class="fa fa-eye"></i>
            <span class="caret"></span>
          </button>
          <!-- https://github.com/twbs/bootstrap/issues/1411 -->
          <ul id="toggle_routes_dropdown" class="dropdown-menu" style="right: 0; left: auto;" role="menu">
            <li data-selection="none">
              <a class="active_none" href="#">
                <i class="fa fa-eye-slash fa-fw"></i>
                <%= t 'plannings.edit.active_none' %>
              </a>
            </li>
            <li data-selection="reverse">
              <a class="active_reverse" href="#">
                <i class="fa fa-random fa-fw"></i>
                <%= t 'plannings.edit.active_reverse' %>
              </a>
            </li>
            <li data-selection="all">
              <a class="active_all" href="#">
                <i class="fa fa-eye fa-fw"></i>
                <%= t 'plannings.edit.active_all' %>
              </a>
            </li>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="<%= t '.lock_routes' %>">
            <i class="fa fa-unlock"></i>
            <span class="caret"></span>
          </button>
          <!-- https://github.com/twbs/bootstrap/issues/1411 -->
          <ul id="lock_routes_dropdown" class="dropdown-menu" style="right: 0; left: auto;" role="menu">
            <li data-selection="none">
              <a class="active_none" href="#">
                <i class="fa fa-unlock fa-fw"></i>
                <%= t 'plannings.edit.active_none' %>
              </a>
            </li>
            <li data-selection="reverse">
              <a class="active_reverse" href="#">
                <i class="fa fa-random fa-fw"></i>
                <%= t 'plannings.edit.active_reverse' %>
              </a>
            </li>
            <li data-selection="all">
              <a class="active_all" href="#">
                <i class="fa fa-lock fa-fw"></i>
                <%= t 'plannings.edit.active_all' %>
              </a>
            </li>
          </ul>
        </div>
        <% if @manage_planning.include? :export %>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle right export" data-toggle="dropdown" title="<%= t '.exports' %>">
            <i class="fa fa-share-square-o"></i>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" style="right: 0; left: auto;" role="menu">
            <% if current_user.customer.enable_external_callback && current_user.customer.external_callback_url %>
              <li class="link customer_external_callback_url">
                <i class="fa fa-desktop fa-fw"></i>
                <%= current_user.customer.external_callback_name || t('plannings.edit.customer_external_callback_url.action') %>
              </li>
              <li role="separator" class="divider"></li>
            <% end %>

            <% @planning.customer.device.configured_definitions.each{ |key, definition| %>
              <% if @planning.routes.any?{ |route| route.vehicle_usage && !route.vehicle_usage.vehicle.devices.key?(definition[:device]) } %>
                <% definition[:route_operations].each{ |route_operation| %>
                  <li class="link device-operation" data-service="<%= definition[:device] %>" data-operation="<%= route_operation.is_a?(Hash) ? route_operation.keys[0] : route_operation %>"<% if route_operation.is_a?(Hash) %> data-type="<%= route_operation.values[0] %>"<% end %> data-planning-id="<%= @planning.id %>">
                    <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                    <%= t("plannings.edit.#{definition[:device]}_#{route_operation.is_a?(Hash) ? route_operation.keys[0].to_s + '_' + route_operation.values[0].to_s : route_operation}.action") %>
                  </li>
                <% } %>
                <li role="separator" class="divider"></li>
              <% end %>
            <% } %>

            <li><%= link_to planning_path(@planning) do %><i class="fa fa-print fa-fw"></i> <%= t '.export.print' %><% end %></li>
            <li role="separator" class="divider"></li>
            <li><a class="export_spreadsheet"><i class="fa fa-table fa-fw"></i> <%= t '.export.spreadsheet' %></a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to planning_path(@planning, format: :gpx) do %><i class="fa fa-mobile fa-fw"></i> <%= t '.export.gpx_route' %><% end %></li>
            <li><%= link_to planning_path(@planning, format: :gpx, track: true) do %><i class="fa fa-mobile fa-fw"></i> <%= t '.export.gpx_track' %><% end %></li>
            <li><%= link_to planning_path(@planning, format: :kmz) do %><i class="fa fa-mobile fa-fw"></i> <%= t '.export.kmz_track' %><% end %></li>
            <% if @planning.routes.any?{|route| route.vehicle_usage && !route.vehicle_usage.vehicle.contact_email.blank? } %>
              <li class="kmz_email"><%= link_to planning_path(@planning, format: :kmz, email: 1) do %><i class="fa fa-envelope fa-fw"></i> <%= t '.export.kmz_email.action' %><% end %></li>
            <% end %>
            <li role="separator" class="divider"></li>
            <li><%= link_to api_planning_calendar_path(@planning, api_key: current_user.api_key) do %><i class="fa fa-calendar fa-fw"></i> <%= t '.export.icalendar.action' %><% end %></li>
            <% if @planning.routes.any?{|route| route.vehicle_usage && !route.vehicle_usage.vehicle.contact_email.blank? } %>
              <li class="icalendar_email" data-email="true"><%= link_to api_planning_calendar_path(@planning, email: 1) do %><i class="fa fa-envelope fa-fw"></i> <%= t '.export.icalendar.action_email' %><% end %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <% if @manage_planning.include? :print %>
          <%= link_to api_web_v01_print_planning_path(@planning), class: 'btn btn-default btn-sm', title: t('.export.print') do %>
            <i class="fa fa-print fa-fw"></i>
          <% end %>
        <% end %>

      </div>
      <div id="planning"></div>
    </div>
  </div>
</div>

<div id="map" class="sidebar-map"></div>

<div id="planning-refresh-modal" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-refresh fa-fw"></i> <%= t 'plannings.edit.dialog.refresh.title' %></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <%= t 'plannings.edit.dialog.refresh.confirm' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t 'all.verb.dismiss' %></button>
        <button type="button" class="btn btn-primary" id="refresh-modal"><%= t 'plannings.edit.refresh' %></button>
      </div>
    </div>
  </div>
</div>

<!-- layout for csv's modal export -->
<%= render 'layouts/modal_csv' %>

<%= render 'zonings/isoline' %>

<%
layers = (current_user.customer.profile.layers + [current_user.layer]).sort_by(&:id).uniq.collect{ |layer|
  {
    name: layer.translated_name,
    url: request.ssl? ? layer.urlssl : layer.url,
    attribution: layer.map_attribution,
    default: layer == current_user.layer,
    overlay: layer.overlay
  }
}

# TODO: don't count stops
small_planning = @planning.routes.to_a.sum(0) { |r| r.stops.size } < 1_000

controller.js(
  manage_planning: @manage_planning,
  with_stops: small_planning,
  prefered_unit: current_user.prefered_unit,
  planning_id: @planning.id,
  planning_ref: @planning.ref,
  user_api_key: current_user.api_key,
  routes_array: @planning.routes.collect{ |r| { route_id: r.id, color: r.color, vehicle_usage_id: r.vehicle_usage_id, ref: r.ref, outdated: r.outdated } },
  zoning_ids: @planning.zonings.collect(&:id),
  map_layers: Hash[layers.map{ |l| l[:name] }.zip(layers)],
  map_lat: @planning.vehicle_usage_set.vehicle_usages.active.collect(&:default_store_start).compact.find{ |s| s.lat }.try(:lat) || @planning.customer.default_position[:lat],
  map_lng: @planning.vehicle_usage_set.vehicle_usages.active.collect(&:default_store_start).compact.find{ |s| s.lng }.try(:lng) || @planning.customer.default_position[:lng],
  vehicles_array: planning_vehicles_array(@planning),
  vehicles_usages_map: planning_vehicles_usages_map(@planning),
  vehicle_colors: COLORS_TABLE,
  colors_by_route: Hash[@planning.routes.select(&:vehicle_usage).map{ |r| [r.id, r.default_color] }],
  disable_clusters: small_planning,
  url_click2call: current_user.link_phone_number,
  spreadsheet_columns: @spreadsheet_columns,
  enable_stop_status: @planning.customer.enable_stop_status,
  update_stop_status: @planning.customer.enable_stop_status? && (@planning.date.nil? || @planning.date.between?(Time.now.beginning_of_day, Time.now.end_of_day)) && @planning.customer.device.available_stop_status?,
  callback_button: @callback_button
)
%>
