<% options = @planning.id ? {layout: :horizontal, default_div_class: 'col-lg-10 col-md-10'} : {layout: :horizontal} %>
<%= twitter_bootstrap_form_for @planning, options do |f| %>
  <%= render 'shared/error_messages', model: @planning %>
  <%= f.text_field :name %>
  <% if @planning.customer.vehicle_usage_sets.size > 1 %>
    <%= f.collection_select :vehicle_usage_set_id, @planning.id ? t('activerecord.attributes.planning.vehicle_usage_set_small') : [], @planning.customer.vehicle_usage_sets, :id, :name, {}, {} %>
  <% else %>
    <%= f.hidden_field :vehicle_usage_set_id, value: @planning.customer.vehicle_usage_sets[0].id %>
  <% end %>
  <% if @planning.customer.enable_references %>
    <% if @planning.id %>
      <%= f.text_field :ref, t('activerecord.attributes.planning.ref_small') %>
    <% else %>
      <%= f.text_field :ref do %>
        <p class="help-block"><%= t '.ref_help' %></p>
      <% end %>
    <% end %>
  <% end %>
  <% if @planning.customer.enable_orders && @planning.order_array %>
    <%= f.select :order_array_id, t('.order_array'), options_for_select(@planning.customer.order_arrays.map{ |oa| [oa.name, oa.id] }, @planning.order_array.id), {div_class: 'col-lg-8 col-md-8'}, {disabled: true} do %>
      <a href="/order_arrays/<%= @planning.order_array.id %>/edit?planning_id=<%= @planning.id %>" class="btn btn-primary btn-sm" title="<%= t 'plannings.edit.order_array.edit' %>"><i class="fa fa-pencil fa-fw"></i></a>
    <% end %>
  <% end %>
  <%= f.text_field :date, {value: @planning.date ? l(@planning.date) : nil, input_group: content_tag('i', '', {class: 'fa fa-calendar fa-fw'})} %>
  <% if (@planning.id && !@planning.tags.empty?) || !@planning.id %>
    <%= f.select :tag_ids, t('activerecord.attributes.planning.tag_ids'), options_for_select(@planning.customer.tags.map{ |tag| [tag.label, tag.id, {'data-color' => tag.color && tag.color[1..-1], 'data-icon' => tag.icon}]}, @planning.tags.collect(&:id)), {}, {multiple: true, input_group: content_tag('i', '', class: 'fa fa-tags fa-fw'), disabled: @planning.id} do %>
      <% if not @planning.id %>
        <p class="help-block"><%= t '.tags_help' %></p>
      <% end %>
    <% end %>
  <% end %>
  <%= f.collection_select :zoning_id, [], @planning.customer.zonings, :id, :name, {include_blank: t('plannings.edit.zoning.none')}, {} do %>
    <a href="/zonings/<%= @planning.zoning ? @planning.zoning.id : 0 %>/edit/planning/<%= @planning.id %>?back=true" class="btn btn-primary btn-sm" id="zoning_edit"<% if !@planning.id || !@planning.zoning %> style="display: none;"<% end %> title="<%= t 'plannings.edit.zoning.edit' %>"><i class="fa fa-pencil fa-fw"></i></a>
    <a href="/zonings/new/planning/<%= @planning.id %>?back=true" class="btn btn-primary btn-sm" id="zoning_new"<% if !@planning.id || @planning.zoning %> style="display: none;"<% end %> title="<%= t 'plannings.edit.zoning.new' %>"><i class="fa fa-pencil fa-fw"></i></a>
  <% end %>
  <%= f.actions do %>
    <%= f.submit %>
  <% end %>
<% end %>
