<% options = @planning.id ? {layout: :horizontal, default_div_class: 'col-lg-10 col-md-10'} : {layout: :horizontal} %>
<%= twitter_bootstrap_form_for @planning, options do |f| %>
  <%= render 'shared/error_messages', model: @planning %>

  <%= f.text_field :name, required: true %>

  <% if @planning.customer.vehicle_usage_sets.size > 1 %>
    <%= f.collection_select :vehicle_usage_set_id, @planning.id ? t('activerecord.attributes.planning.vehicle_usage_set_small') : [], @planning.customer.vehicle_usage_sets, :id, :name, {}, {required: true} %>
  <% else %>
    <%= f.hidden_field :vehicle_usage_set_id, value: @planning.customer.vehicle_usage_sets[0].id %>
  <% end %>

  <% if @planning.customer.enable_references %>
    <% if @planning.id %>
      <%= f.text_field :ref, t('activerecord.attributes.planning.ref_small') %>
    <% else %>
      <%= f.text_field :ref do %>
        <p class="help-block"><%= t '.ref_help' %></p>
      <% end %>
    <% end %>
  <% end %>

  <% if @planning.customer.enable_orders && @planning.order_array %>
    <%= f.select :order_array_id, t('.order_array'), options_for_select(@planning.customer.order_arrays.map{ |oa| [oa.name, oa.id] }, @planning.order_array.id), {div_class: 'col-lg-8 col-md-8'}, {disabled: true} do %>
      <a href="/order_arrays/<%= @planning.order_array.id %>/edit?planning_id=<%= @planning.id %>" class="btn btn-primary btn-sm" title="<%= t 'plannings.edit.order_array.edit' %>"><i class="fa fa-pencil fa-fw"></i></a>
    <% end %>
  <% end %>

  <%= f.text_field :date, { placeholder: t('.default_date'), value: @planning.date ? l(@planning.date.to_time, format: :datepicker) : nil, input_group: content_tag('i', '', {class: 'fa fa-calendar fa-fw'})} %>

  <% unless @planning.id %>
    <div class="form-group">
      <label class="col-md-2 control-label"><%= t '.begin_end_date' %></label>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon"><%= t 'web.form.from_time' %></span>
          <%= text_field 'planning', :begin_date, class: 'form-control', value: @planning.begin_date ? l(@planning.begin_date.to_time, format: :datepicker) : nil %>
          <span class="input-group-addon"><%= t 'web.form.to_time' %></span>
          <%= text_field 'planning', :end_date, class: 'form-control', value: @planning.end_date ? l(@planning.end_date.to_time, format: :datepicker) : nil %>
          <span class="input-group-addon"><i class="fa fa-arrows-h fa-fw"></i></span>
        </div>
        <p class="help-block"><%= t '.begin_end_date_help' %></p>
      </div>
    </div>

    <%= f.toggles t 'activerecord.attributes.planning.active' do %>
      <%= f.check_box :active, '', checked: true %>
    <% end %>
  <% end %>

  <% if (@planning.id && !@planning.tags.empty?) || !@planning.id %>
    <div class="form-group">
      <label class="col-md-2 control-label" for="speed_multiplicator">
        <%= t('activerecord.attributes.planning.tag_ids') %>
      </label>

      <div class="input-append <%= @planning.id ? 'col-md-10' : 'col-md-6' %>">
        <div class="input-group">
          <%= select_tag 'planning[tag_ids]', options_for_select(@planning.customer.tags.map { |tag| [tag.label, tag.id, {'data-color' => tag.color && tag.color[1..-1], 'data-icon' => tag.icon}] }, @planning.tags.collect(&:id)), { multiple: true, include_blank: t('web.form.empty_entry'), class: 'form-control', disabled: @planning.id } %>
          <% if @planning.id %>
            <span class="input-group-addon input-group-borderless borderless-disabled"><%= t("activerecord.attributes.planning.tag_operation.#{@planning.tag_operation}") %></span>
          <% else %>
            <span class="input-group-addon input-group-borderless borderless-empty"></span>
            <%= select_tag 'planning[tag_operation]', options_for_select(t('activerecord.attributes.planning.tag_operation').invert), class: 'form-control tag-operation-field', disabled: @planning.id %>
          <% end %>
          <span class="input-group-addon"><%= content_tag('i', '', class: 'fa fa-tags fa-fw') %></span>
        </div>
        <% unless @planning.id %>
          <p class="help-block"><%= t '.tags_help' %></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @planning.new_record? %>
    <%= zoning_select f, @planning, t('plannings.edit.zonings.label') %>
  <% end %>
  <%= f.actions do %>
    <%= f.submit %>
  <% end %>
<% end %>
