<%= form_for @planning, html:{class:"form-horizontal"} do |f| %>
  <% if @planning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planning.errors.count, "error") %> prohibited this planning from being saved:</h2>

      <ul>
      <% @planning.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.label :name, class:"col-lg-2 control-label" %>
    <span class="col-lg-4"><%= f.text_field :name, class:"form-control" %></span>
  </div>
  <div class="row">
    <%= f.label :tags, class:"col-lg-2 control-label" %>
    <span class="col-lg-4 input-group">
      <%= select_tag 'tags[]', options_from_collection_for_select(current_user.tags, :id, :label), multiple: true %>
      <span class="input-group-addon input-sm"><i class="icon-tags"></i></span>
    </span>
    <script>
$('[name=tags\\[\\]]').select2({
  allow_single_deselect: true,
  no_results_text: '<%= t 'all.select2.empty_result' %>',
  width: '100%'
});
    </script>
  </div>
  <div class="row">
    <div class="col-lg-offset-2">
      <%= f.submit class:"btn btn-primary" %>
    </div>
  </div>
<% end %>
