<div id="map"></div>



<div class="box-wrapper">
  <div class="box">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-inverse btn-sm dropdown-toggle right export" data-toggle="dropdown" title="<%= t '.exports' %>"><i class="icon-share icon-fixed-width"></i><span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to planning_path(@planning) do %><i class="icon-print icon-fixed-width"></i> <%= t '.export.print' %><% end %></li>
        <li><%= link_to planning_path(@planning, format: :csv) do %><i class="icon-table icon-fixed-width"></i> <%= t '.export.spreadsheet' %><% end %></li>
      </ul>
    </div>
    <h1><%= t '.title' %></h1>

    <%= render 'form' %>
    <!--<button type="button" class="btn btn-primary btn-sm" id="optimize"><i class="icon-gears icon-fixed-width"></i> <%= t '.optimize' %></button>-->
    <div id="planning"></div>
  </div>
</div>







<div id="dialog-matrix" title="<%= t '.dialog.matrix_title' %>" style="display:none">
  <p><%= t '.dialog.matrix_in_progress' %></p>
  <div class="progress progress-striped active">
    <div class="progress-bar" style="width: 0%">
  </div>
</div>

<div id="dialog-matrix" title="<%= t '.dialog.optimizer_title' %>" style="display:none">
  <p><%= t '.dialog.optimizer_in_progress' %></p>
  <div class="progress progress-striped active">
    <div class="progress-bar" style="width: 0%">
  </div>
</div>
<%
controller.js(
  planning_id: @planning.id,
  zoning_id: @planning.zoning ? @planning.zoning.id : nil,
  map_layer_url: current_user.layer.url,
  map_lat: current_user.customer.store.lat,
  map_lng: current_user.customer.store.lng,
  map_attribution: t('all.osm_attribution_html', layer_attribution: current_user.layer.attribution),
  routes_id: @planning.routes.collect{ |route| route.id },
  vehicles_array: current_user.customer.vehicles.collect{ |vehicle|
    {id: vehicle.id, name: vehicle.name, color: vehicle.color}
  },
  vehicles_map: Hash[current_user.customer.vehicles.collect{ |vehicle|
    [vehicle.id, {id: vehicle.id, name: vehicle.name, color: vehicle.color}]
  }]
)
%>
