<div id="map"></div>

<div class="box-wrapper">
  <div class="box">
    <div class="pull-right">
      <button type="button" class="btn btn-default btn-sm extend" title="<%= t '.open_planning_panel' %>"><i class="fa fa-arrows-alt"></i></button>
    </div>
    <h1><%= t '.title' %></h1>

    <%= render 'form' %>
    <div id="global_tools" class="btn-group pull-right">
      <!--<button type="button" class="btn btn-primary btn-sm" id="optimize_all" title="<%= t '.optimize_all' %>"><i class="fa fa-gear fa-fw"></i></button>-->
      <button type="button" class="btn btn-primary btn-sm" id="optimize_each" title="<%= t '.optimize_each' %>"><i class="fa fa-gears fa-fw"></i></button>
      <button type="button" class="btn btn-default btn-sm dropdown-toggle right export" data-toggle="dropdown" title="<%= t '.exports' %>"><i class="fa fa-share-square-o fa-fw"></i><span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to planning_path(@planning) do %><i class="fa fa-print fa-fw"></i> <%= t '.export.print' %><% end %></li>
        <li><%= link_to planning_path(@planning, format: :csv) do %><i class="fa fa-table fa-fw"></i> <%= t '.export.spreadsheet_standard' %><% end %></li>
        <li><%= link_to planning_path(@planning, format: :csv, stores: false) do %><i class="fa fa-table fa-fw"></i> <%= t '.export.spreadsheet_standard_without_stores' %><% end %></li>
        <li><%= link_to planning_path(@planning, format: :excel) do %><i class="fa fa-table fa-fw"></i> <%= t '.export.spreadsheet_excel' %><% end %></li>
        <li><%= link_to planning_path(@planning, format: :gpx) do %><i class="fa fa-mobile fa-fw"></i> <%= t '.export.gps_waypoint' %><% end %></li>
        <% if @planning.customer.enable_tomtom && !@planning.customer.tomtom_account.blank? && !@planning.customer.tomtom_user.blank? && !@planning.customer.tomtom_password.blank? %>
          <li class="export_tomtom"><%= link_to planning_path(@planning, format: :tomtom, type: 'orders') do %><i class="fa fa-mobile fa-fw"></i> <%= t '.export.tomtom_orders' %><% end %></li>
          <li class="export_tomtom"><%= link_to planning_path(@planning, format: :tomtom, type: 'waypoints') do %><i class="fa fa-mobile fa-fw"></i> <%= t '.export.tomtom_waypoints' %><% end %></li>
          <li class="export_tomtom"><%= link_to planning_path(@planning, format: :tomtom, type: 'empty') do %><i class="fa fa-mobile fa-fw"></i> <%= t '.export.tomtom_empty' %><% end %></li>
        <% end %>
        <% if @planning.customer.enable_masternaut && !@planning.customer.masternaut_user.blank? && !@planning.customer.masternaut_password.blank? %>
          <li class="export_masternaut"><%= link_to planning_path(@planning, format: :masternaut) do %><i class="fa fa-mobile fa-fw"></i> <%= t '.export.masternaut' %><% end %></li>
        <% end %>
        <% if @planning.customer.enable_alyacom && !@planning.customer.alyacom_association.blank? %>
          <li class="export_alyacom"><%= link_to planning_path(@planning, format: :alyacom) do %><i class="fa fa-mobile fa-fw"></i> <%= t '.edit.export.alyacom' %><% end %></li>
        <% end %>
      </ul>
    </div>
    <div id="planning"></div>
  </div>
</div>

<div id="dialog-optimizer" title="<%= t '.dialog.optimizer.title' %>" style="display:none">
  <div class="dialog-progress">
    <p><%= t '.dialog.optimizer.in_progress' %></p>
    <div>
      <p><%= t '.dialog.optimizer.matrix' %></p>
      <div id="matrix" class="progress progress-striped">
        <div class="progress-bar" style="width: 0%"></div>
      </div>
    </div>
    <div>
      <p><%= t '.dialog.optimizer.optimize' %></p>
      <div id="optimize" class="progress progress-striped">
        <div class="progress-bar" style="width: 0%"></div>
      </div>
    </div>
    <div>
      <p><%= t '.dialog.optimizer.routes' %></p>
      <div id="routes" class="progress progress-striped">
        <div class="progress-bar" style="width: 0%"></div>
      </div>
    </div>
  </div>
  <p class="dialog-error" style="display: none"><%= t '.dialog.optimizer.error' %></p>
  <p class="dialog-attempts" style="display: none"><%= t '.dialog.optimizer.attempts' %> <span class="dialog-attempts-number"></span></p>
</div>

<div id="dialog-tomtom" title="<%= t '.dialog.tomtom.title' %>" style="display:none">
  <div class="dialog-progress">
    <p><%= t '.dialog.tomtom.in_progress' %></p>
    <div class="progress progress-striped">
      <div class="progress-bar" style="width: 100%"></div>
    </div>
  </div>
</div>

<div id="dialog-masternaut" title="<%= t '.dialog.masternaut.title' %>" style="display:none">
  <div class="dialog-progress">
    <p><%= t '.dialog.masternaut.in_progress' %></p>
    <div class="progress progress-striped">
      <div class="progress-bar" style="width: 100%"></div>
    </div>
  </div>
</div>

<div id="dialog-alyacom" title="<%= t '.dialog.alyacom.title' %>" style="display:none">
  <div class="dialog-progress">
    <p><%= t '.dialog.alyacom.in_progress' %></p>
    <div class="progress progress-striped">
      <div class="progress-bar" style="width: 100%"></div>
    </div>
  </div>
</div>

<div id="dialog-zoning" title="<%= t '.dialog.zoning.title' %>" style="display:none">
  <div class="dialog-progress">
    <p><%= t '.dialog.zoning.in_progress' %></p>
    <div class="progress progress-striped">
      <div class="progress-bar" style="width: 100%"></div>
    </div>
  </div>
</div>
<%
controller.js(
  planning_id: @planning.id,
  route_ids: @planning.routes.collect(&:id),
  zoning_id: @planning.zoning ? @planning.zoning.id : nil,
  map_layer_url: request.ssl? ? current_user.layer.urlssl : current_user.layer.url,
  map_lat: @planning.customer.default_position[:lat],
  map_lng: @planning.customer.default_position[:lng],
  map_attribution: current_user.layer.map_attribution,
  vehicles_array: @planning.customer.vehicles.collect{ |vehicle|
    {id: vehicle.id, text: vehicle.name, color: vehicle.color}
  },
  vehicles_map: Hash[@planning.customer.vehicles.collect{ |vehicle|
    [vehicle.id, {id: vehicle.id, name: vehicle.name, color: vehicle.color, capacity: vehicle.capacity}]
  }]
)
%>
