<% content_for :title, t('.title') %>

<div id="edit-planning" class="sidebar">
  <div class="sidebar-tabs">
    <ul role="tablist">
      <li><a href="#planning-pane" role="tab"><i class="fa fa-caret-left"></i></a></li>
    </ul>
  </div>
  <div class="sidebar-content">
    <div class="sidebar-pane" id="planning-pane">
      <div class="pull-right">
        <button type="button" class="btn btn-default btn-sm extend" title="<%= t '.open_planning_panel' %>"><i class="fa fa-arrows-alt"></i></button>
        <button type="button" class="btn btn-default btn-sm sidebar-close" title="<%= t '.collapse_planning_panel' %>"><i class="fa fa-caret-right"></i></button>
      </div>
      <h1><%= t '.title' %></h1>

      <%= render 'form' %>

      <%= twitter_bootstrap_form_for [:apply_zonings, @planning], { layout: :horizontal, default_div_class: 'col-lg-10 col-md-10', html: { class: 'form-horizontal update-zonings-form' }} do |f| %>
        <%= zoning_select f, @planning, t('plannings.edit.zonings.label') %>
        <%= f.actions do %>
          <%= f.submit t('plannings.edit.zonings.action'), { class: 'btn ' + (@planning.zoning_out_of_date ? 'btn-warning' : 'btn-default'), title: @planning.zoning_out_of_date ? t('.out_of_date_zoning') : nil }, 'fa-object-ungroup' %>
        <% end %>
      <% end %>

      <div id="global_tools" class="btn-group pull-right">

        <%= render 'optimization' %> 

        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="<%= t '.toggle_routes' %>">
            <i class="fa fa-eye"></i>
            <span class="caret"></span>
          </button>
          <!-- https://github.com/twbs/bootstrap/issues/1411 -->
          <ul id="toggle_routes_dropdown" class="dropdown-menu" style="right: 0; left: auto;" role="menu">
            <li data-selection="none">
              <a class="active_none" href="#">
                <i class="fa fa-eye-slash fa-fw"></i>
                <%= t 'plannings.edit.active_none' %>
              </a>
            </li>
            <li data-selection="reverse">
              <a class="active_reverse" href="#">
                <i class="fa fa-random fa-fw"></i>
                <%= t 'plannings.edit.active_reverse' %>
              </a>
            </li>
            <li data-selection="all">
              <a class="active_all" href="#">
                <i class="fa fa-eye fa-fw"></i>
                <%= t 'plannings.edit.active_all' %>
              </a>
            </li>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="<%= t '.lock_routes' %>">
            <i class="fa fa-unlock"></i>
            <span class="caret"></span>
          </button>
          <!-- https://github.com/twbs/bootstrap/issues/1411 -->
          <ul id="lock_routes_dropdown" class="dropdown-menu" style="right: 0; left: auto;" role="menu">
            <li data-selection="none">
              <a class="active_none" href="#">
                <i class="fa fa-unlock fa-fw"></i>
                <%= t 'plannings.edit.active_none' %>
              </a>
            </li>
            <li data-selection="reverse">
              <a class="active_reverse" href="#">
                <i class="fa fa-random fa-fw"></i>
                <%= t 'plannings.edit.active_reverse' %>
              </a>
            </li>
            <li data-selection="all">
              <a class="active_all" href="#">
                <i class="fa fa-lock fa-fw"></i>
                <%= t 'plannings.edit.active_all' %>
              </a>
            </li>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle right export" data-toggle="dropdown" title="<%= t '.exports' %>">
            <i class="fa fa-share-square-o"></i>
            <span class="caret"></span>
          </button>
          <!-- https://github.com/twbs/bootstrap/issues/1411 -->
          <ul class="dropdown-menu" class="dropdown-menu" style="right: 0; left: auto;" role="menu">
            <% if current_user.customer.enable_external_callback && current_user.customer.external_callback_url %>
              <li class="link customer_external_callback_url">
                <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                <%= current_user.customer.external_callback_name || t('plannings.edit.customer_external_callback_url.action') %>
              </li>
              <li role="separator" class="divider"></li>
            <% end %>
            <% if @planning.customer.tomtom? && @planning.routes.any?{|route| route.vehicle_usage && !route.vehicle_usage.vehicle.tomtom_id.blank? } %>
              <li class="link planning-tomtom-send-waypoints" data-url="/api/0.1/devices/tomtom/send_multiple" data-planning-id="<%= @planning.id %>">
                <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                <%= t 'plannings.edit.tomtom_send_waypoints.action' %>
              </li>
              <li class="link planning-tomtom-send-orders" data-url="/api/0.1/devices/tomtom/send_multiple" data-planning-id="<%= @planning.id %>">
                <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                <%= t 'plannings.edit.tomtom_send_orders.action' %>
              </li>
              <li class="link planning-tomtom-clear" data-url="/api/0.1/devices/tomtom/clear_multiple" data-planning-id="<%= @planning.id %>">
                <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                <%= t 'plannings.edit.tomtom_clear.action' %>
              </li>
              <li role="separator" class="divider"></li>
            <% end %>
            <% if @planning.customer.teksat? && @planning.routes.any?{|route| route.vehicle_usage && !route.vehicle_usage.vehicle.teksat_id.blank? } %>
              <li class="link planning-teksat-send" data-url="/api/0.1/devices/teksat/send_multiple" data-planning-id="<%= @planning.id %>">
                <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                <%= t 'plannings.edit.teksat_send.action' %>
              </li>
              <li class="link planning-teksat-clear" data-url="/api/0.1/devices/teksat/clear_multiple" data-planning-id="<%= @planning.id %>">
                <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                <%= t 'plannings.edit.teksat_clear.action' %>
              </li>
              <li role="separator" class="divider"></li>
            <% end %>
            <% if @planning.customer.orange? && @planning.routes.any?{|route| route.vehicle_usage && !route.vehicle_usage.vehicle.orange_id.blank? } %>
              <li class="link planning-orange-send" data-url="/api/0.1/devices/orange/send_multiple" data-planning-id="<%= @planning.id %>">
                <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                <%= t 'plannings.edit.orange_send.action' %>
              </li>
              <li class="link planning-orange-clear" data-url="/api/0.1/devices/orange/clear_multiple" data-planning-id="<%= @planning.id %>">
                <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                <%= t 'plannings.edit.orange_clear.action' %>
              </li>
              <li role="separator" class="divider"></li>
            <% end %>
            <% if @planning.customer.masternaut? %>
              <li class="link planning-masternaut-send" data-url="/api/0.1/devices/masternaut/send_multiple" data-planning-id="<%= @planning.id %>">
                <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                <%= t 'plannings.edit.masternaut_send.action' %>
              </li>
              <li role="separator" class="divider"></li>
            <% end %>
            <% if @planning.customer.alyacom? %>
              <li class="link planning-alyacom-send" data-url="/api/0.1/devices/alyacom/send_multiple" data-planning-id="<%= @planning.id %>">
                <i class="fa fa-mobile fa-fw"></i>
                <%= t 'plannings.edit.alyacom_send.action' %>
              </li>
              <li role="separator" class="divider"></li>
            <% end %>
            <li><%= link_to planning_path(@planning) do %><i class="fa fa-print fa-fw"></i> <%= t '.export.print' %><% end %></li>
            <li role="separator" class="divider"></li>
            <li><a class="export_spreadsheet"><i class="fa fa-table fa-fw"></i> <%= t '.export.spreadsheet' %></a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to planning_path(@planning, format: :gpx) do %><i class="fa fa-mobile fa-fw"></i> <%= t '.export.gpx_route' %><% end %></li>
            <li><%= link_to planning_path(@planning, format: :gpx, track: true) do %><i class="fa fa-mobile fa-fw"></i> <%= t '.export.gpx_track' %><% end %></li>
            <li><%= link_to planning_path(@planning, format: :kmz) do %><i class="fa fa-mobile fa-fw"></i> <%= t '.export.kmz_track' %><% end %></li>
            <% if @planning.routes.any?{|route| route.vehicle_usage && !route.vehicle_usage.vehicle.contact_email.blank? } %>
              <li class="kmz_email"><%= link_to planning_path(@planning, format: :kmz, email: 1) do %><i class="fa fa-envelope fa-fw"></i> <%= t '.export.kmz_email.action' %><% end %></li>
            <% end %>
            <li role="separator" class="divider"></li>
            <li><%= link_to api_planning_calendar_path(@planning, api_key: current_user.api_key) do %><i class="fa fa-calendar fa-fw"></i> <%= t '.export.icalendar.action' %><% end %></li>
            <% if @planning.routes.any?{|route| route.vehicle_usage && !route.vehicle_usage.vehicle.contact_email.blank? } %>
              <li class="icalendar_email"><%= link_to api_planning_calendar_path(@planning, email: 1) do %><i class="fa fa-envelope fa-fw"></i> <%= t '.export.icalendar.action_email' %><% end %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div id="planning"></div>
    </div>
  </div>
</div>

<div id="map" class="sidebar-map"></div>

<div id="planning-refresh-modal" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-refresh fa-fw"></i> <%= t 'plannings.edit.dialog.refresh.title' %></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <%= t 'plannings.edit.dialog.refresh.confirm' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t 'all.verb.dismiss' %></button>
        <button type="button" class="btn btn-primary" id="refresh-modal"><%= t 'plannings.edit.refresh' %></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="planning-spreadsheet-modal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-table fa-fw"></i> <%= t 'plannings.edit.dialog.spreadsheet.title' %></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <input type="hidden" name="spreadsheet-route" value="">
          <div class="row form-group">
            <label class="col-md-3 control-label"><%= t 'plannings.edit.dialog.spreadsheet.stops' %></label>
            <div class="col-md-9">
              <div>
                <label>
                  <input type="checkbox" name="spreadsheet-out-of-route" class="spreadsheet-stops" value="out-of-route" checked="checked">
                  <span><%= t 'plannings.edit.dialog.spreadsheet.out_of_route' %></span>
                </label>
              </div>
              <div>
                <label>
                  <input type="checkbox" name="spreadsheet-stores" class="spreadsheet-stops" value="store" checked="checked">
                  <span><%= t 'plannings.edit.dialog.spreadsheet.stores' %></span>
                </label>
              </div>
              <div>
                <label>
                  <input type="checkbox" name="spreadsheet-rests" class="spreadsheet-stops" value="rest" checked="checked">
                  <span><%= t 'plannings.edit.dialog.spreadsheet.rests' %></span>
                </label>
              </div>
              <div>
                <label>
                  <input type="checkbox" name="spreadsheet-stops-inactives" class="spreadsheet-stops" value="inactive" checked="checked">
                  <span><%= t 'plannings.edit.dialog.spreadsheet.stops_inactives' %></span>
                </label>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-3 control-label"><%= t 'plannings.edit.dialog.spreadsheet.columns' %></label>
            <div class="col-md-9">
              <div class="row" id="spreadsheet-columns">
                <div class="col-md-6">
                  <label><span><i class="fa fa-check fa-fw" style="color: green;"></i> <%= t 'plannings.edit.dialog.spreadsheet.columns_export' %></span></label>
                  <ol class="columns-export-list" id="columns-export">
                  </ol>
                </div>
                <div class="col-md-6">
                  <label><span><i class="fa fa-close fa-fw" style="color: red;"></i> <%= t 'plannings.edit.dialog.spreadsheet.columns_skip' %></span></label>
                  <ul class="columns-export-list" id="columns-skip">
                  </ul>
                </div>
              </div>
              <div class="row">
                <p class="help-block"><%= t 'plannings.edit.dialog.spreadsheet.columns_DnD_help' %></p>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-md-3 control-label"><%= t 'plannings.edit.dialog.spreadsheet.format' %></label>
            <div class="col-md-5">
              <label>
                <input type="radio" value="csv" name="spreadsheet-format" checked="checked">
                <span><%= t 'plannings.edit.dialog.spreadsheet.csv' %></span>
              </label>
            </div>
            <div class="col-md-4">
              <label>
                <input type="radio" value="excel" name="spreadsheet-format">
                <span><%= t 'plannings.edit.dialog.spreadsheet.excel' %></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t 'all.verb.dismiss' %></button>
        <button type="button" class="btn btn-primary" id="btn-spreadsheet"><i class="fa fa-download fa-fw"></i> <%= t 'plannings.edit.dialog.spreadsheet.download' %></button>
      </div>
    </div>
  </div>
</div>

<%= render 'zonings/isoline' %>

<%
layers = (current_user.customer.profile.layers + [current_user.layer]).sort_by(&:id).uniq.collect{ |layer|
  {
    name: layer.name,
    url: request.ssl? ? layer.urlssl : layer.url,
    attribution: layer.map_attribution,
    default: layer == current_user.layer,
    overlay: layer.overlay
  }
}

controller.js(
  planning_id: @planning.id,
  planning_ref: @planning.ref,
  user_api_key: current_user.api_key,
  routes_array: planning_active_routes(@planning),
  zoning_ids: @planning.zonings.collect(&:id),
  map_layers: Hash[layers.map{ |l| l[:name] }.zip(layers)],
  map_lat: @planning.vehicle_usage_set.vehicle_usages.active.collect(&:default_store_start).compact.find{ |s| s.lat }.try(:lat) || @planning.customer.default_position[:lat],
  map_lng: @planning.vehicle_usage_set.vehicle_usages.active.collect(&:default_store_start).compact.find{ |s| s.lng }.try(:lng) || @planning.customer.default_position[:lng],
  vehicles_array: planning_vehicles_array(@planning),
  vehicles_usages_map: planning_vehicles_usages_map(@planning),
  colors: COLORS_TABLE,
  url_click2call: current_user.link_phone_number,
  spreadsheet_columns: @spreadsheet_columns,
  isoline_capability: {isochrone: @isochrone_capability ? true : false, isodistance: @isodistance_capability ? true : false}
)
%>
