<% content_for :title, t('.title') %>

<div id="edit-planning" class="sidebar">
  <div class="sidebar-tabs">
    <ul role="tablist">
      <li><a href="#planning-pane" role="tab"><i class="fa fa-caret-left"></i></a></li>
    </ul>
  </div>
  <div class="sidebar-content">
    <div class="sidebar-pane" id="planning-pane">
      <div class="pull-right">
        <button type="button" class="btn btn-default btn-sm extend" title="<%= t '.open_planning_panel' %>"><i class="fa fa-arrows-alt"></i></button>
        <button type="button" class="btn btn-default btn-sm sidebar-close" title="<%= t '.collapse_planning_panel' %>"><i class="fa fa-caret-right"></i></button>
      </div>
      <h1><%= t '.title' %></h1>

      <%= render 'form' %>
      <div id="global_tools" class="btn-group pull-right">
        <!--<button type="button" class="btn btn-primary btn-sm" id="optimize_all" title="<%= t '.optimize_all' %>"><i class="fa fa-gear fa-fw"></i></button>-->
        <button type="button" class="btn btn-primary btn-sm" id="optimize_each" title="<%= t '.optimize_each' %>"><i class="fa fa-gears fa-fw"></i></button>
        <button type="button" class="btn btn-default btn-sm dropdown-toggle right export" data-toggle="dropdown" title="<%= t '.exports' %>"><i class="fa fa-share-square-o fa-fw"></i><span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to planning_path(@planning) do %><i class="fa fa-print fa-fw"></i> <%= t '.export.print' %><% end %></li>
          <li><%= link_to planning_path(@planning, format: :csv) do %><i class="fa fa-table fa-fw"></i> <%= t '.export.spreadsheet_standard' %><% end %></li>
          <li><%= link_to planning_path(@planning, format: :csv, stores: false) do %><i class="fa fa-table fa-fw"></i> <%= t '.export.spreadsheet_standard_without_stores' %><% end %></li>
          <li><%= link_to planning_path(@planning, format: :excel) do %><i class="fa fa-table fa-fw"></i> <%= t '.export.spreadsheet_excel' %><% end %></li>
          <li><%= link_to planning_path(@planning, format: :gpx) do %><i class="fa fa-mobile fa-fw"></i> <%= t '.export.gpx_route' %><% end %></li>
          <li><%= link_to planning_path(@planning, format: :gpx, track: true) do %><i class="fa fa-mobile fa-fw"></i> <%= t '.export.gpx_trace' %><% end %></li>
          <li><%= link_to planning_path(@planning, format: :kmz) do %><i class="fa fa-mobile fa-fw"></i> <%= t '.export.kmz_track' %><% end %></li>
          <li class="kmz_email"><%= link_to planning_path(@planning, format: :kmz, email: 1) do %><i class="fa fa-envelope fa-fw"></i> <%= t '.export.kmz_email.action' %><% end %></li>
          <% if @planning.customer.tomtom? %>
            <li class="tomtom_send"><%= link_to planning_path(@planning, format: :tomtom, type: 'orders') do %><i class="fa fa-mobile fa-fw"></i> <%= t '.export.tomtom_send.action' %><% end %></li>
            <li class="tomtom_send"><%= link_to planning_path(@planning, format: :tomtom, type: 'waypoints') do %><i class="fa fa-mobile fa-fw"></i> <%= t '.export.tomtom_waypoints' %><% end %></li>
            <li class="tomtom_clear"><%= link_to planning_path(@planning, format: :tomtom, type: 'empty') do %><i class="fa fa-mobile fa-fw"></i> <%= t '.export.tomtom_clear.action' %><% end %></li>
          <% end %>
          <% if @planning.customer.enable_masternaut && !@planning.customer.masternaut_user.blank? && !@planning.customer.masternaut_password.blank? %>
            <li class="export_masternaut"><%= link_to planning_path(@planning, format: :masternaut) do %><i class="fa fa-mobile fa-fw"></i> <%= t '.export.masternaut' %><% end %></li>
          <% end %>
          <% if @planning.customer.enable_alyacom && !@planning.customer.alyacom_association.blank? %>
            <li class="export_alyacom"><%= link_to planning_path(@planning, format: :alyacom) do %><i class="fa fa-mobile fa-fw"></i> <%= t '.edit.export.alyacom' %><% end %></li>
          <% end %>
        </ul>
      </div>
      <div id="planning"></div>
    </div>
  </div>
</div>

<div id="map" class="sidebar-map"></div>

<div id="dialog-optimizer" title="<%= t '.dialog.optimizer.title' %>" style="display:none">
  <div class="dialog-progress">
    <p><%= t '.dialog.optimizer.in_progress' %></p>
    <div>
      <p><%= t '.dialog.optimizer.matrix' %></p>
      <div id="matrix" class="progress progress-striped">
        <div class="progress-bar" style="width: 0%"></div>
      </div>
    </div>
    <div>
      <p><%= t '.dialog.optimizer.optimize' %></p>
      <div id="optimize" class="progress progress-striped">
        <div class="progress-bar" style="width: 0%"></div>
      </div>
    </div>
    <div>
      <p><%= t '.dialog.optimizer.routes' %></p>
      <div id="routes" class="progress progress-striped">
        <div class="progress-bar" style="width: 0%"></div>
      </div>
    </div>
  </div>
  <p class="dialog-error" style="display: none"><%= t '.dialog.optimizer.error' %></p>
  <p class="dialog-attempts" style="display: none"><%= t '.dialog.optimizer.attempts' %> <span class="dialog-attempts-number"></span></p>
</div>

<div id="dialog-tomtom" title="<%= t '.dialog.tomtom.title' %>" style="display:none">
  <div class="dialog-progress">
    <p><%= t '.dialog.tomtom.in_progress' %></p>
    <div class="progress progress-striped">
      <div class="progress-bar" style="width: 100%"></div>
    </div>
  </div>
</div>

<div id="dialog-masternaut" title="<%= t '.dialog.masternaut.title' %>" style="display:none">
  <div class="dialog-progress">
    <p><%= t '.dialog.masternaut.in_progress' %></p>
    <div class="progress progress-striped">
      <div class="progress-bar" style="width: 100%"></div>
    </div>
  </div>
</div>

<div id="dialog-alyacom" title="<%= t '.dialog.alyacom.title' %>" style="display:none">
  <div class="dialog-progress">
    <p><%= t '.dialog.alyacom.in_progress' %></p>
    <div class="progress progress-striped">
      <div class="progress-bar" style="width: 100%"></div>
    </div>
  </div>
</div>

<div id="dialog-zoning" title="<%= t '.dialog.zoning.title' %>" style="display:none">
  <div class="dialog-progress">
    <p><%= t '.dialog.zoning.in_progress' %></p>
    <div class="progress progress-striped">
      <div class="progress-bar" style="width: 100%"></div>
    </div>
  </div>
</div>
<%
layers = (current_user.customer.profile.layers + [current_user.layer]).sort_by(&:id).uniq.collect{ |layer|
  {
    name: layer.name,
    url: request.ssl? ? layer.urlssl : layer.url,
    attribution: layer.map_attribution,
    default: layer == current_user.layer,
    overlay: layer.overlay
  }
}
controller.js(
  planning_id: @planning.id,
  routes_array: @planning.routes.collect{ |r| {route_id: r.id, color: r.color, vehicle_usage_id: r.vehicle_usage_id, ref: r.ref} },
  zoning_id: @planning.zoning ? @planning.zoning.id : nil,
  map_layers: Hash[layers.map{ |l| l[:name] }.zip(layers)],
  map_lat: @planning.vehicle_usage_set.vehicle_usages.collect(&:default_store_start).find{ |s| s.lat }.lat || @planning.customer.default_position[:lat],
  map_lng: @planning.vehicle_usage_set.vehicle_usages.collect(&:default_store_start).find{ |s| s.lng }.lng || @planning.customer.default_position[:lng],
  vehicles_array: @planning.customer.vehicles.collect{ |vehicle|
    {id: vehicle.id, text: vehicle.name, color: vehicle.color, available_position: vehicle.available_position?}
  },
  vehicles_usages_map: Hash[@planning.vehicle_usage_set.vehicle_usages.collect{ |vehicle_usage|
    [
      vehicle_usage.vehicle.id, {
        vehicle_usage_id: vehicle_usage.id,
        name: vehicle_usage.vehicle.name,
        color: vehicle_usage.vehicle.color,
        capacity: vehicle_usage.vehicle.capacity,
        vehicle_id: vehicle_usage.vehicle_id
      }
    ]
  }],
  colors: Vehicle.colors_table,
  url_click2call: current_user.link_phone_number
)
%>
