<h1><%= t '.title' %></h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.plannings.name' %></th>
      <th><%= t 'activerecord.attributes.plannings.tags' %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plannings.each do |planning| %>
      <tr>
        <td><%= planning.name %></td>
        <td>
        <% planning.tags.each{ |tag| %>
          <%= tag.label %>
        <% } %>
        </td>
        <td><%= link_to edit_planning_path(planning) do %><i class="icon-edit icon-fixed-width"></i> <%= t 'all.verb.edit' %><% end %></td>
        <td><%= link_to planning, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="icon-remove icon-fixed-width"></i> <%= t 'all.verb.destroy' %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row col-lg-1">
  <%= link_to new_planning_path, class:"btn btn-default btn-sm" do %><i class="icon-plus icon-fixed-width"></i> <%= t '.new' %><% end %>
</div>
