<% content_for :title, t('.title') %>
<h1><%= t '.title' %></h1>

<div class="row row-top">
  <div class="col-md-6">
    <%= link_to new_planning_path, class:"btn btn-primary btn-sm" do %><i class="fa fa-plus fa-fw"></i> <%= t '.new' %><% end %>
  </div>
  <div class="col-md-6">
    <div class="pull-right">
      <%= @plannings.length %> <%= t 'activerecord.models.plannings', count: @plannings.count %>
    </div>
  </div>
</div>

<%= form_tag plannings_path, method: :delete do %>
<table id="plannings" class="table table-striped table-hover">
  <thead>
    <tr>
      <th><button id="add" type="button" class="btn btn-default btn-xs index_toggle_selection" title="<%= t 'all.verb.toggle_selection' %>"><i class="fa fa-check fa-fw"></i></button></th>
      <th><%= t 'activerecord.attributes.planning.name' %></th>
      <% if @customer.enable_references %>
      <th><%= t 'activerecord.attributes.planning.ref' %></th>
      <% end %>
      <th><%= t 'activerecord.attributes.planning.date' %></th>
      <th><%= t 'activerecord.attributes.planning.tags' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plannings.each do |planning| %>
      <tr>
        <td><%= check_box_tag("plannings[#{planning.id}]", planning.id) %></td>
        <td><%= planning.name %></td>
        <% if @customer.enable_references %>
        <td><%= planning.ref %></td>
        <% end %>
        <td><%= planning.date && l(planning.date) %></td>
        <td>
        <% planning.tags.each{ |tag| %>
          <%= tag.label %>
        <% } %>
        </td>
        <td class="text-right">
          <%= link_to planning_duplicate_path(planning), :class => "btn btn-default btn-sm", method: :patch do %><i class="fa fa-copy fa-fw"></i> <%= t 'all.verb.duplicate' %><% end %>
          <%= link_to edit_planning_path(planning), :class => "btn btn-primary btn-sm" do %><i class="fa fa-edit fa-fw"></i> <%= t 'all.verb.edit' %><% end %>
          <%= link_to planning, :class => "btn btn-danger btn-sm", method: :delete, data: { confirm: t('all.verb.destroy_confirm') } do %><i class="fa fa-trash-o fa-fw"></i> <%= t 'all.verb.destroy' %><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-inline">
  <%= button_tag type: :submit, class: "btn btn-danger btn-sm form-group", data: { confirm: t('all.verb.destroy_confirm') } do %><i class="fa fa-trash-o fa-fw"></i> <%= t('all.verb.destroy_selection') %><% end %>
  <div class="dropdown form-group">
    <button id="ical-hook" class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown">
      <i class="fa fa-share-square-o fa-fw"></i> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li>
        <%= link_to api_plannings_calendar_path(api_key: current_user.api_key), id: 'ical_export' do %>
          <i class="fa fa-calendar fa-fw"></i> <%= t '.export_icalendar' %>
        <% end %>
      </li>
      <li>
        <%= link_to api_plannings_calendar_path(api_key: current_user.api_key), class:"icalendar_email" do %>
          <i class="fa fa-envelope fa-fw"></i> <%= t '.export_icalendar_email' %>
        <% end %>
      </li>
      <li>
        <a class="export_spreadsheet" href="#"><i class="fa fa-table fa-fw"></i> <%= t '.spreadsheet' %></a>
      </li>
    </ul>
  </div>
</div>
<% end %>

<%= render 'layouts/modal_csv' %>

<%
controller.js(
  user_api_key: current_user.api_key,
  spreadsheet_columns: @spreadsheet_columns
)
%>
