<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @planning.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @planning.user %>
</p>

<%= link_to 'Edit', edit_planning_path(@planning) %> |
<%= link_to 'Back', plannings_path %>
